
/* CSS menu, created from this nice tutorial:
from http://www.jankoatwarpspeed.com/post/2009/01/19/Create-Vimeo-like-top-navigation.aspx 
*/


/* menu */
#menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:1000; position:relative}
#menu a { color:#fff; text-decoration:none; }
#menu > li {list-style-type:none; background:#332B2A none repeat scroll 0 0; line-height:45px; float:left; position:relative;padding:0px 10px;}
#menu > li a:hover {color:#D0956A;}
#menu li:hover {color:#D0956A; }
#menu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}
/* sub-menus*/
#menu ul { padding:0px; margin:0px; display:block; display:inline;}
#menu ul li { list-style-type:none; }
#menu li ul { position:absolute; left:-10px; top:0px; margin-top:45px; width:200px; line-height:16px; background-color:#332B2A; /* for IE */ display:none; }
#menu li:hover ul { display:block;}
#menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
#menu li ul li:first-child { border-top: none; }
#menu li ul li a { display:block; }

/* main submenu */
/*#menu #main { left:0px; top:-20px; padding-top:20px; background-color:#332B2A; color:#fff; z-index:999;}*/
/* search */
.searchContainer div { background-color:#fff; display:inline; padding:5px;}
.searchContainer input[type="text"] {border:none;}
.searchContainer input, textarea, select { margin:2px 10px; padding:2px 3px; vertical-align:middle; font-family:"Lucida Grande", Verdana, Arial, sans-serif; font-weight:normal; font-size:11px; }
.searchContainer img { vertical-align:middle;}
/* corners*/
#menu .corner_inset_left { position:absolute; top:0px; left:-12px;}
#menu .corner_inset_right { position:absolute; top:0px; left:200px;}
#menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
#menu .corner_left { position:absolute; left:0px; top:0px;}
#menu .corner_right { position:absolute; left:182px; top:0px;}
#menu .middle { position:absolute; left:18px; height: 20px; width: 165px; top:0px;}
