
.table-pydici-extra-condensed > thead > tr > th, .table-pydici-extra-condensed > tbody > tr > th, .table-pydici-extra-condensed > tfoot > tr > th, .table-pydici-extra-condensed > thead > tr > td, .table-pydici-extra-condensed > tbody > tr > td, .table-pydici-extra-condensed > tfoot > tr > td {
    padding: 0px;
}

.table-pydici-extra-condensed thead td {
    text-align: center
}

.table-pydici-extra-condensed thead th {
    text-align: center
}

/*Global time sheet table styles*/

div.table-pydici-all-timesheets {
    height: 60vh;
    overflow: auto;
}

/*Fix height to view toolbars on hover*/
.table-pydici-all-timesheets th {
    height: 60px;
}

.table-pydici-all-timesheets-sticky-header {
  position: -webkit-sticky;
  position: sticky;
  background: white;
  top: 0;
}
/*END Global time sheet table styles*/

.noborder {
    border: none !important;
}

.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.icon-list li:before {
  font-family: 'bootstrap-icons';
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: grey;
  margin-right: 5px;
}


.pydici-more-less { cursor:pointer; color:grey }


/* jquery ui customisation */
.ui-widget-header { background:None; border:None}
.ui-widget-content { border: None}


/* LINKS */
a { color: #8F6749; }
a:link, a:visited { color: #8F6749; }
a:hover { color: #883915; }
a.button-link:link, a.button-link:visited { color: #333; }

/* disabled items */
a.disabled-items {
    color: #888;
}

/* search highlight */
.search-highlight {
  background-color: yellow;
}

/* Titles */
h1 { font-size:1.8rem; }
h2 { font-size:1.5rem; }
h3 { font-size:1.25rem; }
h4 { font-size:1.1rem; }
h5 { font-size:1rem; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 350;
}


/* Add alias (kind of..) on alert-error to please django admin message std class */
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}

.bill-total-border-left {
     border-left: 2px solid #ddd !important;
}
.bill-total-border-right {
     border-right: 2px solid #ddd !important;
}
.bill-total-border-top {
     border-top: 2px solid #ddd !important;
}
.bill-total-border-bottom {
     border-bottom: 2px solid #ddd !important;
}
.no-top-border {
    border-top:0px !important;
}

.pydici-block {
    background-image:linear-gradient(#F8F8F8, white);
}

.pydici-block-title {
    padding-top: 5px;
    padding-left: 5px;
}

/* Reduce font size for bill form */
.pydici-bill-input > input, .pydici-bill-input > span > span > span { font-size: 0.8rem !important;}

.pydici-mission-timesheet > thead > tr > th, .pydici-mission-timesheet > tbody > tr > th, .pydici-mission-timesheet > tfoot > tr > th, .pydici-mission-timesheet > thead > tr > td, .pydici-mission-timesheet > tbody > tr > td, .pydici-mission-timesheet > tfoot > tr > td  { border-right:1px solid #DDDDDD;}
.pydici-mission-timesheet {  border-left:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD;}
.pydici-mission-timesheet > tbody > tr > td { padding-right: 1px;}

.timesheet-nav-btn {
    cursor: pointer;
    font-size: 150%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.timesheet-nav-btn:hover {
    color:#883915;
}

.timesheet-nav-btn-disabled {
    cursor: default;
    color: #ccc;
}

.lead-mission-sub-label {
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
}

.timesheet-week-space {
    height: 10vh;
}

.highlight-mission-sub-label {
    font-weight: bold;
}

/* Small grid like timesheet */
.tablesmall-form-row td { padding:0px; margin:0px; vertical-align: middle;}
.tablesmall-form-row input {  background: #F9F9F9; margin: 1px -2px;}
.tablesmall-form-row input:focus { border:0px; }

.tablesmall-form-row input.timesheet-keyboard {
    margin: 0;
    padding: 0;
    width: 2.5em;
    text-align: center;
}

.tablesmall-form-row input.timesheet-keyboard:focus {
    border: 1px solid #8F6749;
}

.modified, .tablesmall-form-row input.modified {
    background-color: #ffdba0 !important;
}

.tablesmall-form-row td.timesheet-error > input.timesheet-keyboard {
    border: 1px solid red;
    background-color: #ffeeee;
    color: red;
}

.tablesmall-form-row td.timesheet-day, .table-holidays td.timesheet-day {
    height: 26px;
    width: 26px;
    min-width: 26px;
    max-width: 26px;
    border: 1px solid #e6e6e6;
    position: relative;
    /* disable selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

td.no-holidays {
    background: lightgrey;
    z-index:-1;
}
td.holidays-weekend {
    background: #F6F6F6;
    z-index:-1;
}
td.in-holidays {
    background: #56160C;
    z-index:-1;
}

@font-face {
    font-family: 'circlesmedium';
    src: url('../fonts/circles/circles-webfont.eot');
    src: url('../fonts/circles/circles-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/circles/circles-webfont.woff') format('woff'),
         url('../fonts/circles/circles-webfont.ttf') format('truetype'),
         url('../fonts/circles/circles-webfont.svg#circlesmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tablesmall-form-row td.timesheet-day > input[type="text"], .tablesmall-form-row td.timesheet-day-weekend > input[type="text"] {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    font-size: 20px;
    font-family: "circlesmedium";
    cursor: pointer;
    padding: 0px;

    /* disable selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    /* remove blinking cursor */
    color: transparent;
    text-shadow: 0 0 0 black;
    position: absolute;
    top: 0;
    left: 0;
}

.tablesmall-form-row td.timesheet-day-weekend > input[type="text"] {
    background-color: LightGrey;
}

.tablesmall-form-row td.timesheet-day > input[type="text"] {
    background: #F9F9F9;
}

.tablesmall-form-row td.timesheet-mission-label, .holidays-consultant-name {
    text-align: left;
    padding-right: 2px;
}

.tablesmall-form-row td.timesheet-long-day, .table-holidays td.timesheet-long-day {
    font-size: 9px;
    vertical-align: middle;
}

.table-holidays, .table-timesheet {
    width: unset;
}

.table-collapsed {
    border-collapse: collapse;
}

/* Text frame */
.tag_banner {
    background:#F6F6F6;
    border-color: #eee;
}

/* jeditable clickable field - need to look like a link */
.jeditable-vat, .jeditable-rate, .jeditable-mission-update { color: #883915; text-decoration:none; cursor:pointer; display:inline}

.hide {
    display: none;
}

div.ui-tooltip {
    max-width: 800px;
    white-space: nowrap;
}

/* prevent bootstrap tooltip to wrap text and make it respect new line */
.tooltip-inner {
    white-space:pre;
    max-width:none;
}

/* Style jquery autocomplete */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1100;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

/* Billboard graph specific style */
#consultant_rate_graph .bb-line { stroke-width: 2px; }
#leads_bar .line-class-sales { stroke-dasharray: 2 4; stroke-width: 2px; }
#leads_bar .line-class-sales_won { stroke-width: 3px; }

/* Expense image in modal or inline */
.expense-receipt object {
    width: 100%;
    height: 400px;
}
.expense-receipt img {
    width: 100%;
}

/* bill pdf inline */
.bill-file object {
    width: 100%;
    height: 400px;
}


/* Override select2 bootstrap-5 theme font size */
.select2-container--bootstrap-5 .select2-selection {
    font-size: 0.9rem;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    font-size: 0.9rem;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2 {
    font-size: 0.9rem;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: 0.9rem;
}

/* huge text for dashboard */
.huge {
    font-size: 40px;
}

/* avoid bootstrap modal to be over select2 dropdown */
.select2-container--open {
    z-index: 9999999
}


/*
 * Hide only visually, but have it available for screenreaders
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* task priority */
.task_priority_2 {
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.task_priority_3 {
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* text rotation */
.rotate90 {
 transform: rotate(90deg);
 }

/* small input number */
.pydici_small_number input {
    width: 5em;
}

/* workload optim result */
.optim_ok { background-color: #e7ffde; }
.optim_warn { background-color: #ffc5c5; }
.optim_info { background-color: #c7f3ff; }

/* override boostratp default */
body {
    font-size: 0.9rem;
}
.form-control, .form-select, .btn, .input-group-text, .dropdown-menu {
    font-size: 0.9rem;
}

.btn-primary {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}

.btn-primary:hover,.btn-primary:disabled {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(244,141,51,.5);
    border-color: rgba(244,141,51);
    background-color: rgba(244,141,51, 0.9);
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 .25rem rgba(244,141,51,.5);
    border-color: rgba(244,141,51);
    background-color: rgba(244,141,51, 0.9);
}

.btn-primary.active, .btn-primary.active:focus {
    box-shadow: 0 0 0 .25rem rgba(244,141,51,.5);
    border-color: rgba(244,141,51);
    background-color: rgba(244,141,51, 0.9);
}

.page-item.active .page-link {
    background-color: #8F6749;
    border-color: rgba(244,141,51, 0.9);
}

.nav-pagination-timesheet {
    border:none;
}

.timesheet-time-context {
    align-self: center;
    white-space: nowrap;
    padding:0 0.1rem;
}

.timesheet-view-navigation-label {
    align-self: center;
}

.timesheet-view-navigation {
    gap: 1rem;
}

.page-link:focus, .select2-container--bootstrap-5.select2-container--focus .select2-selection,  .select2-container--bootstrap-5.select2-container--open .select2-selection,
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus,
.form-select:focus, .form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(244,141,51,.3);
    border-color: rgba(244,141,51, 0.9);
}

.form-check-input:checked {
    background-color: rgba(244,141,51, 0.9);
    border-color: rgba(244,141,51);
}

.form-check-input:focus {
    border-color: rgba(244,141,51);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(244,141,51,.5);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"],
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted,
.nav-pills .nav-link.active {
    background-color: rgba(244,141,51);
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(244,141,51);
}

.navbar-brand {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav>.active>a:hover,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  background-color: #efeff0;
}

.nav-link {
    color: #75818c;
}

.nav-link:focus, .nav-link:hover {
    color: #495057;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    //--bs-table-accent-bg: #f5f5f5;
}

.page-link,.page-link:hover {
    color: #333
}

.dropdown-header {
    padding: .25rem 1rem;
}

td a:visited, td a:link, td a:active {
    text-decoration: none;
}
td a:hover {
    text-decoration: underline;
}

/* override bootstrap datepicker default */
.datepicker {
    padding: .375rem .75rem; // bootstrap default
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
 background-color: rgba(244,141,51);
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-image: unset;
}

/* ensure menu is always on top of sticky */
.pydici-on-top {
    z-index: 1025;
}