@page
{
    size: A4;
    margin-left: 10mm;
    margin-right: 10mm;
    margin-top: 10mm;
    margin-bottom: 20mm;
}

body {
    font-size: 10px;
}

div.page {
    break-after: page;
}

div.po-page {
    page: po-page;
}

.footer {
    position: running(running-footer);
    text-align: center;
    font-size: 8px;
    width: 100%;
    bottom: -15mm;
}

.po-footer {
    position: running(running-po-footer);
    text-align: center;
    font-size: 8px;
    width: 100%;
    bottom: -15mm;
}

@page { @bottom-center { content: element(running-footer) } }
@page po-page { @bottom-center { content: element(running-po-footer) } }

.receipt {
  max-width: 100%;
  height: auto;
  max-height: 18cm;

}

/* used to reduce some default boostrap margin */
.small-margin {
    margin-bottom: 5px;
}
