@page { size: A4; margin: 1cm }
body
{
    font-size       : 10px;
}
footer
{
    position        : fixed;
    width           : 100%;
    bottom          : 0;
    margin-bottom   : 0mm;
    height          : 10mm;
    text-align      : center;
    font-size       : 10px;
}