body {
    padding-bottom: 60px;
    padding-top: 60px;
}
.navbar {
    margin-bottom: 20px;
}

.nav li { list-style-type: none; }

.table-pydici-extra-condensed > thead > tr > th, .table-pydici-extra-condensed > tbody > tr > th, .table-pydici-extra-condensed > tfoot > tr > th, .table-pydici-extra-condensed > thead > tr > td, .table-pydici-extra-condensed > tbody > tr > td, .table-pydici-extra-condensed > tfoot > tr > td {
    padding: 0px;
}

/* jquery ui customisation */
.ui-widget-header { background:None; border:None}
.ui-widget-content { border: None}


/* LINKS */
a { color: #8F6749; }
a:link, a:visited { color: #8F6749; }
a:hover { color: #883915; }


/* Titles */
h1 { font-size:20px; }
h2 { font-size:18px; }
h3 { font-size:16px; }
h4 { font-size:14px; }


/* Add alias (kind of..) on alert-error to please django admin message std class */
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}


form { margin:0; padding:0; }


/* /* TEXT STYLES & MODIFIERS */ */
.help, p.help { font-size:10px !important; color:#999; }
p img, h1 img, h2 img, h3 img, h4 img, td img { vertical-align:middle; }
.quiet, a.quiet:link, a.quiet:visited { color:#999 !important;font-weight:normal !important; }
.quiet strong { font-weight:bold !important; }
.float-right { float:right; }
.float-left { float:left; }
.clear { clear:both; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.example { margin:10px 0; padding:5px 10px; background:#efefef; }
.nowrap { white-space:nowrap; }

/* FORM DEFAULTS */
input, textarea, select { margin:2px 0; padding:2px 3px; vertical-align:middle; font-weight:normal; font-size:11px; }
textarea { vertical-align:top !important; }
input[type=text], input[type=password], textarea, select, .vTextField { border:1px solid #ccc; background: white;}
input:focus, textarea:focus { border:1px solid #C54B00; background:#F6F6F6; }


.pydici-mission-timesheet > thead > tr > th, .pydici-mission-timesheet > tbody > tr > th, .pydici-mission-timesheet > tfoot > tr > th, .pydici-mission-timesheet > thead > tr > td, .pydici-mission-timesheet > tbody > tr > td, .pydici-mission-timesheet > tfoot > tr > td  { border-right:1px solid #DDDDDD;}
.pydici-mission-timesheet {  border-left:1px solid #DDDDDD;}

/* Small grid like timesheet */
.tablesmall-form-row > tbody > tr > td { padding:0px; margin:0px; vertical-align: middle;}
.tablesmall-form-row > tbody > tr > td > input {  background: #F9F9F9; margin: 1px -2px;}
.tablesmall-form-row input:focus { border:0px; }


/* To be removed ? Need to be checked */
ul.errorlist { margin:0 !important; padding:0 !important; }
.errorlist li { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:white; background:red url(../img/icon_alert.gif) 5px .3em no-repeat; }
td ul.errorlist { margin:0 !important; padding:0 !important; }
td ul.errorlist li { margin:0 !important; }
.form-row .object-tools { margin-top:5px; margin-bottom:5px; float:none; height:2em; padding-left:3.5em; }

/* Text frame */
.tag_banner {
    background:#F6F6F6;
    margin: 10px;
    padding: 6px 8px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 2px #555;
}

/* jeditable clickable field - need to look like a link */
.jeditable-rate, .jeditable-mission-update { color: #883915; text-decoration:none; cursor:pointer; display:inline"}


/* jqplot */
.jqplot-point-label {
  padding: 1px 3px;
  background-color: rgba(220, 220, 220, 0.5);
  color: black;
  font-size: 1em;
}
.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    background: none repeat scroll 0 0 rgba(208, 208, 208, 0.9);
    font-size: 1em;
}


div.ui-tooltip {
    max-width: 800px;
    white-space: nowrap;
}

/* Style jquery autocomplete */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1100;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}