@page
{
    size: A4;
    margin-left: 10mm;
    margin-right: 10mm;
    margin-top: 10mm;
    margin-bottom: 20mm;
}

body
{
    font-size       : 10px;
}

div.footer {
    display: block;
    text-align: center;
    font-size: 8px;
    width: 100%;
    position: fixed;
    bottom: -15mm;
}

.receipt {
  max-width: 100%;
  height: auto;
  max-height: 18cm;

}

/* used to reduce some default boostrap margin */
.small-margin {
    margin-bottom: 5px;
}
