*.pyc
*.db
.*.swp
.py*
.pydevproject
.idea/
.project
.settings
.ipynb_checkpoints/
static/
venv/
venv3/
data/*
!data/documents/
data/documents/*
!data/documents/README
node_modules/
.DS_Store
.vscode/
notebooks/
celerybeat-schedule
package-lock.json
dump.rdb
pydici/settings/local.py
media/favicon-*
media/pydici/company_logo-*
