django>=4.2.2,<5.0.0
django-extensions==3.2.3
django_tables2==2.6.0
django-taggit==4.0
django-taggit-templatetags2==1.6.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
Django-Select2==8.4.1
pymemcache==4.0
django-datatables-view==1.20.0
WeasyPrint==62.3
django-weasyprint==2.3.0
bleach==5.0.1
Markdown==3.4.3
pypdf==3.17.4
ortools>=9.11.0,<9.12.0
celery[redis]==5.2.7
django-split-settings==1.1.0
django-celery-results==2.4.0
django-celery-beat==2.5.0
mysqlclient==2.1.1
python-telegram-bot[job-queue]==20.1
django-auditlog==2.3.0
factur-x==3.6
django-countries==7.5.1
factory_boy==3.3
