django>=1.8,<1.9
django_tables2
django-taggit
-e git://github.com/frankwiles/django-taggit-suggest.git#egg=django-taggit-suggest
django-taggit-templatetags
django-ajax-selects
django-permissions==1.0.3
django-workflows==1.0.2
django-extensions==1.1.1
django-debug-toolbar
django-userswitch
django-crispy-forms
Django-Select2
South==1.0.2
requests==2.5.2
lxml==3.4.2
