{# This template fragment can be included to display lead billing #}
{# Context/Argument: lead object #}

{% load i18n %}
<div class="timesheet">
    {% if lead.bill_set.all %}
    <table>
            <th>{% trans "Bill id" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Amount (€ excl tax)" %}</th>
            <th>{% trans "Creation date" %}</th>
            <th>{% trans "Due date" %}</th>
            <th>{% trans "Payment date" %}</th>
            {% for bill in lead.bill_set.all %}
                <tr>
                    <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                    <td>{{ bill.get_state_display }}</td>
                    <td style="text-align: right">{{ bill.amount|floatformat:-2 }}</td>
                    <td>{{ bill.creation_date }}</td>
                    <td>{{ bill.due_date }}</td>
                    <td>{{ bill.payment_date }}</td>
                </tr>
            {% endfor %}
    </table>
    {% else %}
            <p>{% trans "No bill yet" %}</p>
    {% endif %}

    {% if perms.billing.Can_add_Bill %}
        <i><a href="{% url pydici.billing.views.create_new_bill_from_lead lead.id %}" target="_blank">{% trans "Add a bill for this lead" %}</a></i>
    {% endif %}
</div>