{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    {% if overdue_bills %}
    <div class="imodule">
        <table>
        <caption>{% trans "Overdue bills" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Wait" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
                <td></td>
        </tr>
        {% for bill in overdue_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.client }}</a></td>
                <td style="text-align: right">{{ bill.amount|floatformat:-2 }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td>{{ bill.comment }}</td>
                <td>{% if perms.billing.Can_change_Bill %}
                    <a href="{% url pydici.billing.views.mark_bill_paid bill.id %}">{% trans "Mark this bill as paid" %}</a>
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        <tr><td></td>
            <td><b>{% trans "Total amount (€ exc. tax.): " %}</b></td>
            <td style="text-align: right"><b>{{ overdue_bills_total|floatformat:-2 }}</b></td>
            <td></td><td></td>
        </tr>
        </table>
    </div>
    {% endif %}
    {% if soondue_bills %}
    <div class="imodule">
        <table>
        <caption>{% trans "Bills due soon" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Wait" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
                <td></td>
        </tr>
        {% for bill in soondue_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.client }}</a></td>
                <td style="text-align: right">{{ bill.amount|floatformat:-2 }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td>{{ bill.comment }}</td>
                <td>{% if perms.billing.Can_change_Bill %}
                    <a href="{% url pydici.billing.views.mark_bill_paid bill.id %}">{% trans "Mark this bill as paid" %}</a>
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}        
        <tr><td></td>
            <td><b>{% trans "Total amount (€ exc. tax.): " %}</b></td>
            <td style="text-align: right"><b>{{ soondue_bills_total|floatformat:-2 }}</b></td>
            <td></td><td></td>
        </tr>
        </table>
    </div>
    {% endif %}
    {% if litigious_bills %}
    <div class="imodule">
        <table>
        <caption>{% trans "Litigious bills" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Wait" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
                <td></td>
        </tr>
        {% for bill in litigious_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.client }}</a></td>
                <td style="text-align: right">{{ bill.amount|floatformat:-2 }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td>{{ bill.comment }}</td>
                <td>{% if perms.billing.Can_change_Bill %}
                    <a href="{% url pydici.billing.views.mark_bill_paid bill.id %}">{% trans "Mark this bill as paid" %}</a>
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        <tr><td></td>
            <td><b>{% trans "Total amount (€ exc. tax.): " %}</b></td>
            <td style="text-align: right"><b>{{ litigious_bills_total|floatformat:-2 }}</b></td>
            <td></td><td></td>
        </tr>
        </table>
    </div>
    {% endif %}
    {% if recent_bills %}
    <div class="imodule">
        <table>
        <caption>{% trans "Recently paid bills" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Creation date" %}</b></td>
                <td><b>{% trans "Payment delay" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
        </tr>
        {% for bill in recent_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.client }}</a></td>
                <td style="text-align: right">{{ bill.amount|floatformat:-2 }}</td>
                <td>{{ bill.creation_date }}</td>
                <td>{{ bill.payment_delay }}</td>
                <td>{{ bill.comment }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if leads_without_bill %}
    <div class="imodule">
        <table>
        <caption>{% trans "Recent leads without bill" %}</caption>

        <tr>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Staffing" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Done days" %}</b></td>
                <td><b>{% trans "Done work (€)" %}</b></td>
        </tr>
        {% for lead in leads_without_bill %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><a href='{% url pydici.leads.views.detail lead.id %}' title='{{ lead.description }}'>{{ lead.client }} - {{ lead.name }}</a></td>
                <td>{% if lead.responsible %}<a href="{% url pydici.people.views.consultant_detail lead.responsible.id %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}</td>
                <td>{{ lead.staffing_list }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.done_work.0 }}</td>
                <td>{{ lead.done_work.1 }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}

    <img src="{% url pydici.billing.views.graph_stat_bar %}"/>

</div>
{% endblock %}