{% extends "core/pydici.html" %}
{% load i18n %}

{% block pydici-menu %}{% endblock %}
{% block messages %}{% endblock %}
{% block pydici_rss %}{% endblock %}

{% block extracss %}
    <link href="{{ MEDIA_URL }}css/pydici-pdf.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-5">
        <img alt="" src="{{ MEDIA_URL }}pydici/company_logo.png" height=40/><br/>
        {{ bill.lead.subsidiary }}<br/>
        {{ bill.lead.subsidiary.billing_address|linebreaksbr }}
        <br/>
        {% if bill.lead.client_deal_id %}{% trans "Client ref.: " %}{{ bill.lead.client_deal_id }}{% endif %}
        {% trans "Lead ref.: " %}{{ bill.lead.deal_id }}<br/>
    </div>
    <div class="col-xs-offset-1 col-xs-6">
        <div class="well"><div class="lead text-uppercase"><strong>{% trans "Bill" %}</strong></div><strong>N° {{ bill.bill_id }} / {{ bill.creation_date }}</strong></div>

        <div class="lead">{{ bill.lead.client }}</div>
        {{ bill.lead.client.organisation.company.billing_address|linebreaksbr }}
    </div>
</div>
<br/><br/>
<table class="table table-pydici-extra-condensed">
<thead>
    <tr><th><small>{% trans "Description" %}</small></th><th class="text-center"><small>{% trans "Quantity" %}</small></th>
        <th class="text-right"><small>{% trans "Unit Price €" %}</small></th><th class="text-right"><small>{% trans "Amount €" %}</small></th>
        <th class="text-right"><small>{% trans "VAT (%)" %}</small></th><th class="text-right"><small>{% trans "Amount w/ taxes €" %}</small></th>
    </tr>
</thead>
<tbody>

{% regroup bill.billdetail_set.all by mission as detail_list %}

{% for detail in detail_list %}
        <tr><td class="text-center" style="border-top:0px"><strong>{{ detail.grouper.short_name }}</strong></td></tr>
        {% regroup detail.list by month as mission_detail_list %}
        {% for mission_detail in mission_detail_list %}
            <tr><td style="border-top:0px"><strong>{{ mission_detail.grouper| date:"F Y" | default_if_none:"" }}</strong></td></tr>
            {% for item in mission_detail.list %}
                <tr>
                    <td>{% ifequal item.mission.billing_mode "TIME_SPENT" %}
                            {{ item.consultant|default_if_none:"" }}{% if item.label %} - {{ item.label }}{% endif %}
                        {% else %}
                            {% trans "Fixed price"%}{% if item.label %} - {{ item.label }}{% endif %}
                        {% endifequal %}</td>
                    <td class="text-center">{{ item.quantity }}</td><td class="text-right">{{ item.unit_price }}</td>
                    <td class="text-right">{{ item.amount }}</td><td class="text-right">{{ item.vat }}</td><td class="text-right">{{ item.amount_with_vat }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
{% endfor %}


<tr>
    <td colspan=5 class="text-right"><b>{% trans "Sub Total" %}</b></td><td class="text-right"><b>24 000</b></td>
</tr>
<tr>
    <td colspan=5 class="text-right" style="border-top:0px"><b>{% trans "VAT 20%" %}</b></td><td class="text-right"><b>4800</b></td>
</tr>
{% with bill.expensesTotal as expensesTotal %}
    {% if expensesTotal %}
        <tr>
            <td colspan=5 class="text-right" style="border-top:0px"><b>{% trans "Expenses" %}</b></td><td class="text-right"><b>{{ expensesTotal }}</b></td>
        </tr>
    {% endif %}
{% endwith %}
<tr>
    <td colspan=5 class="text-right" style="border-top:0px"><b>{% trans "Total" %}</b></td><td class="text-right"><b>28 800</b></td>
</tr>

</tbody>
</table>
<div style="page-break-inside: avoid;">
<p><small>Veuillez rédiger vos chèques à l'ordre ENIOKA SAS ou régler par virement<br/>
IBAN FR76 30003 03392 00020301101 81</small></p>
<p><strong>{% trans "Payment due date: " %}{{ bill.due_date }}</strong></p>
</div>

{% if bill.billexpense_set.count %}
<div style="page-break-after:always;"></div>
<br/><br/><br/><br/>
<h2>{% trans "Expenses details" %}</h2>
<table class="table table-condensed table-stripped">
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Expense label" %}</th>
        <th>{% trans "Amount (with VAT)" %}</th>
    </tr>
    {% for billExpense in bill.billexpense_set.all %}
        <tr>
            <td> {{ billExpense.expense_date }}</td>
            <td> {{ billExpense.label }}</td>
            <td> {{ billExpense.amount_with_vat }} €</td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="2" class="text-right">{% trans "Total" %}</th>
        <th>{{ bill.expensesTotal }} €</th>
    </tr>

</table>
{% endif %}

<footer style="position: fixed"> <!-- footer contents will be repeated and overlapped on each page until </table> is not reached -->
    <small><em>{{ bill.lead.subsidiary.legal_description }}</em></small>
</footer>
{% endblock %}