{% extends "core/pydici.html" %}
{% load i18n %}

{% block pydici-menu %}{% endblock %}
{% block messages %}{% endblock %}
{% block pydici_rss %}{% endblock %}

{% block content %}

<table>
<tr>
    <td><div style="text-align:center">
            <small><em>{{ bill.lead.subsidiary.legal_description }}</em></small>
        </div>
    </td>
    <td style="padding: 15px; white-space:nowrap">{% trans "Page" %} <span class="page"></span> / <span class="topage"></span></td>
</tr>
</table>

<script>
$(document).ready(function() {

      console.log("coucou");
      var vars={};
      var x=document.location.search.substring(1).split('&');
      for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
      var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
      for(var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
      }
});
</script>

{% endblock %}