{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    {% if overdue_bills %}
    <div class="module">
        <table>
        <caption>{% trans "Overdue bills" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Wait" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
                <td></td>
        </tr>
        {% for bill in overdue_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.lead }}</a></td>
                <td>{{ bill.amount|floatformat }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td>{{ bill.Comments }}</td>
                <td>{% if perms.billing.Can_change_Bill %}
                    <a href="{% url pydici.billing.views.mark_bill_paid bill.id %}">{% trans "Mark this bill as paid" %}</a>
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if soondue_bills %}
    <div class="module">
        <table>
        <caption>{% trans "Bills due soon" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Wait" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
                <td></td>
        </tr>
        {% for bill in soondue_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.lead }}</a></td>
                <td>{{ bill.amount|floatformat }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td>{{ bill.Comments }}</td>
                <td>{% if perms.billing.Can_change_Bill %}
                    <a href="{% url pydici.billing.views.mark_bill_paid bill.id %}">{% trans "Mark this bill as paid" %}</a>
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if litigious_bills %}
    <div class="module">
        <table>
        <caption>{% trans "Litigious bills" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Wait" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
                <td></td>
        </tr>
        {% for bill in litigious_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.lead }}</a></td>
                <td>{{ bill.amount|floatformat }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td>{{ bill.Comments }}</td>
                <td>{% if perms.billing.Can_change_Bill %}
                    <a href="{% url pydici.billing.views.mark_bill_paid bill.id %}">{% trans "Mark this bill as paid" %}</a>
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if recent_bills %}
    <div class="module">
        <table>
        <caption>{% trans "Recently paid bills" %}</caption>
        <tr>
                <td><b>{% trans "Bill id" %}</b></td>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Amount (€ excl tax)" %}</b></td>
                <td><b>{% trans "Creation date" %}</b></td>
                <td><b>{% trans "Payment delay" %}</b></td>
                <td><b>{% trans "Comments" %}</b></td>
        </tr>
        {% for bill in recent_bills %}
            <tr>
                <td><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }}</a></td>
                <td><a href="{% url pydici.leads.views.detail bill.lead.id %}">{{ bill.lead }}</a></td>
                <td>{{ bill.amount|floatformat }}</td>
                <td>{{ bill.creation_date }}</td>
                <td>{{ bill.payment_delay }}</td>
                <td>{{ bill.Comments }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}