{% extends "core/pydici.html" %}

{% load i18n %}
{% load crispy_forms_tags %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}


<form action="{%if bill_id %}{% url 'billing:client_bill' bill_id=bill_id %}{% endif %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>{% trans "Bill header" %}</h2>
    {% crispy bill_form %}
    <hr>
    {% if detail_formset %}
        <h2>{% trans "Bill mission detail" %}</h2>
        {% with detail_formset as formset %}{% include "bootstrap3/errors_formset.html" %}{% endwith %}
        {% crispy detail_formset detail_formset_helper %}
        <h2>{% trans "Bill expense detail" %}</h2>
        {% with expense_formset as formset %}{% include "bootstrap3/errors_formset.html" %}{% endwith %}
        {% crispy expense_formset expense_formset_helper %}
    {% endif %}
    <div class="form-actions">
        {% if can_delete %}
            <a role="button" class="btn btn-danger" style="color:#FFFFFF" href="{% url 'billing:clientbill_delete' bill_id %}">{% trans "delete" %}</a>
        {% endif %}
        <div class="pull-right">
            <input id="submit-id-submit" class="btn btn-default" type="submit" value="{% trans 'Save' %}" name="Submit">
            {% if can_preview %}
                <a class="btn btn-default" href="{% url 'billing:bill_pdf' bill_id %}">{% trans "Preview bill as PDF" %}</a>
            {% endif %}
        </div>

    </div>
</form>

{% include "core/_datepicker.html" %}

{% endblock %}