{# Fragment that display leads stat/bar graph to be included with a jquery load #}
{# One must include in its extrajs block core/_jqplot.html to load according js/css #}
{% load i18n %}

<div id="graph_billing_jqp" class="col-lg-12 pydici-plot" style="height:300px"></div>

<script type="text/javascript">

{% include "core/_jqplot_legend.html" %}

$.jqplot.config.enablePlugins = true;
var plot_graph_billing_jqp = $.jqplot('graph_billing_jqp', {{ graph_data|safe }},
		{
         animate : false,
         stackSeries: true,
         captureRightClick: true,
         seriesColors: {{ series_colors|safe }},
         seriesDefaults:{
           pointLabels: {show: false},
           renderer:$.jqplot.BarRenderer,
           rendererOptions: {
               barMargin: 20,
               barWidth: 15,
           },
         },
         series:[
               {% for label in series_label %}
                   {label: "{{ label }}",
                    highlighter: {
                    tooltipAxes: 'y',
                    yvalues: 3,
                    formatString:"<div align=\'center\'>%u {% trans ' k€ of bills in state' %} {{ label }}</div>",
                    showLabel: true,
                    sizeAdjust: 7.5,
                      },
                    },
               {% endfor %}
                   {
                	   label: "{% trans 'Done work' %}",
                	   renderer: $.jqplot.LineRenderer,
                	   rendererOptions: { smooth: true },
                	   //linePattern: 'dashed',
                	   lineWidth: 2,
                	   markerOptions : { size : 5},
                	   //yaxis: 'y2axis',
                	   disableStack : true,
                       pointLabels: { show:true, location:"n" },

                   },
                   {
                       label: "{% trans 'Forecasted work' %}",
                       renderer: $.jqplot.LineRenderer,
                       rendererOptions: { smooth: true },
                       linePattern: 'dashed',
                       lineWidth: 2,
                       markerOptions : { size : 5},
                       disableStack : true,

                   },
                   {
                       label: "{% trans 'Weighted forecasted work' %}",
                       renderer: $.jqplot.LineRenderer,
                       rendererOptions: { smooth: true },
                       linePattern: 'dashed',
                       lineWidth: 2,
                       markerOptions : { size : 5},
                       //yaxis: 'y2axis',
                       disableStack : true,

                   },
             ],
         axes: {
           xaxis: {
               renderer: $.jqplot.DateAxisRenderer,
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
               tickOptions:{
            	   formatString:'%b %y',
            	   angle: -40
               },
               //min: '{{ min_date }}',
               tickInterval: '1 month',
           },
           yaxis: {
               padMin: 0,
               pad : 1.05,
               syncTicks : true,
               label: "k€",
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
           },
         },
         legend: {
        	 show: showLegend,
        	  location: 'e',
        	  placement: legendPosition,
         },
         highlighter: {
             tooltipAxes: 'y',
             showLabel: true,
             sizeAdjust: 7.5,
             tooltipLocation: 'se',
         },
});

{% with "plot_graph_billing_jqp" as plot %}
    {% include "core/_jqplot_resize.html" %}
{% endwith %}


</script>
