{# Fragment that display cilent bill graph to be included with a jquery load #}
{# One must include in its extrajs block core/_billboard.html to load according js/css #} {% load i18n %}

{% if graph_data %}
    <h3 class="text-center">{% trans "Client billing history" %}</h3>
    <div id="bills_bar"></div>
    <script type="text/javascript">
        var chart = bb.generate({
        bindto: '#bills_bar',
        data: {
             json : {{ graph_data | safe }},
             keys: {
                value: ["amount_sent", "amount_paid"],
                x: "month",
             },
             type: 'bar',
             groups: [["amount_sent", "amount_paid"]],
             names: {"amount_sent": "{% trans 'sent bills' %}", "amount_paid": "{% trans 'paid bills' %}"},
        },
        grid: {
            y: { show: true },
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m',
                    rotate: 45,
                },
            },
            y: {
                label : {
                    text: "{% trans 'Billed (k€)' %}",
                    position: 'outer-middle',
                },
            },
        },
      });
    </script>
{% endif %}