{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block title %}{% trans "Client billing creation and payment delay pivot table" %}{% endblock %}

{% block content %}

<h2 class="mt-2">{% trans "Client billing creation and payment delay for last 24 month" %}</h2>

<div class="row col-12">
    <div id="type-selector" class="btn-group" role="group">
        <button class="btn btn-primary active" onclick=" payment_delay_by_company();">{% trans "Delay by company" %}</button>
        <button class="btn btn-primary" onclick="payment_wait_by_company();">{% trans "Wait by company" %}</button>
        <button class="btn btn-primary" onclick="payment_delay_by_broker();">{% trans "Delay by paying authority" %}</button>
        <button class="btn btn-primary" onclick="payment_wait_by_broker();">{% trans "Wait by paying authority" %}</button>
        <button class="btn btn-primary" onclick="wait_over_time();">{% trans "Wait over time" %}</button>
        <button class="btn btn-primary" onclick="lag_by_responsible();">{% trans "Creation lag by responsible" %}</button>
        <button class="btn btn-primary" onclick="lag_over_time();">{% trans "Creation lag over time" %}</button>
    </div>
</div>

<div class="row"></div>

<div id="pivotable-output" style="margin-top: 10px;"></div>

{% with output="pivotable-output" %}
    {% include "core/_pivotable_body.html" %}
{% endwith %}

<script type="text/javascript">

    // Active state switcher
    $(document).ready(function() {
        $('#type-selector button').on("click", function() {
            $(this).addClass('active').siblings().removeClass('active');
         });
    });

    // Share data for all pivot tables
    var data = {{ data|safe }};

    // Preset definition
    function payment_delay_by_company() {
        var rows = ["{% trans 'client company' %}", "{% trans 'Billing mode' %}"];
        var cols = ["{% trans 'Subsidiary' %}"];
        var options = {};
        options["rowOrder"] = "value_z_to_a";
        drawPivot(data, rows, cols, "Table", '{% trans "Average" %}', ["{% trans 'payment delay' %}"], options);
    }

    function payment_wait_by_company() {
        var rows = ["{% trans 'client company' %}", "{% trans 'Billing mode' %}"];
        var cols = ["{% trans 'Subsidiary' %}"];
        var options = {};
        options["rowOrder"] = "value_z_to_a";
        drawPivot(data, rows, cols, "Table", '{% trans "Average" %}', ["{% trans 'payment wait' %}"], options);
    }

    function payment_delay_by_broker() {
        var rows = ["{% trans 'Paying authority' %}", "{% trans 'Billing mode' %}"];
        var cols = ["{% trans 'Subsidiary' %}"];
        var options = {};
        options["rowOrder"] = "value_z_to_a";
        drawPivot(data, rows, cols, "Table", '{% trans "Average" %}', ["{% trans 'payment delay' %}"], options);
    }

    function payment_wait_by_broker() {
        var rows = ["{% trans 'Paying authority' %}", "{% trans 'Billing mode' %}"];
        var cols = ["{% trans 'Subsidiary' %}"];
        var options = {};
        options["rowOrder"] = "value_z_to_a";
        drawPivot(data, rows, cols, "Table", '{% trans "Average" %}', ["{% trans 'payment wait' %}"], options);
    }

    function wait_over_time() {
        var rows = ["{% trans 'Subsidiary' %}"];
        var cols = ["{% trans 'creation date' %}"];
        drawPivot(data, rows, cols, "Line Chart", '{% trans "Average" %}', ["{% trans 'payment wait' %}"]);
    }


    function lag_by_responsible() {
        var rows = ["{% trans 'Responsible' %}", "{% trans 'client company' %}", "{% trans 'Lead' %}", "{% trans 'Billing mode' %}"];
        var cols = [];
        var options = {};
        options["rowOrder"] = "value_z_to_a";
        drawPivot(data, rows, cols, "Table", '{% trans "Average" %}', ["{% trans 'creation lag' %}"], options);
    }

    function lag_over_time() {
        var rows = ["{% trans 'Subsidiary' %}"];
        var cols = ["{% trans 'creation date' %}"];
        drawPivot(data, rows, cols, "Line Chart", '{% trans "Average" %}', ["{% trans 'creation lag' %}"]);
    }


    // default
     payment_delay_by_company();

</script>

{% endblock %}