{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{{ MEDIA_URL }}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Billing preparation" %}{% endblock %}

{% block content %}
<div class="content-large">
<h1>{% trans "Pre billing for time spent missions" %} - {{ month|date:"F Y" }}</h1>
{% for lead, lead_data in time_spent_billing %}
    <h2><a href="{% url 'leads.views.detail' lead.id %}">{{ lead }} ({{ lead.deal_id }})</a></h2>
    {% for mission, mission_data in lead_data.1.items %}
        <h5><a href="{% url 'staffing.views.mission_home' mission.id %}">{{ mission }} ({{ mission.mission_id }})</a></h5>
            <table>
            <tr><th>{% trans "consultant" %}</th><th>{% trans "days" %}</th><th>{% trans "rate" %}</th><th>{% trans "total" %}</th></tr>
            {% for consultant, charge, rate, total in mission_data.1 %}
                <tr><td><a href="{% url 'people.views.consultant_home' consultant.id %}">{{ consultant }}</a></td><td>{{ charge }}</td><td>{{ rate|floatformat:"-2" }} €</td><td>{{ total|floatformat:"-2" }} €</td></tr>
            {% endfor %}
            <tr><th>{% trans "total" %}</th><td></td><td></td><th>{{ mission_data.0|floatformat:"-2" }} €</th></tr>
            </table>
    {% endfor %}
     {% ifequal lead.mission_set.count 1 %}
        <h4></h4>
     {% else %}
        <h4>{% trans "Total:" %} {{ lead_data.0|floatformat:"-2"}} €</h4>
     {% endifequal %}
     <a href="{% url 'admin:billing_clientbill_add' %}?lead={{ lead.id }};amount={{ lead_data.0|stringformat:".2f" }}" target="_blank">{% trans "Add a client bill for this lead" %}</a>
     <br/><br/><hr/>
{% endfor %}

<h1>{% trans "Pre billing for fixed price missions" %} - {{ month|date:"F Y" }}</h1>
<div><ul>
{% for mission in fixed_price_missions %}
    {% ifchanged mission.lead %}
        </ul></div><hr/>
        <h2>{{ mission.lead }} ({{ mission.lead.deal_id }})</h2>
        {% with mission.lead as lead %}{% include "billing/_lead_billing.html" %}{% endwith %}
        <div class="timesheet">
        <h3>{% trans "Fixed price mission(s)" %}</h3>
        <ul>
    {% endifchanged %}
    <li><a href="{% url 'staffing.views.mission_home' mission.id %}">{{ mission }} ({{ mission.mission_id }}) : </a>
    {% blocktrans with mission.done_work_k.1|floatformat as done %}{{ done }} k€ done {% endblocktrans %}({% trans "sold:" %} {{ mission.price }} k€)

{% endfor %}

</div>
{% endblock %}