{% extends "core/pydici.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Billing preparation" %}{% endblock %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block bodyattr %} data-bs-spy="scroll" data-bs-target="#billing-toc" data-bs-offset="10" style="position: relative;" {% endblock %}
{% block content %}


<div class="row mt-2">
    <div class="btn-group col-lg-4" data-toggle="buttons">
        <div class="btn-group col-lg-6">
            <button class="btn btn-primary {% if mine %}active{% endif %}"
                    onclick="window.location='{% url 'billing:pre_billing' start_date=start_date|date:'Ym' end_date=end_date|date:'Ym' mine=True %}'">
                {% trans "Only my leads" %}
            </button>
        </div>
        <div class="btn-group col-lg-6">
          <button type="button" class="btn btn-primary dropdown-toggle {% if not mine %}active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
            {{ scope }}
          </button>
          <ul class="dropdown-menu">
              {% for scope_type, scope_filter, scope_label in scopes %}
                {% ifchanged scope_type %}
                    {% if not forloop.first %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                {% endifchanged %}
                <li><a class="dropdown-item" href="{% url 'billing:pre_billing' start_date=start_date|date:'Ym' end_date=end_date|date:'Ym' mine=False %}/?{{scope_filter}}">{{ scope_label }}</a></li>
              {% endfor %}
          </ul>
        </div>

    </div>
    <div class="btn-group col-lg-4" data-toggle="buttons">
        <input id="startDate" name="startDate" class="btn btn-primary datepicker dateinput" data-date-format="mm/yyyy" data-date-min-view-mode=1 placeholder="{% trans 'From' %}">
        <input id="endDate" name="endDate" class="btn btn-primary datepicker dateinput" data-date-format="mm/yyyy" data-date-min-view-mode=1 placeholder="{% trans 'To' %}">
    </div>
</div>

<div class="row">

<div class="col-lg-3 order-1 order-lg-2">
    <div id="billing-toc" class="sticky-lg-top">
        <nav class="navbar navbar-light bg-light">
              <nav class="nav nav-pills flex-column">
                  {% if time_spent_billing %}
                      <a href="#client-timespent" class="nav-link">{% trans "Pre billing for time spent missions" %}</a>
                      <nav class="nav nav-pills flex-column">
                          {% for lead, lead_data in time_spent_billing %}
                            {% ifchanged lead.client.organisation.company %}
                                <a href="#ts-company-{{ lead.client.organisation.company.id|unlocalize }}" class="nav-link ms-3 py-0">{{ lead.client.organisation.company }}</a>
                            {% endifchanged %}
                          {% endfor %}
                      </nav>
                  {% endif %}
                  {% if fixed_price_billing %}
                      <a href="#client-fixedprice" class="nav-link">{% trans "Pre billing for fixed price missions" %}</a>
                      <nav class="nav nav-pills flex-column">
                          {% for mission, done, billed, still_to_bill in fixed_price_billing %}
                            {% ifchanged mission.lead.client.organisation.company %}
                                <a href="#fp-company-{{ mission.lead.client.organisation.company.id|unlocalize }}" class="nav-link ms-3 py-0">{{ mission.lead.client.organisation.company }}</a>
                            {% endifchanged %}
                          {% endfor %}
                      </nav>
                  {% endif %}
                  {% if internal_billing %}
                    <a href="#internal" class="nav-link">{% trans "Pre billing between subsidiaries" %}</a>
                  {% endif %}
              </nav>
        </nav>
    </div>
</div>

<div class="col-lg-9 order-2 order-lg-1">
<h2 id="client-timespent" class="mt-3">{% trans "Pre billing for time spent missions" %} ({{ start_date }} - {{ end_date }})</h2>

{% for lead, lead_data in time_spent_billing %}
    {% ifchanged lead.client.organisation.company.id %}<span id="ts-company-{{ lead.client.organisation.company.id|unlocalize }}"></span>{% endifchanged %}
    <h4 class="mt-2"><a href="{% url 'leads:detail' lead.id %}">{{ lead }} ({{ lead.deal_id }})</a></h4>
    {% for mission, mission_data in lead_data.1.items %}
        <h5 class="mt-2"><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission.short_name }}</a></h5>
        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-12">
                <table class="table table-sm table-striped table-hover">
                    <tr><th>{% trans "consultant" %}</th><th>{% trans "days" %}</th><th>{% trans "rate" %}</th><th>{% trans "total" %}</th></tr>
                    {% for consultant, charge, rate, total in mission_data.1 %}
                        <tr><td>{% include "people/__consultant_name.html" %}</td>
                            <td>{{ charge }} </td>
                            <td>{{ rate|floatformat:"-2" }} €</td>
                            <td>{{ total|floatformat:"-2" }} €</td>
                        </tr>
                    {% endfor %}
                    <tr><th>{% trans "total" %}</th><td></td><td></td><th>{{ mission_data.0|floatformat:"-2" }} €</th></tr>
                </table>
            </div>
            <div class="col-lg-5 col-md-4 col-6">
                <a class="btn btn-primary" href="{% url 'billing:client_bill' %}?mission={{ mission.id|unlocalize }}&start_date={{start_date|date:'Ym'}}&end_date={{end_date|date:'Ym'}}" target="_blank">{% trans "Add a client bill for this mission" %}</a>
            </div>
        </div>

    {% endfor %}
    {% if lead_data.1.keys|length <= 1 %}
        <h4></h4>
    {% else %}
        <a class="btn btn-primary" href="{% url 'billing:client_bill' %}?lead={{ lead.id|unlocalize }}&start_date={{start_date|date:'Ym'}}&end_date={{end_date|date:'Ym'}}" target="_blank">{% trans "Add a client bill for all missions of this lead" %}</a>
        <p class="mt-2"><strong>{% trans "Total:" %} {{ lead_data.0|floatformat:-2}} €</strong></p>
    {% endif %}
    {% with to_bill=lead.still_to_be_billed_excl_current_month %}
        {% if to_bill == 0 %}
            <p class="text-success"><strong><i class="bi bi-check-lg"></i>{% trans "Everything has been billed" %}</strong></p>
        {% elif to_bill < 0 %}
            <p class="text-success"><strong>{% trans "Billing in advance:" %} {{ to_bill|floatformat:-2 }} €</strong></p>
        {% else %}
            <p class="text-danger"><strong><i class="bi bi-exclamation-triangle pydici-tooltip d-none d-md-inline" title="{% blocktrans %}Done work (excluding current month) still not billed. Draft bills are not considered.{% endblocktrans %}"></i>
                {% trans "Still to be billed: " %}{{ lead.still_to_be_billed_excl_current_month|floatformat:-2 }} €
            </strong></p>
            {% endif %}
    {% endwith %}
     <hr/>
{% endfor %}

<h2 id="client-fixedprice" class="mt-3">{% trans "Pre billing for fixed price missions" %} ({{ start_date }} - {{ end_date }})</h2>
{% for mission, done, billed, still_to_bill in fixed_price_billing %}
    {% ifchanged mission.lead.client.organisation.company.id %}<span id="fp-company-{{ mission.lead.client.organisation.company.id|unlocalize }}"></span>{% endifchanged %}
    {% ifchanged mission.lead %}
        <h4 class="mt-2"><a href="{% url 'leads:detail' mission.lead.id %}">{{ mission.lead }} ({{ mission.lead.deal_id }})</a></h4>
    {% endifchanged %}


    <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-12">
                <table class="table table-sm table-striped table-hover">
                    <tr><th>{% trans "mission" %}</th>
                        <th>{% trans "done" %}</th>
                        <th>{% trans "billed" %}</th>
                        <th>{% trans "sold" %}</th>
                        <th>{% trans "still to be billed" %}</th>
                    </tr>
                    <tr><td><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission.short_name }} : </a></td>
                        <td class="nowrap">{{ done | floatformat:"-3" }} k€</td>
                        <td class="nowrap">{{ billed | floatformat:"-3" }} k€</td>
                        <td class="nowrap">{{ mission.price | floatformat:"-3" }} k€</td>
                        <td class="nowrap">
                            {% if still_to_bill > 0 %}
                                {% if billed >= done %}
                                    <p class="text-warning"><strong><i class="bi bi-exclamation-triangle"></i></strong>{{ still_to_bill | floatformat:"-3" }} k€</p>
                                {% else %}
                                    <p class="text-danger"><strong><i class="bi bi-exclamation-triangle"></i></strong>{{ still_to_bill | floatformat:"-3" }} k€</p>
                                {% endif %}
                            {% elif still_to_bill == 0 %}
                                <p class="text-success"><strong><i class="bi bi-check-lg"></i></strong>{% trans "Everything has been billed" %}</p>
                            {% else %}
                                <p class="text-danger"><strong><i class="bi bi-exclamation-triangle"></i></strong>{% trans "Overbilling" %} {{ still_to_bill | floatformat:"-3" }} k€</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        <div class="col-lg-5 col-md-4 col-6">
            <div class ="row">{% trans "Bill:" %}</div>
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'billing:client_bill' %}?mission={{ mission.id|unlocalize }}&proportion=0.3" target="_blank">{% trans "30%" %}</a>
                <a class="btn btn-primary" href="{% url 'billing:client_bill' %}?mission={{ mission.id|unlocalize }}&proportion=0.7" target="_blank">{% trans "70%" %}</a>
                <a class="btn btn-primary" href="{% url 'billing:client_bill' %}?mission={{ mission.id|unlocalize }}&amount={{ still_to_bill|unlocalize }}" target="_blank">{% trans "Remaining" %}</a>
            </div>
        </div>
    </div>

    <hr/>
{% endfor %}

{% if internal_billing %}
<h2 id="internal" class="mt-3">{% trans "Internal billing" %}</h2>
{% for internal_subsidiaries, subsidiary_internal_billing in internal_billing.items %}
    <h3 class="mt-3">{% blocktrans with from=internal_subsidiaries.0 to=internal_subsidiaries.1 %}Internal billing from {{ from }} to {{ to }}{% endblocktrans %} ({{ start_date }} - {{ end_date }})</h3>

    {% for lead, lead_data in subsidiary_internal_billing %}
        <h4 class="mt-2"><a href="{% url 'leads:detail' lead.id %}">{{ lead }} ({{ lead.deal_id }})</a></h4>
        {% for mission, mission_data in lead_data.1.items %}
            <h5 class="mt-2"><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission.short_name }}</a></h5>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <table class="table table-sm table-striped table-hover">
                        <tr><th>{% trans "consultant" %}</th><th>{% trans "days" %}</th><th>{% trans "rate" %}</th><th>{% trans "total" %}</th></tr>
                        {% for consultant, charge, rate, total in mission_data.1 %}
                            <tr><td>{% include "people/__consultant_name.html" %}</td>
                                <td>{{ charge }} </td>
                                <td>{{ rate|floatformat:"-2" }} €</td>
                                <td>{{ total|floatformat:"-2" }} €</td>
                            </tr>
                        {% endfor %}
                        <tr><th>{% trans "total" %}</th><td></td><td></td><th>{{ mission_data.0|floatformat:"-2" }} €</th></tr>
                    </table>
                </div>
            </div>
        {% endfor %}
         {% if lead.mission_set.count != 1 %}
            <h4>{% trans "Total:" %} {{ lead_data.0|floatformat:"-2"}} €</h4>
         {% endif %}
         <a class="btn btn-primary" href="{% url 'billing:internal_bill' %}?lead={{ lead.id|unlocalize }}&start_date={{start_date|date:'Ym'}}&end_date={{end_date|date:'Ym'}}&buyer={{internal_subsidiaries.1.id}}&seller={{internal_subsidiaries.0.id}}" target="_blank">{% trans "Add an internal bill" %}</a>
         <hr/>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'billing:internal_bill' %}?start_date={{start_date|date:'Ym'}}&end_date={{end_date|date:'Ym'}}&buyer={{internal_subsidiaries.1.id}}&seller={{internal_subsidiaries.0.id}}" target="_blank">
        {% trans "Add internal bill for all missions" %}
    </a>
    <hr/>
{% endfor %}
{% endif %}

{% if undefined_billing_mode_missions %}
    <hr>
    <h2 id="undefined_billing_mode_missions" class="alert alert-danger">{% trans "Missions without defined billing mode" %} ({{ start_date }} - {{ end_date }})</h2>
    {% for mission in undefined_billing_mode_missions %}
        {% ifchanged mission.lead %}
            <hr/>
            <h4>{{ mission.lead }} ({{ mission.lead.deal_id }})</h4>
        {% endifchanged %}
        <p><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission }} ({{ mission.mission_id }}) : </a>
        {% blocktrans with mission.done_work_k.1|floatformat as done %}{{ done }} k€ done {% endblocktrans %}({% trans "sold:" %} {{ mission.price }} k€)
        </p>
    {% endfor %}
{% endif %}


</div>
</div>  {# end of row #}

{% include "core/_datepicker.html" %}

<script type="text/javascript">
$(document).ready(function() {
    $(".pydici-tooltip").tooltip();

    // set dates on widgets with template value
    {% if start_date %}
        $("#startDate").datepicker("setDate", new Date("{{ start_date|date:"Y-m-d" }}"));
    {% endif %}
    {% if end_date %}
        $("#endDate").datepicker("setDate", new Date("{{ end_date|date:"Y-m-d" }}"));
    {% endif %}

    // reload data with choosen timeframe
    $('.datepicker').datepicker().on("change", function(e) {
        var param = "";
        var fromDate = $("#startDate").datepicker("getDate");
        var toDate   = $("#endDate").datepicker("getDate");
        if (fromDate > toDate || fromDate.getTime() == toDate.getTime()) {
            toDate = new Date(toDate.setMonth(toDate.getMonth()+1));
        }
        if (!isNaN(fromDate.getTime())) {
            param += yyyymm(fromDate) + '/';
        }
        if (!isNaN(toDate.getTime())) {
            param += yyyymm(toDate);
        }
        window.location.href = window.location.href.replace(/\?.*/, '').replace(/\d{6}\/?/g, '') + param;
    });

});
</script>
{% endblock %}