{% extends "core/pydici.html" %}
{% load i18n %}

{% block extrajs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/datatables_custom_sort.js"></script>
{% endblock %}

{% block title %}{% trans "Supplier bills validation" %}{% endblock %}

{% block content %}
    <h1>{% trans "Supplier bills to review" %}</h1>

    {% if supplier_overdue_bills %}
        <h2 class="mt-3">{% trans "Supplier over due bills" %}</h2>
        <table id="supplier_overdue_bills" class="table table-hover table-striped table-sm table-bordered">
        <thead>
        <tr>
                <th>{% trans "Bill id" %}</th>
                <th>{% trans "subsidiary" %}</th>
                <th>{% trans "Supplier" %}</th>
                <th>{% trans "Lead" %}</th>
                <th>{% trans "Responsible" %}</th>
                <th>{% trans "Amount (€ excl tax)" %}</th>
                <th>{% trans "Amount (€ with tax)" %}</th>
                <th>{% trans "Creation date" %}</th>
                <th>{% trans "Wait" %}</th>
                <th>{% trans "Expected amount (€ excl tax)" %}</th>
                <th>{% trans "File" %}</th>
                <th>{% trans "Comments" %}</th>
                <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bill in supplier_overdue_bills %}
            <tr>
                {% if billing_management %}
                    <td><a href="{% url 'billing:supplier_bill' bill.id %}">{{ bill }}</a></td>
                {% else %}
                    <td>{{ bill }}</td>
                {% endif %}
                <td>{{ bill.lead.subsidiary }}</td>
                <td>{{ bill.supplier }}</a></td>
                <td><a href="{% url 'leads:detail' bill.lead.id %}">{{ bill.lead }}</a></td>
                <td>{{ bill.lead.responsible }}</td>
                <td style="text-align: right">{{ bill.amount|floatformat:-2 }}</td>
                <td style="text-align: right">{{ bill.amount_with_vat|floatformat:-2 }}</td>
                <td>{{ bill.creation_date }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td style="text-align: right">{{ bill.expected_billing|floatformat:-2 }}</td>
                <td><a href='{{ bill.bill_file_url }}'><img src='{{ MEDIA_URL }}pydici/receipt.png' height=12/></a></td>
                <td>{{ bill.comment|default:"" }}</td>
                <td>{% if bill.state == "1_VALIDATED" %}
                        {% if pydici_feature.billing_management %}
                            <a href="{% url 'billing:mark_supplierbill_paid' bill.id %}">{% trans "Mark this bill as paid" %}</a>
                        {% endif %}
                    {% else %}
                        {% if pydici_feature.billing_request and bill.lead.responsible == consultant %}
                            <a href="{% url 'billing:validate_supplier_bill' bill.id %}">{% trans "Validated this bill for payment" %}</a>
                        {% endif %}
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% with "supplier_overdue_bills" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
    {% endif %}
    {% if supplier_soondue_bills %}
        <h2 class="mt-3">{% trans "Supplier soon due bills" %}</h2>
        <table id="supplier_soondue_bills" class="table table-hover table-striped table-sm table-bordered">
        <thead>
        <tr>
                <th>{% trans "Bill id" %}</th>
                <th>{% trans "subsidiary" %}</th>
                <th>{% trans "Supplier" %}</th>
                <th>{% trans "Lead" %}</th>
                <th>{% trans "Responsible" %}</th>
                <th>{% trans "Amount (€ excl tax)" %}</th>
                <th>{% trans "Amount (€ with tax)" %}</th>
                <th>{% trans "Creation date" %}</th>
                <th>{% trans "Deadline" %}</th>
                <th>{% trans "Expected amount (€ excl tax)" %}</th>
                <th>{% trans "File" %}</th>
                <th>{% trans "Comments" %}</th>
                <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bill in supplier_soondue_bills %}
            <tr>
                {% if billing_management %}
                    <td><a href="{% url 'billing:supplier_bill' bill.id %}">{{ bill }}</a></td>
                {% else %}
                    <td>{{ bill }}</td>
                {% endif %}
                <td>{{ bill.lead.subsidiary }}</td>
                <td>{{ bill.supplier }}</a></td>
                <td><a href="{% url 'leads:detail' bill.lead.id %}">{{ bill.lead }}</a></td>
                <td>{{ bill.lead.responsible }}</td>
                <td style="text-align: right">{{ bill.amount|floatformat:-2 }}</td>
                <td style="text-align: right">{{ bill.amount_with_vat|floatformat:-2 }}</td>
                <td>{{ bill.creation_date }}</td>
                <td>{{ bill.payment_wait }}</td>
                <td style="text-align: right">{{ bill.expected_billing|floatformat:-2 }}</td>
                <td><a href='{{ bill.bill_file_url }}'><img src='{{ MEDIA_URL }}pydici/receipt.png' height=12/></a></td>
                <td>{{ bill.comment|default:"" }}</td>
                <td>{% if bill.state == "1_VALIDATED" %}
                        {% if pydici_feature.billing_management %}
                            <a href="{% url 'billing:mark_supplierbill_paid' bill.id %}">{% trans "Mark this bill as paid" %}</a>
                        {% endif %}
                    {% else %}
                        {% if pydici_feature.billing_request and bill.lead.responsible == consultant %}
                            <a href="{% url 'billing:validate_supplier_bill' bill.id %}">{% trans "Validated this bill for payment" %}</a>
                        {% endif %}
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% with "supplier_soondue_bills" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
    {% endif %}

{% endblock %}