{# fragment to display if an expense if chargeable, charged or not #}
{# context : expense object #}
{% load i18n %}

{% if expense.chargeable %}
    {% if expense.clientbill_set.all %}
        {% for bill in expense.clientbill_set.all %}
            <a href="{% url 'billing:client_bill' bill.id %}">{{ bill }}</a>
            <a href='{{ bill.bill_file_url }}'><img src='{{ MEDIA_URL }}pydici/receipt.png'/></a>
        {% endfor %}
    {% elif expense.billexpense_set.all %}
        {% for billexpense in expense.billexpense_set.all %}
            <a href="{% url 'billing:client_bill' billexpense.bill.id %}">{{ billexpense.bill }}</a>
            <a href='{{ billexpense.bill.bill_file_url }}'><img src='{{ MEDIA_URL }}pydici/receipt.png'/></a>
        {% endfor %}
    {% else %}
        {% trans "Yes, but not charged yet" %}
    {% endif %}
{% else %}
    <span class="glyphicon glyphicon-remove" style="color:red"><span class="visuallyhidden">No</span></span>
{% endif %}