{# fragment to make vat editable through jquery jeditable #}
{% load i18n %}

<script type="text/javascript">
   function make_vat_editable() {
        $(".jeditable-vat").editable("{% url 'expense:update_expense_vat' %}", {
            indicator : "<img src='{{ MEDIA_URL }}img/ajax-loader.gif'/>",
            tooltip   : "{% trans 'click to edit...' %}",
            event     : "click",
            style     : "inherit",
            data: function(value, settings) {
                /* remove unbreakable space */
                var retval = value.replace(/&nbsp;/gi, '');
                return retval;
              }
        });
    }
</script>