{# Page fragment that display mission expenses #}
{# Intented to be loaded by an ajax load in a tab #}
{# Or to be included in other page (like expense history #}
{# List of expenses must be called {{ expenses }} #}

{% load i18n %}
{% load pydici_filters %}

{% if expenses %}
<table id="expenses-table" class="pydici-tables2 table table-hover table-striped table-condensed">
<thead>
<tr>
    <th>#</th>
    <th>{% trans "People" %}</th>
    <th>{% trans "Description" %}</th>
    <th>{% trans "deal id" %}</th>
    <th>{% trans "Lead" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Chargeable" %}</th>
    <th>{% trans "Receipt" %}</th>
    <th>{% trans "State" %}</th>
    <th>{% trans "Expense date" %}</th>
    <th>{% trans "Update date" %}</th>
    <th>{% trans "Comments" %}</th>
</tr>
</thead>
<tbody>
{% for expense in expenses %}
    <tr>
    <td>{{ expense.id }}</td>
    <td>{{ expense.user.username|link_to_consultant }}</td>
    <td>{{ expense.description }}</td>
    <td>{% if expense.lead %}<a href="{% url 'leads:detail' expense.lead.id %}">{{ expense.lead.deal_id }}</a>{% endif %}</td>
    <td>{% if expense.lead %}<a href="{% url 'leads:detail' expense.lead.id %}">{{ expense.lead }}</a>{% endif %}</td>
    <td>{{ expense.amount }}</td>
    <td>{% if expense.chargeable %}
            {% if expense.clientbill_set.all %}
                {% for bill in expense.clientbill_set.all %}
                    <a href="{% url 'billing:client_bill' bill.id %}">{{ bill }}</a>
                    <a href='{{ bill.bill_file_url }}'><img src='{{ MEDIA_URL }}pydici/receipt.png'/></a>
                {% endfor %}
            {% elif expense.billexpense_set.all %}
                {% for billexpense in expense.billexpense_set.all %}
                    <a href="{% url 'billing:client_bill' billexpense.bill.id %}">{{ billexpense.bill }}</a>
                    <a href='{{ billexpense.bill.bill_file_url }}'><img src='{{ MEDIA_URL }}pydici/receipt.png'/></a>
                {% endfor %}
            {% else %}
                {% trans "Yes, but not charged yet" %}
            {% endif %}
        {% else %}
            {% trans "No" %}
        {% endif %}</td>
    <td>{% if expense.receipt %}<a href="{% url 'expense:expense_receipt' expense.id %}"><img src='{{ MEDIA_URL }}pydici/receipt.png'/></a>{% endif %}</td>
    <td>{{ expense.get_state_display }}</td>
    <td>{{ expense.expense_date }}</td>
    <td>{{ expense.update_date }}</td>
    <td>{{ expense.comment }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% if lead %}
    <a href="{% url 'expense:lead_expenses' lead.id %}?csv" class="btn btn-default">{% trans "Export expenses in a spreadsheet" %}</a>
{% endif %}
{% with "expenses-table" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
{% else %}
    {% trans "No expense" %}
{% endif %}