{% extends "admin/base_site.html" %}

{% load i18n %}
{% load permissions_tags %}
{% load pydici_filters %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Expense" %}{% endblock %}

{% block content %}
<div class="content-large">

{% if modify_expense %}
    <h1>{% trans "Modify the expense" %}</h1>
{% else %}
    <h1>{% trans "Add an expense" %}</h1>
{% endif %}

<form enctype="multipart/form-data" action='' method="POST">
    {{ form.non_field_errors }}
    <div class="pydici-expense-col1">
    <div class="pydici-expense">
            <p>{{ form.description.errors }} {{ form.description.label_tag }} : {{ form.description }}</p>
            <p>{{ form.amount.errors }} {{ form.amount.label_tag }} : {{ form.amount }}</p>
            <p>{{ form.chargeable.errors }} {{ form.chargeable.label_tag }} : {{ form.chargeable }}</p>
            <p>{{ form.corporate_card.label_tag }} : {{ form.corporate_card }}</p>
            <p>{{ form.receipt.erros }} {{ form.receipt.label_tag }} : {{ form.receipt }}</p>
     </div></div>
     <div class="pydici-expense-col2">
     <div class="pydici-expense">
            <p>{{ form.category.errors }} {{ form.category.label_tag }} : {{ form.category }}</p>
            <p>{{ form.lead.errors }} {{ form.lead.label_tag }} : {{ form.lead }}</p>
            <p>{{ form.expense_date.errors }} {{ form.expense_date.label_tag }} : {{ form.expense_date }}</p>
            <p>{{ form.comment.errors }} {{ form.comment.label_tag }} : {{ form.comment }}</p>
    </div></div>
    <div style="clear:both"></div>

    <input type="submit" value="{% trans 'Save' %}"/>

</form>

<br/><hr/><br/>

{% with "tab-my" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

{% if user_expenses %}
<h1>{% trans "My expenses" %}</h1>
    <div id="tab-my">
    <ul>
    {% for expense, state, transitions in user_expenses %}
        {% ifchanged state %}
            <li><a href="#tab-my-{{ state }}">{{ state }}</a></li>
        {% endifchanged %}
    {% endfor %}
    </ul>
    {% for expense, state, transitions in user_expenses %}
        {% ifchanged state %}
            {% if not forloop.first %}</div>{% endif %}
            <div id="tab-my-{{ state }}">
        {% endifchanged %}
        {% include "expense/_expense_block.html" %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>
<br/><hr/><br/>
{% endif %}

{% with "tab-managed" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

{% if managed_expenses %}
    <h1>{% trans "Expenses I manage" %}</h1>
    <div id="tab-managed">
    <ul>
    {% for expense, state, transitions in managed_expenses %}
        {% ifchanged expense.user %}
            <li><a href="#tab-managed-{{ expense.user }}">{{ expense.user|link_to_consultant:"nolink" }}</a></li>
        {% endifchanged %}
    {% endfor %}
    </ul>
    {% for expense, state, transitions in managed_expenses %}
        {% ifchanged expense.user %}
            {% if not forloop.first %}</div>{% endif %}
            <div id="tab-managed-{{ expense.user }}">
        {% endifchanged %}
        {% ifchanged %}
                <h4 id="{{expense.user}}.{{state}}">{{ state }}</h4>
        {% endifchanged %}
        {% include "expense/_expense_block.html" %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>
{% endif %}

<br/><hr/><br/>
<a href='{% url pydici.expense.views.expenses_history %}'>{% trans "Expenses history" %}</a>
</div>

{% endblock %}