{% extends "core/pydici.html" %}

{% load i18n %}
{% load pydici_filters %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Expenses payments" %}{% endblock %}

{% block content %}

{% if not read_only %}
    <h1>{% trans "Expenses to pay" %}</h1>
    {% if expense_to_pay_table.data %}
        {% render_table expense_to_pay_table %}
        {% with "expense_table" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
    {% else %}
        {% trans "No expense to pay" %}
    {% endif %}

    <br/><hr/><br/>

    {% if modify_expense_payment %}
        <h1>{% trans "Modify the expense payment" %}</h1>
    {% else %}
        <h1>{% trans "Add an expense payment" %}</h1>
    {% endif %}

    {% crispy form form.helper %}

    <br/><hr/><br/>
{% endif %}

{% if not modify_expense_payment %}
    <div class="row">
        <div class="col-lg-12">
            <h1>{% trans "Expenses payments" %}</h1>
            <table id="expense_payment_archive" class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{% trans "#" %}</th>
                        <th>{% trans "Consultant" %}</th>
                        <th>{% trans "Amount" %}</th>
                        <th>{% trans "Payment date" %}</th>
                        <th>{% trans "Modification" %}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            {% with "expense_payment_archive" as table_id %}
                {% with data_url as data_url %}
                    {% with  data_options as datatable_options %}
                        {% include "core/_datatables.html" %}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>
{% endif %}

<br/><hr/><br/>
<a href="{% url 'expense:expenses_history' %}">{% trans "Expenses history" %}</a>

{% include "core/_datepicker.html" %}

{% endblock %}