{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Expenses history" %}{% endblock %}

{% block content %}

<h1>{% trans "Last expenses" %}</h1>
<div id="content-large">
{% with latest as expenses %}
    {% include "expense/expense_list.html" %}
{% endwith %}
</div>

<h1>{% trans "Expenses archive" %}</h1>
<ul>
{% for date in date_list %}
    <li><a href='{% url pydici.expense.views.expenses_history date.year %}'>{{ date.year }}</a></li>
{% endfor %}
</ul>

{% endblock %}