{% extends "core/pydici.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Expenses history" %}{% endblock %}

{% block content %}

<h1>{% trans "Expenses archive" %}</h1>

    {% render_table expense_table %}
    {% with '"bSort" : false,' as datatable_options %}
        {% with "expense_table" as table_id %}{% include "core/_datatables.html" %}{% endwith %}
    {% endwith %}

<br/>
<a href="{% url 'expense.views.expenses_history' %}?csv" class="btn btn-default">{% trans "Export expenses in a spreadsheet" %}</a>
{% endblock %}