{% extends "core/pydici.html" %}

{% load i18n %}
{% load permissions_tags %}
{% load pydici_filters %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Expense" %}{% endblock %}

{% block content %}


    {% if modify_expense %}
        <h1>{% trans "Modify the expense" %}</h1>
    {% else %}
        <h1>{% trans "Add an expense" %}</h1>
    {% endif %}

     {% crispy form form.helper %}


<br/><hr/>


{% if user_expense_table.data %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "My expenses" %}</h1>
                {% render_table user_expense_table %}
                {% with "user_expense_workflow_table" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
        </div>
    </div>
    <br/><hr/>
{% endif %}


<div class="row">
    <div class="col-md-12">
    {% if managed_expense_table.data %}
        <h1>{% trans "Expenses I manage" %}</h1>
            {% render_table managed_expense_table %}
            {% with "managed_expense_workflow_table" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
    {% endif %}
    </div>
</div>

<br/><hr/>

    <a href="{% url 'expense.views.expenses_history' %}" class="btn btn-default">{% trans "Expenses history" %}</a>

{% include "core/_datepicker.html" %}


<!-- Default bootstrap modal example -->
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="expenseModalLabel">Modal title</h4>
      </div>
      <div class="modal-body expense-receipt">
        ...
      </div>
    </div>
  </div>
</div>



<script type="text/JavaScript">
// Function that process ajax callback
    function process_expense_transition(data) {
        if (data.error==true) {
            alert(data.message);
        }
        else {
            var row = $("#managed_expense_" + data.expense_id).closest("tr");
            var table = $('#managed_expense_workflow_table').DataTable();
            row.fadeOut(200, function () { table.row(row).remove(); });
            table.draw();
        }
    };

$(document).ready(function(){
    // Fill modal with content from link href
    $("#expenseModal").on("show.bs.modal", function(e) {
        var link = $(e.relatedTarget);
        var desc = link.closest("tr").find(".description").html() + " - " + link.closest("tr").find(".amount").html();
        $(this).find("#expenseModalLabel").html(desc);
        $(this).find(".modal-body").load(link.attr("href"));
    });
});

</script>


{% endblock %}