{# JS Fragment that color timesheet when user change any value #}

<script type="text/JavaScript">
$(document).ready(function()
{
    $("input[name^='charge_']").click(function()
        {
            if ($(this).val() == 0) { i="½"; }
            else if ($(this).val() == "½") { i=1; }
            else if ($(this).val() == 1)   { i="¼"; }
            else if ($(this).val() == "¼")   { i="¾"; }
            else if ($(this).val() == "¾")   { i=0; }
            $(this).val(i);
            $(this).css("background", "rgba(255,0,0,0.3)");
            $(".submit-row button").css("background", "rgba(255,0,0,0.2)");
            $('#readonly-warning').css("background", "rgba(255,0,0,0.2)");
        });
	$("input[name^='lunch_ticket_']").click(function() {
	        $(this).css("background", "rgba(255,0,0,0.3)");
	        $(".submit-row button").css("background", "rgba(255,0,0,0.2)");
	        $('#readonly-warning').css("background", "rgba(255,0,0,0.2)");
	});
})
</script>
