{# Standard pydici datatables definition #}
{# context: table_id, datatable_options, data_url #}

{% load i18n %}

<script type="text/JavaScript">
    $(document).ready(function() {
        var oTable = $('#{{ table_id }}').dataTable({
            "processing": true,
            "serverSide": true,
            "deferRender": true,
            "ajax": "{{ data_url }}",
            buttons: ['excel', 'csv', { extend: 'print', text: '{% trans "Print" %}'}],
            dom: "<'row'<'col-md-12'f>><'row'<'col-md-12'tr>><'row'<'col-md-3'l><'col-md-3'B><'col-md-6'p>>",
            {% if datatable_options %}{{ datatable_options|safe }}, {% endif %}
            "language": {
                "decimal": ",",
                "thousands": " ",
                "processing": "{% trans 'Processing...' %}",
                "zeroRecords": "{% trans 'Nothing found' %}",
                "info": "{% trans 'Showing _START_ to _END_ of _TOTAL_ records' %}",
                "infoEmpty": "{% trans 'Showing 0 to 0 of 0 records' %}",
                "infoFiltered": "{% trans '(filtered from _MAX_ total records)' %}",
                "search": "{% trans 'Search:' %}",
                "lengthMenu": "{% trans 'Show _MENU_ entries' %}",
                paginate:{
                    first:'<<',
                    last: '>>',
                    next: '>',
                    previous: '<'
                },
            },
        });
    });

</script>