{% load i18n %}

<script type="text/javascript">
 function highlight_today(col_number, borderStyle, row_size) {
     const timesheet_td = $(".table-pydici-extra-condensed tr td");
     let today_td = null;
     let i = 0;
     // retrieve the current day dom element <td></td>
     while(today_td === null && i < timesheet_td.length) {
         let current_td = timesheet_td[i];
         if ('innerText' in current_td && current_td.innerText === col_number.toString()) {
             today_td = current_td;
         }
         i++;
     }

     if (today_td !== null) {
         i = 0;
         // add 4 extra row: 2 headers, 2 footers
         // Loop on the missions to add the borders
         row_size += 4
         let row_element = today_td.parentElement;
         let cell_element = row_element.children[today_td.cellIndex];
         $(cell_element).css("border-top", borderStyle);
         while (i < row_size) {
             cell_element = row_element.children[today_td.cellIndex];
             $(cell_element).css("border-left", borderStyle);
             $(cell_element).css("border-right", borderStyle);
             row_element = row_element.nextElementSibling;
             i++;
         }
         $(cell_element).css("border-bottom", borderStyle);
     }
 }

</script>
