{# Init jquery ui tabs #}
{# tab id must be {{ tabs }} (use {% with...%}) #}
{% load i18n %}
<script>
$(document).ready(function() {
    $("#{{ tabs }}" ).tabs({
        ajaxOptions: {
            error: function( xhr, status, index, anchor ) {
                $( anchor.hash ).html('{% trans "Could not load this tab. Sorry" %}');
            }
        },
        fx: [{opacity:'toggle', duration:100},
             {opacity:'toggle', duration:100}],
    });
    $("#{{ tabs }}").bind("tabsshow", function(event, ui) {
        window.location.hash = ui.tab.hash;
      });
});
</script>
