{# Init bootstrap tabs #}
{# tab id must be {{ tabs }} (use {% with...%}) #}
{% load i18n %}
<script>


$(document).ready(function() {
    tabprefix = "goto_";

    // Display a tab and load its content with ajax if data-tab-url is defined
    function displayBsTab(tab, href) {
        tab.tab('show');
        var url = tab.attr("data-tab-url");
        if (url) {
            $(href).load(url,function(result) {
                tab.tab('show');
            });
        }
    }

    // Bind click on tab event
    $("#{{ tabs }} a" ).on("click", function (e) {
       e.preventDefault();
       href = this.hash;
       displayBsTab($(this), href);
    });
    

    // If url has a hash, switch to the target tab
    function goToTabFromHash() {
        var url = document.location.toString();
        if (!url.match('#')) {
            // No hash, so we load first tab
            $('a[data-toggle="tab"]:first').trigger("shown.bs.tab");
            if ($('.active a').attr("data-tab-url")) {
                $('#tab-home').load($('.active a').attr("data-tab-url"),function(result){
                    $('tab-content').find('.active a').tab('show');
                });
            }
        }else {
            var activeTab = $('[href=\\' + location.hash.replace(tabprefix,"") + ']');
            activeTab.trigger("click");
        }
     };

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        var hash = e.target.hash.replace("#", "#" + tabprefix)
        var url = window.location.toString();
        // Push tab hash in history else if we are already on it
        if (url.match('#') && !url.match(e.target.hash)) {
            console.log(hash);
            history.pushState(null, null, hash);
        }
    });

    // When user click to back/previous, switch to tab
    window.onpopstate = goToTabFromHash

    // When page is loaded, look at url hash to switch to tab
    goToTabFromHash();

});
</script>
