{# load jqplot script and css #}

<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.pointLabels.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.jqplot.css" />