{# load pivotable script and css #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.js" integrity="sha512-XgJh9jgd6gAHu9PcRBBAp0Hda8Tg87zi09Q2639t0tQpFFQhGpeCgaiEFji36Ozijjx9agZxB0w53edOFGCQ0g==" crossorigin="anonymous"></script>
{% ifequal LANGUAGE_CODE "fr-fr" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.fr.min.js" integrity="sha512-ScdKOdoxfAtvR/Dw6a3wBITAUv5TnGFbyAKmPFcnc2D2ZCHLZpNXizFMIjAbwPEO8AOYH8njwSeLFHCmFlh+Mg==" crossorigin="anonymous"></script>
{% endifequal %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/c3_renderers.min.js" integrity="sha512-wSdS9YnP8QnEEIfeVciZszSmTzVK6YnF0T3r5HA/nATycWh4j2R0qKc1+KcithoAI5YBHuA5A4+wg3kVI9zKGw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/d3_renderers.min.js" integrity="sha512-qxm3as02fhBV1Z8J8VjE5jQDm/xqF4kuQZRYgK2XeolnGiZFLAXX3XCUp+VdiPv7cX6sv83p6Mht0vXrHMEX+w==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/export_renderers.min.js" integrity="sha512-p5LbrvUKLNYfB4NnF9AUhdzcr2VaLfWxZ65rU8/P1VM06XvwEGNfU9gaXPiJGQh1NCHzzbhpcjIRLiFE8GSnCA==" crossorigin="anonymous"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/pivot.min.css" rel="stylesheet">
