{# Default pydici pivotable function #}
{# context: output #}
{# context: data #}
{# context: rows #}
{# context: cols #}
{# context: derivedAttributes #}
{# context: renderName #}

   <script type="text/javascript">
            $(function(){
                        var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.c3_renderers);

                        $("#pivotable-output").pivotUI(
                            {{ data|safe }},
                        {
                            rows: {{ rows|safe }},
                            cols: {{ cols|safe }},
                            renderers: renderers,
                            derivedAttributes: {{ derivedAttributes|safe }},
                            {%if aggregatorName %}aggregatorName: "{{ aggregatorName|safe }}",{% endif %}
                            {% if vals %}vals: {{ vals|safe }},{% endif %}
                            rendererName: "{{ rendererName }}",

                        }
    );
             });
        </script>
