{# load pivotable script and css #}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/pivot.min.js"></script>
{% ifequal LANGUAGE_CODE "fr-fr" %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/pivot.fr.min.js"></script>
{% endifequal %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/c3_renderers.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/d3_renderers.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/pivot.min.css" rel="stylesheet">
