{# Default pydici pivotable function #}
{# context: output #}
{# context: derivedAttributes #}

<script type="text/javascript">
 var lang = {% if LANGUAGE_CODE == "fr-fr" %}'fr'{% else %}'en'{% endif %};

 function drawPivot(data, rows, cols, rendererName, aggregatorName, vals, options) {
     var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.plotly_renderers, $.pivotUtilities.export_renderers, $.pivotUtilities.subtotal_renderers);
     if (typeof options == "undefined") { var options = {}; }
     $("#{{ output|default_if_none:'pivotable-output' }}").pivotUI(
         data,
         {
             dataClass: $.pivotUtilities.SubtotalPivotData,
             rows: rows,
             cols: cols,
             renderers: renderers,
             rendererOptions: options,
             {% if derivedAttributes %}derivedAttributes: {{ derivedAttributes|safe }}, {% endif %}
             rendererName: rendererName,
             aggregatorName: aggregatorName,
             onRefresh: hideTotal,
             vals: vals,
             inclusions: options['inclusions'] || '',
             exclusions: options['exclusions'] || '',
             rowOrder: options['rowOrder'] || 'key_a_to_z',
             colOrder: options['colOrder'] || 'key_a_to_z'
         },
         true,
         lang
     );
 }
 function hideTotal(config) {
     // Hide total when it does not have any sense
     if (config["rendererOptions"]["hideRowTotal"]) {
         $(".pvtTotal.rowTotal").css("display", "None");
         $(".pvtRowTotalLabel").css("display", "None");
     }
     if (config["rendererOptions"]["hideColTotal"]) {
         $(".pvtTotal.colTotal").css("display", "None");
         $(".pvtColTotalLabel").css("display", "None");
     }
     if (config["rendererOptions"]["hideGrandTotal"]) {
         $(".pvtGrandTotal").css("display", "None");
     }
 }

function save_pivot_config() {
   var config = $("#{{ output|default_if_none:'pivotable-output' }}").data("pivotUIOptions");
   var config_copy = JSON.parse(JSON.stringify(config));
   //delete some values which will not serialize to JSON or useless
   delete config_copy["aggregators"];
   delete config_copy["renderers"];
   delete config_copy["localeStrings"];
   delete config_copy["rendererOptions"]["localeStrings"];
   Cookies.set('pivotConfig', JSON.stringify(config_copy), { path: '',  sameSite: 'strict' });
}

function restore_pivot_config() {
   var cookie = Cookies.get("pivotConfig");
   console.log(cookie);
   if (cookie) {
      var options = JSON.parse(cookie);
      drawPivot(data, options['rows'], options['cols'], options['rendererName'], options['aggregatorName'], options['vals'], options);
   }

}

</script>
