{% load i18n %}
{% load cache %}
{% load pydici_filters %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'core:index' %}">
          <img alt="" src="{{ foo | get_logo_url }}" height=20/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if pydici_feature.internal_access and pydici_feature.menubar %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> {# left main menu #}
                {% cache 3600 menu request.user.id request.session.subsidiary_id %}
                    {% if pydici_feature.reports %}
                        <li><a class="nav-link" href="{% url 'core:dashboard' %}">{% trans "Dashboard" %}</a></li>
                    {% endif %}
                    {% if pydici_feature.leads %}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans "Business" %}
                          </a>
                          <ul class="dropdown-menu pydici-on-top" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="{% url 'leads:review' %}">{% trans "Current leads review" %}</a></li>
                              <li><a class="dropdown-item" href="{% url 'leads:lead' %}">{% trans 'New lead' %}</a></li>
                              <li><a class="dropdown-item" href="{% url 'leads:manage_tags' %}">{% trans 'Leads tag management' %}</a></li>
                              {% if pydici_feature.reports %}
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-header">{% trans "Rates Reporting" %}</li>
                                <li><a class="dropdown-item" href="{% url 'staffing:rate_objective_report' %}">{% trans "Rate objectives" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'staffing:rates_report' %}?{{scope_current_filter}}&step=month">{% trans "Production rates and daily rates by month" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'staffing:rates_report' %}?{{scope_current_filter}}&step=year">{% trans "Production rates and daily rates by year" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'crm:clients_ranking' %}{% if scope_current_filter %}?{{scope_current_filter}}{% endif %}">{% trans "Rate ranking" %}</a></li>
                              {% endif %}
                              <li><hr class="dropdown-divider"></li>
                              <li class="dropdown-header">{% trans "Leads Reporting" %}</li>
                              {% if pydici_feature.leads_list_all %}
                                <li><a class="dropdown-item" href="{% url 'leads:leads' %}">{% trans "All leads" %}</a></li>
                              {% endif %}
                              {% if pydici_feature.reports %}
                                <li><a class="dropdown-item" href="{% url 'leads:leads-pivotable' %}?{{scope_current_filter}}">{% trans "Leads pivot table" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'leads:summary_mail_html' %}">{% trans "Week summary mail (html)" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'leads:summary_mail_text' %}">{% trans "Week summary mail (text)" %}</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-header">{% trans "Extractions" %}</li>
                                <li><a class="dropdown-item" href="{% url 'leads:csv_export' target='active' %}">{% trans "Active leads (csv)" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'leads:csv_export' target='all' %}">{% trans "All leads (csv)" %}</a></li>
                              {% endif %}
                          </ul>
                      </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{% trans "Leads" %}</a></li>
                    {% endif %}

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Planning" %}
                      </a>
                      <ul class="dropdown-menu pydici-on-top" aria-labelledby="navbarDropdown">
                          {% if pydici_feature.staffing_mass %}
                            <li><a class="dropdown-item" href="{% url 'staffing:pdcreview-index' %}">{% trans "Workload schedule" %}</a></li>
                          {% endif %}
                          {% if pydici_feature.staffing_mass %}
                            <li><a class="dropdown-item" href="{% url 'staffing:optimise_pdc' %}">{% trans "Optimise workload schedule" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'staffing:mass_staffing' %}">{% trans "Mass staffing" %}</a></li>
                          {% endif %}
                          <li><hr class="dropdown-divider"></li>
                          <li class="dropdown-header">{% trans "My workfload schedule" %}</li>
                          {% with user.username|link_to_timesheet as link %}
                            {% if link %}<li>{{ link }}</li>{% endif %}
                          {% endwith %}
                          {% if pydici_feature.staffing %}
                            {% with user.username|link_to_staffing as link %}
                                {% if link %}<li>{{ link }}</li>{% endif %}
                            {% endwith %}
                          {% endif %}
                          {% if pydici_feature.reports %}
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-header">{% trans "Reporting" %}</li>
                            <li><a class="dropdown-item"  href="{% url 'staffing:missions' %}">{% trans "Active missions" %}</a></li>
                          {% endif %}
                      </ul>
                    </li>

                    {% if pydici_feature.management %}
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans "Operations control" %}
                              </a>
                              <ul class="dropdown-menu pydici-on-top" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="{% url 'staffing:prod_report' %}">{% trans "Staff production" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:turnover_pivotable' %}{% if scope_current_filter %}?{{scope_current_filter}}{% endif %}">{% trans "Turnover analysis" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'people:consultants_tasks' %}">{% trans "Consultants tasks" %}</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li class="dropdown-header">{% trans "Time tracking" %}</li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:all_timesheet' %}">{% trans "All people timesheet" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:holidays_planning' %}">{% trans "Holidays planning" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:holidays-pivotable' %}">{% trans "Holiday pivot table" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:nonprod-pivotable' %}">{% trans "Non productive missions pivot table" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:lunch_tickets_pivotable' %}">{% trans "Lunch tickets pivot table" %}</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li class="dropdown-header">{% trans "Risk management" %}</li>
                                  <li><a class="dropdown-item" href="{% url 'core:risk_reporting' %}">{% trans "Risks synthesis" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:fixed_price_missions_report' %}">{% trans "Fixed price missions" %}</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li class="dropdown-header">{% trans "Extractions" %}</li>
                                  <li><a class="dropdown-item" href="{% url 'staffing:holiday_csv_timesheet' %}">{% trans "Holidays timesheet" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'core:financial_control' %}">{% trans "Financial control" %}</a></li>
                              </ul>
                        </li>
                    {% endif %}

                    {% if pydici_feature.3rdparties %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans "Third parties" %}
                            </a>
                            <ul class="dropdown-menu pydici-on-top" aria-labelledby="navbarDropdown">
                                <li class="dropdown-header">{% trans "Create" %}</li>
                                <li><a class="dropdown-item" href="{% url 'crm:client' %}">{% trans "New client" %}</a></li>
                                {% if pydici_feature.contacts_write %}
                                    <li><a class="dropdown-item" href="{% url 'crm:mission_contact_create' %}">{% trans "New mission contact" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'crm:businessbroker_create' %}">{% trans "New business broker" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'crm:administrative_contact_add' %}">{% trans "New administrative contact" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'crm:supplier_create' %}">{% trans "New supplier" %}</a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-header">{% trans "Lists" %}</li>
                                <li><a class="dropdown-item" href="{% url 'crm:company_list' %}">{% trans "All clients" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'crm:businessbroker_list' %}">{% trans "All business brokers" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'crm:supplier_list' %}">{% trans "All suppliers" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'crm:contact_list' %}">{% trans "Contact address directory" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{% trans "Third parties" %}</a></li>
                    {% endif %}

                    {% if pydici_feature.management %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% trans "Expenses" %}
                                </a>
                                <ul class="dropdown-menu pydici-on-top" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'expense:expenses' %}">{% trans "Expenses" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'expense:expense_payments' %}">{% trans "Expenses payment" %}</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="dropdown-header">{% trans "Reporting" %}</li>
                                    <li><a class="dropdown-item" href="{% url 'expense:chargeable_expenses' %}">{% trans "Chargeable expenses review" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'expense:expenses_history' %}">{% trans "Expenses history" %}</a></li>
                                </ul>
                            </li>
                    {% endif %}

                    {% if pydici_feature.management %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans "Billing" %}
                            </a>
                            <ul class="dropdown-menu pydici-on-top" aria-labelledby="navbarDropdown">
                                {% if pydici_feature.billing_request %}
                                    <li class="dropdown-header">{% trans "Client billing" %}</li>
                                    <li><a class="dropdown-item" href="{% url 'billing:pre_billing' %}">{% trans "Pre billing" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'billing:client_bills_archive' %}">{% trans "All client bills" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'billing:client_bill' %}?return_to={{ request.get_full_path }}">{% trans "New client bill" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'billing:client_bills_in_creation' %}">{% trans "Client bills in creation" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'billing:bill_review' %}">{% trans "Bills review" %}</a></li>
                                    {% if pydici_feature.billing_request %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="dropdown-header">{% trans "Supplier billing" %}</li>
                                        <li><a class="dropdown-item" href="{% url 'billing:supplier_bills_archive' %}">{% trans "All supplier bills" %}</a></li>
                                        <li><a class="dropdown-item" href="{% url 'billing:supplier_bill' %}">{% trans "New supplier bill" %}</a></li>
                                        <li><a class="dropdown-item" href="{% url 'billing:supplier_bills_validation' %}">{% trans "Supplier bill validation" %}</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if pydici_feature.reports %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="dropdown-header">{% trans "Reporting" %}</li>
                                    <li><a class="dropdown-item" href="{% url 'billing:bill_delay' %}">{% trans "Payment delay review" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'leads:leads_to_bill' %}">{% trans "Leads still to be billed" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'billing:client_billing_control_pivotable' %}">{% trans "Client billing control" %}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans "Help" %}
                        </a>
                        <ul class="dropdown-menu pydici-on-top" aria-labelledby="navbarDropdown">
                            {% if user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin console" %}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'help' %}">{% trans "Help page" %}</a></li>
                            <li>{{ foo|get_admin_mail }}</li>
                        </ul>
                    </li>

                {% endcache %}
            </ul> {# end of left main menu #}

            {% if pydici_feature.search %}
                <form class="d-flex" action="{% url 'core:search' %}" method="GET">
                    <input class="form-control me-2" type="search" placeholder="{% trans 'search' %}" aria-label="Search" name="q" value="{{ query|escape }}">
                </form>
            {% endif %}

            {# subsidiary context switcher #}
            <div class="btn-group me-2" role="group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if current_subsidiary %}{{ current_subsidiary }}{% else %}{% trans 'all subsidiaries' %}{% endif %}
              </button>
              <ul class="dropdown-menu dropdown-menu-end pydici-on-top">
                  {% for subsidiary in subsidiaries %}
                        <li ><a class="dropdown-item {% if subsidiary.id == request.session.subsidiary_id %}bi-check{% endif %}"
                                href="{{ request.path }}?subsidiary_id={{ subsidiary.id }}">
                                {{ subsidiary }}
                        </a></li>
                  {% endfor %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ request.path }}?subsidiary_id=0">
                    {% if not current_subsidiary %}<i class="bi bi-check"></i> {% endif %}{% trans 'all subsidiaries' %}
                </a></li>
              </ul>
            </div>
            {# end of subsidiary context switcher #}

        {% endif %} {# end if internal user menu #}

        {# Simple menu for subcontractor (non internal user) #}
        {% if not pydici_feature.internal_access %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% with user.username|link_to_timesheet as link %}
                        {% if link %}<li class="nav-link">{{ link }}</li>{% endif %}
                {% endwith %}
                <li class="nav-link"><a class="dropdown-item" href="{% url 'expense:expenses' %}">{% trans "Expenses" %}</a></li>
                <li class="nav-link">{{ foo|get_admin_mail }}</li>
            </ul>
        {% endif %}
        {# End of subcontractor menu #}


    </div>
  </div>
</nav>