{# Button that display scope choice #}
{# context : page_url, scope, scopes #}
{% load i18n %}
<div class="col-md-6">
            {% trans "Scope: " %}
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ scope }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  {% for scope_type, scope_filter, scope_label in scopes %}
                    {% ifchanged scope_type %}
                        {% if not forloop.first %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                    {% endifchanged %}
                    <li><a href="{{ page_url }}/?{{scope_filter}}">{{ scope_label }}</a></li>
                  {% endfor %}
              </ul>
            </div>
        </div>