{# This template fragment can be included to display tag cloud #}
{# Context/Argument: None #}

{% load i18n %}
{% load taggit_templatetags2_tags %}
{% load cache %}

{% cache 3600 tag_cloud %}
    <br/>
    <h2>{% trans "All leads tags" %}</h2>
    {% get_tagcloud as lead_tags for 'leads.lead' %}
    <ul class="row list-unstyled">
    {% for tag in lead_tags %}
        <li class="col-6 col-sm-3 col-md-2">
            <font size={{tag.weight|floatformat:0}}>
                <a href="{% url 'core:tag' tag.id %}">{{ tag }} ({{tag.num_times}})</a>
            </font>
        </li>
    {% endfor %}
    </ul>
    <div style="clear:both;"></div>

    <h2>{% trans "All people tags" %}</h2>
    {% get_tagcloud as people_tags for 'people.consultant' %}
    <ul class="row list-unstyled">
    {% for tag in people_tags %}
        <li class="col-6 col-sm-3 col-md-2">
            <font size={{tag.weight|floatformat:0}}>
                <a href="{% url 'core:tag' tag.id %}">{{ tag }} ({{tag.num_times}})</a>
            </font>
        </li>
    {% endfor %}
    </ul>
    <div style="clear:both;"></div>
{% endcache %}
