{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
{% endblock %}

{% block title %}{% trans "Management dashboard" %}{% endblock %}

{% block content %}
<div class="content-large">

<center><h1>{% trans "Commercial activity" %}</h1></center>
<div id="graph_bar_jqp"></div>
<script type="text/javascript">
$('#graph_bar_jqp').load('{% url 'leads.views.graph_bar_jqp' %}')
</script>
<br/>

<center><h1>{% trans "Production rates and daily rates review" %}</h1></center>
    <div id="graph_timesheet_rates_bar_jqp_content"></div>
    <script type="text/javascript">
    $('#graph_timesheet_rates_bar_jqp_content').load('{% url 'staffing.views.graph_timesheet_rates_bar_jqp' %}')
    </script>
    <br/>
    <div id="graph_profile_rates_bar_jqp_content"></div>
    <script type="text/javascript">
    $('#graph_profile_rates_bar_jqp_content').load('{% url 'staffing.views.graph_profile_rates_jqp' %}')
    </script>

<br/>

<center><h1>{% trans "Billing review and done work" %}</h1></center>
    <div id="graph_billing_jqp_content"></div>
    <script type="text/javascript">
    $('#graph_billing_jqp_content').load('{% url 'billing.views.graph_billing_jqp' %}')
    </script>

<br/>

<center><h1>{% trans "Sales repartition per client" %}</h1></center>
<div style="float:left;" id="graph_company_sales_jqp"></div>
<div style="float:left;" id="graph_company_lastyear_sales_jqp"></div>
<script type="text/javascript">
$('#graph_company_sales_jqp').load('{% url 'graph_company_sales' %}')
$('#graph_company_lastyear_sales_jqp').load('{% url 'graph_company_lastyear_sales' %}')
</script>
<div style="clear:both;"></div>
</div>
{% endblock %}
