{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block content %}
<div id="content-main">
    <div class="imodule">
    <table summary="Leads">
    {% if my_leads_as_responsible %}
        <tr><th colspan=7>{% trans "My leads as responsible" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in my_leads_as_responsible %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href="{% url 'leads:detail' lead.id %}", title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href="{% url 'leads:detail' lead.id %}", title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                <td>{% if lead.responsible %}<a href="{% url 'people:consultant_home' lead.responsible.trigramme %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}

    {% endif %}
    {% if my_leads_as_staffee %}
        <tr><th colspan=7>{% trans "My leads as a resource" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in my_leads_as_staffee %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href="{% url 'leads:detail' lead.id %}", title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href="{% url 'leads:detail' lead.id %}", title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                <td>{% if lead.responsible %}<a href="{% url 'people:consultant_home' lead.responsible.trigramme %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if latest_leads %}
        <tr><th colspan=7>{% trans "Last modified leads" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in latest_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href="{% url 'leads:detail' lead.id %}" title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href="{% url 'leads:detail' lead.id %}", title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                <td>{% if lead.responsible %}<a href="{% url 'people:consultant_home' lead.responsible.trigramme %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if my_latest_archived_leads %}
        <tr><th colspan=7>{% trans "My last archived leads (won, lost, forgiven or sleeping)" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in my_latest_archived_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href="{% url 'leads:detail' lead.id %}", title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href="{% url 'leads:detail' lead.id %}", title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                <td>{% if lead.responsible %}<a href="{% url 'people:consultant_home' lead.responsible.trigramme %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
    </div>
    {% include "leads/_tag_cloud.html" %}
</div>
{% endblock %}