{% extends "admin/base_site.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block mobileheader %}

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <link rel="stylesheet" href="/media/css/mobile.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>

{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div data-role="page" data-theme="c">
	<div data-role="header" data-backbtn="false">
	    <h1>Pydici</h1>
	</div>
    <div data-role="content">
		<ul data-role="listview" data-insert="true" data-theme="c" data-dividertheme="c">
		    <li data-role="list-divider">{% trans "Mobile pydici" %}</li>
		    <li><a href="#companies">{% trans "My clients" %}</a></li>
		    <li><a href="#missions">{% trans "Current missions" %}</a></li>
		    <li><a href="{% url pdcreview-index %}">{% trans "Workload schedule" %}</a></li>
		    <li><a href="{% url pydici.staffing.views.consultant_timesheet consultant.id %}">{% trans "Timesheet" %}</a></li>
		    <li data-role="list-divider">{% trans "Full pydici" %}</li>
		    <li><a target="_blank" href="{% url index %}">{% trans "Home" %}</a></li>
		</ul>
    </div>
</div>

<div data-role="page" id="companies" data-theme="c">
    <div data-role="header">    
        <h1>{% trans "My clients" %}</h1>
    </div>
    <div data-role="content">
	    <ul data-role="listview" data-insert="true" data-theme="c" data-dividertheme="c">
	    {% for company in companies %}
	        <li><a href="{% url pydici.crm.views.company_detail company.id %}">{{ company }}</a></li>
	    {% endfor %}
	    </ul>
    </div>
</div>

<div data-role="page" id="missions" data-theme="c">
        <div data-role="header">
            <h1>{% trans "Missions" %}</h1>                                        
        </div>
    <div data-role="content">    
        <ul data-role="listview" data-insert="true" data-theme="c" data-dividertheme="c">
        {% for mission in missions %}
            <li><a target="_blank" href='{% url pydici.staffing.views.mission_timesheet mission.id %}'>{{ mission }}</a></li>
        {% endfor %}  
        </ul>
    </div>  
</div>

{% endblock %}