{% load i18n %}
{% load pydici_filters %}
<!DOCTYPE html><html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="pydici">
    <meta name="author" content="Sebastien Renard">
    <link rel="icon" href="favicon.ico">

    <title>{% block title %}Pydici{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="{{ MEDIA_URL }}css/iconic.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}tables2/css/screen.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/jquery.dataTables.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/ajax_select.css" rel="stylesheet">
    {% block extracss %}{% endblock %}
    <link href="{{ MEDIA_URL }}css/pydici.css" rel="stylesheet">


    <link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of last modified leads' %}"
              href="{% url 'latest' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of last created leads' %}"
              href="{% url 'new' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of last won leads' %}"
              href="{% url 'won' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of my leads' %}"
              href="{% url 'mine' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of latest staffing forecast' %}"
              href="{% url 'latestStaffing' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of my latest staffing forecast' %}"
              href="{% url 'myLatestStaffing' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of last archived Mission' %}"
              href="{% url 'archivedMission' %}" />
    
  </head>

  <body {% block bodyattr %}{% endblock %}>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pydici
          <img alt="" src="{{ MEDIA_URL }}pydici/company_logo.png" height=20/></a>
        </div>

        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        {% if user.is_staff %}
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Leads" %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li> <a href="{% url 'leads.views.review' %}">{% trans "Current leads review" %}</a></li>
                <li><a href="{% url 'admin:leads_lead_changelist' %}">{% trans "All leads" %}</a></li>
                <li><a href="{% url 'admin:leads_lead_add' %}?return_to={{ request.get_full_path }}">{% trans 'New lead' %}</a></li>
            </ul>
        </li>
        
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Missions" %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'pdcreview-index' %}">{% trans "Workload schedule" %}</a></li>
                <li><a href="{% url 'missions' %}">{% trans "Active missions" %}</a></li>
                {% with user.username|link_to_timesheet as link %}
                    {% if link %}<li>{{ link }}</li>{% endif %}
                {% endwith %}
                {% with user.username|link_to_staffing as link %}
                    {% if link %}<li>{{ link }}</li>{% endif %}
                {% endwith %}
                <li><a href="{% url 'staffing.views.mass_staffing' %}">{% trans "Mass staffing" %}</a></li>
            </ul>
        </li>

        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Third parties" %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'crm.views.company_list' %}">{% trans "All clients" %}</a></li>
                <li><a href="{% url 'admin:crm_contact_changelist' %}">{% trans "Contact address directory" %}</a></li>
                <li><a href="{% url 'admin:crm_client_add' %}?return_to={{ request.get_full_path }}">{% trans "New client" %}</a></li>
                <li><a href="{% url 'admin:crm_missioncontact_add' %}?return_to={{ request.get_full_path }}">{% trans "New mission contact" %}</a></li>
                <li><a href="{% url 'admin:crm_businessbroker_add' %}?return_to={{ request.get_full_path }}">{% trans "New business broker" %}</a></li>
                <li><a href="{% url 'admin:crm_administrativecontact_add' %}?return_to={{ request.get_full_path }}">{% trans "New administrative contact" %}</a></li>
                <li><a href="{% url 'admin:crm_supplier_add' %}?return_to={{ request.get_full_path }}">{% trans "New supplier" %}</a></li>
            </ul>
        </li>
        
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Management" %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'staffing.views.holidays_planning' %}">{% trans "Holidays planning" %}</a></li>
                <li><a href="{% url 'actionset.views.actionset_catalog' %}">{% trans "Actionset catalog" %}</a></li>
                {% if perms.actionset.change_actionstate %}
                    <li><a href="{% url 'admin:actionset_actionstate_changelist' %}">{% trans "On going actions" %}</a></li>
                {% endif %}
                <li class="divider"></li>
                <li class="dropdown-header">{% trans "Expenses" %}</li>
                <li><a href="{% url 'expense.views.expenses' %}">{% trans "Expenses" %}</a></li>
                <li><a href="{% url 'expense.views.expense_payments' %}">{% trans "Expenses payment" %}</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">{% trans "Billing" %}</li>
                <li><a href="{% url 'billing.views.pre_billing' %}">{% trans "Pre billing" %}</a></li>
                {% if perms.billing.change_clientbill %}<li><a href="{% url 'admin:billing_clientbill_changelist' %}">{% trans "All client bills" %}</a></li>{% endif %}
                {% if perms.billing.add_clientbill %}<li><a href="{% url 'admin:billing_clientbill_add' %}?return_to={{ request.get_full_path }}">{% trans "New client bill" %}</a></li>{% endif %}
                {% if perms.billing.change_supplierbill %}<li><a href="{% url 'admin:billing_supplierbill_changelist' %}">{% trans "All supplier bills" %}</a></li>{% endif %}
                {% if perms.billing.add_supplierbill %}<li><a href="{% url 'admin:billing_supplierbill_add' %}?return_to={{ request.get_full_path }}">{% trans "New supplier bill" %}</a></li>{% endif %}
            </ul>
        </li>
        
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Reports" %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'dashboard' %}">{% trans "Management dashboard" %}</a></li>
                <li><a href="{% url 'staffing.views.all_timesheet' %}">{% trans "All people timesheet" %}</a></li>
                <li><a href="{% url 'billing.views.bill_review' %}">{% trans "Bills review" %}</a></li>
                <li><a href="{% url 'billing.views.bill_payment_delay' %}">{% trans "Payment delay review" %}</a></li>
                <li><a href="{% url 'expense.views.chargeable_expenses' %}">{% trans "Chargeable expenses review" %}</a></li>
                <li><a href="{% url 'expense.views.expenses_history' %}">{% trans "Expenses history" %}</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">{% trans "Extractions" %}</li>
                <li><a href="{% url 'leads.views.csv_export' target='active' %}">{% trans "Active leads (csv)" %}</a></li>
                <li><a href="{% url 'leads.views.csv_export' target='all' %}">{% trans "All leads (csv)" %}</a></li>
                <li><a href="{% url 'lead-mail-html' %}">{% trans "Week summary mail (html)" %}</a></li>
                <li><a href="{% url 'lead-mail-text' %}">{% trans "Week summary mail (text)" %}</a></li>
                <li><a href="{% url 'core.views.financialControl' %}">{% trans "Financial control" %}</a></li>
            </ul>
        </li>
        
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Help" %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'admin:index' %}">{% trans "Admin console" %}</a></li>
                <li><a href="{% url 'help' %}">{% trans "Help page" %}</a></li>
                <li>{{ foo|get_admin_mail }}</li>
            </ul>
        </li>
        </ul>
        
        <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}" method="GET">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{% trans 'search' %}" name="q"  value="{{ query|escape }}" >
            </div>
          </form>
          
        {% endif %} {# End of menu for staff users only #}  

        </div><!--/.navbar-collapse -->

        </div><!-- containter-->
      </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simpletooltip-min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/datatables_custom_sort.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/admin/ajax_select.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>

    {% block extrajs %}{% endblock %}
    
    
    {% block supercontent %}
        <div class="container">
            {% block messages %}{% endblock %}
            {% block content %}{% endblock %}
        </div> <!-- /container -->
    {% endblock %}

</body></html>