{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_c3.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block title %}{% trans "Risks synthesis" %}{% endblock %}

{% block content %}
        <h2>{% trans "Risks synthesis " %}</h2>

        <div id="type-selector" class="btn-group" role="group">
            <button class="btn btn-default active" onclick="array();">{% trans "Risks per client (array)" %}</button>
            <button class="btn btn-default" onclick="graph();">{% trans "Risks per type (graph)" %}</button>
        </div>

        <div id="pivotable-output" style="margin: 10px;"></div>

        {% with output as "pivotable-output" %}
            {% include "core/_pivotable_body.html" %}
        {% endwith %}

        <script type="text/javascript">

            // Active state switcher
            $(document).ready(function() {
                $('#type-selector button').on("click", function() {
                    $(this).addClass('active').siblings().removeClass('active');
                 });
            });

            // Share data for all pivot tables
            var data = {{ data|safe }};

            // Preset definition
            function array() {
                var cols = ["{% trans 'subsidiary' %}", "{% trans 'type' %}"];
                var rows = ["{% trans 'company' %}"];;
                drawPivot(data, rows, cols, "Heatmap", '{% trans "Integer Sum" %}', ['{% trans "amount" %}']);
            }

            function graph() {
                var cols = ["{% trans 'subsidiary' %}",];
                var rows = ["{% trans 'type' %}",];
                drawPivot(data, rows, cols, "Stacked Bar Chart", '{% trans "Integer Sum" %}', ['{% trans "amount" %}']);
            }


            // default
            array();
        </script>


{% endblock %}