{% extends "admin/base_site.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
<br/>

{% if query %}
    {% if consultants or client_companies or leads or missions or client_contacts %}
        <h1>{% blocktrans with query|escape as value %}Search results for <em>{{ value }}</em>:{% endblocktrans %}</h1>
    {% else %}
        <h1>{% blocktrans with query|escape as value %}No results for <em>{{ value }}</em>{% endblocktrans %}</h1>
    {% endif %}
{% endif %}
    
{% if consultants %}
    <h2>{% trans "Consultants"%}</h2>
    <ul>
    {% for consultant in consultants %}
        <li><a href="{% url pydici.people.views.consultant_detail consultant.id %}">{{ consultant.full_name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if client_contacts %}
    <h2>{% trans "Clients contacts"%}</h2>
    <ul>
    {% for contact in client_contacts %}
        <li><a href="{% url admin:crm_clientcontact_change contact.id %}">{{ contact }} ({{ contact.company }})</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if client_companies %}
    <h2>{% trans "Clients companies"%}</h2>
    <ul>
    {% for company in client_companies %}
        <li><a href="{% url pydici.crm.views.company_detail company.id %}">{{ company }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if leads %}
    <h2>{% trans "Leads" %}</h2>
    <ul>
    {% for lead in leads %}
        <li><a href="{% url pydici.leads.views.detail lead.id %}">{{ lead }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if missions %}
    <h2>{% trans "Missions" %}</h2>
    <ul>
    {% for mission in missions %}
        <li><a href="{% url pydici.staffing.views.mission_timesheet mission.id %}">{{ mission }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if bills %}
    <h2>{% trans "Bills" %}</h2>
    <ul>
    {% for bill in bills %}
        <li><a href="{% url admin:billing_bill_change bill.id %}">{{ bill }} - {{ bill.lead }} ({{ bill.get_state_display }})</a></li>
    {% endfor %}
    </ul>
{% endif %}


</div>
{% endblock %}
