{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block content %}

<div id="search-results">
<div class="row">
    <div class="col-12">
        {% if query %}
            {% if consultants or companies or leads or missions or contacts or bills %}
                <h1>{% blocktrans with query|escape as value %}Search results for <em>{{ value }}</em>:{% endblocktrans %}</h1>
                {% if more_record %}<em>{% trans "Only first results are shown." %}</em>{% endif %}
            {% else %}
                <h1>{% blocktrans with query|escape as value %}No results for <em>{{ value }}</em>{% endblocktrans %}</h1>
            {% endif %}
        {% else %}
            <h1>{% trans "Type at least one word to search for something !" %}</h1>
        {% endif %}
    </div>
</div>

<div class="row">
    {% if consultants %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <h2>{% trans "Consultants"%}</h2>
            <ul class="row icon-list">
            {% for consultant in consultants %}
                <li class="bi bi-person-fill">{% include "people/__consultant_name.html" %}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if contacts %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <h2>{% trans "Contacts"%}</h2>
            <ul class="row icon-list">
            {% for contact in contacts %}
                <li class="bi bi-person-fill"><a href="{% url 'crm:contact_detail' contact.id %}">{{ contact }} ({{ contact.company }})</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if companies %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <h2>{% trans "Companies"%}</h2>
            <ul class="row icon-list">
            {% for company in companies %}
                <li class="bi bi-people"><a href="{% url 'crm:company_detail' company.id %}">{{ company }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if tags %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <h2>{% trans "Tags"%}</h2>
            <ul class="row icon-list">
            {% for tag in tags %}
                <li class="col-12 col-sm-12 col-md-6 col-lg-4 bi bi-tag"><a href="{% url 'leads:tag' tag.id %}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

{% if leads %}
<div class="row">
    <div class="col-12">
        <h2>{% trans "Leads" %}</h2>
        <ul class="row icon-list">
        {% for lead in leads %}
            <li class="col-12 col-sm-12 col-md-6 col-lg-4 bi bi-chevron-right"><a href="{% url 'leads:detail' lead.id %}">{{ lead }} ({{ lead.deal_id|default:_("no deal id") }})</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if active_missions %}
<div class="row">
    <div class="col-12">
        <h2 class="col-lg-12">{% trans "Actives missions" %}</h2>
        <ul class="row icon-list">
        {% for mission in active_missions %}
            <li class="col-12 col-sm-12 col-md-6 col-lg-4 bi bi-chevron-right"><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission.full_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if archived_missions %}
<div class="row">
    <div class="col-12">
        <h2 class="col-lg-12">{% trans "Archived missions" %}</h2>
        <ul class="row icon-list">
        {% for mission in archived_missions %}
            <li class="col-12 col-sm-12 col-md-6 col-lg-4 bi bi-chevron-right"><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission.full_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}


{% if bills %}
    <div class="row">
        <div class="col-12">
            <h2>{% trans "Client Bills" %}</h2>
            <ul class="row icon-list">
            {% for bill in bills %}
                <li class="col-12 col-sm-12 col-md-6 col-lg-4 bi bi-file-earmark-text"><a href="{% url 'billing:client_bill_detail' bill.id %}?return_to={{ request.get_full_path }}">{{ bill }} - {{ bill.lead }} ({{ bill.get_state_display }})</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

</div> {# end of search results #}

<script type="text/JavaScript">
    function highlight(text) {
      if (text.length > 0) {
          var re = new RegExp(text,"gi");
          $("#search-results").find("a").each(function() {
                this.innerHTML = this.innerHTML.replace(re,"<span class='search-highlight'>" +  text + "</span>");
          });
      }
    }

    $(document).ready(function(){
        highlight('{{query}}');
    });
</script>
{% endblock %}
