{% extends "core/pydici.html" %}

{% load i18n %}

{% block title %}{% trans "All tags" %}{% endblock %}

{% block content %}

<div id="content-main">

<h1 class="mt-3">{% blocktrans %}Leads for tag <em>{{ tag }}</em>{% endblocktrans %}</h1>

<ul class="row">
{% for lead in leads %}
    <li class="col-sm-6 col-md-4">
        <a href="{% url 'leads:detail' lead.id %}">{{ lead }}</a>
    </li>
{% endfor %}
</ul>

<h1 class="mt-3">{% blocktrans %}Consultants for tag <em>{{ tag }}</em>{% endblocktrans %}</h1>

<ul class="row">
{% for consultant in consultants %}
    <li class="col-sm-6 col-md-4">
        <a href="{% url 'people:consultant_home_by_id' consultant.id %}">{{ consultant }}</a>
    </li>
{% endfor %}
</ul>

{% include "core/_tag_cloud.html" %}

</div>
{% endblock %}
