{% extends "core/pydici.html" %}

{% load i18n %}

{% block title %}{{ tag }}{% endblock %}

{% block content %}

<div id="content-main">

<h1 class="mt-3">{% blocktrans %}Leads for tag <em>{{ tag }}</em>{% endblocktrans %}</h1>

<ul class="row">
{% for lead in leads %}
    <li class="col-sm-6 col-md-4">
        <a href="{% url 'leads:detail' lead.id %}">{{ lead }}</a>
    </li>
{% endfor %}
</ul>

<h1 class="mt-3">{% blocktrans %}Consultants for tag <em>{{ tag }}</em>{% endblocktrans %}</h1>

<ul class="row">
{% for tc in tagged_consultants %}
    <li class="col-sm-6 col-md-4 col-lg-2">
        <a href="{% url 'people:consultant_home_by_id' tc.content_object.id %}#goto_tab-profile">
            <span class="badge rounded-pill tag_level_{{ tc.level }}">{{ tc.content_object }}</span>
        </a>
        {% if tc.nature == '2_WISH' %} <i class="bi bi-heart-fill tag_wish"></i>{% endif %}
    </li>
{% endfor %}
</ul>

{% include "core/_tag_cloud.html" %}

</div>
{% endblock %}
