<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load admin_static %}
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% load i18n %}


<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/admin/ajax_select.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simpletooltip-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>


{% block extrajs %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/iconic.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.17.custom.css" />

{% block mobileheader %}{% endblock %}

{% if not request.session.mobile %}

<link rel="stylesheet" type="text/css" href="{% block stylesheet %}css/base.css{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}css/rtl.css{% endblock %}" />{% endif %}

<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>


<link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of last modified leads' %}"
      href="{% url 'feed' 'latest' %}" />
<link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of last created leads' %}"
      href="{% url 'feed' 'new' %}" />
<link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of last won leads' %}"
      href="{% url 'feed' 'won' %}" />
<link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of my leads' %}"
      href="{% url 'feed' 'mine' %}" />
<link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of latest staffing forecast' %}"
      href="{% url 'feed' 'latestStaffing' %}" />
<link rel="alternate" type="application/atom+xml" title="{% trans 'ATOM feed of my latest staffing forecast' %}"
      href="{% url 'feed' 'myLatestStaffing' %}" />
      
{% endif %}
</head>


<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}

    {% block menu %}
    {% endblock %}

    {% block breadcrumbs %}
    <div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}
    {% endif %}

    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
    {% endif %}

    
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
    
</div>
<!-- END Container -->
</body>
</html>
