{% extends "admin/base.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block title %}Pydici{% endblock %}

{% block menu %}

{% if not request.session.mobile %}
<!-- Begin menu -->
    <div style="margin-left:10px; padding-bottom:47px;">
    <ul id="menu" class="shadow" style='border-radius: 0px 0px 24px 0px;'>
        <div style="float:left; background:#332B2A; height: 40px; padding-top:5px; padding-left: 5px">
        <a href="{% url index %}">
           <img alt="" src="{{ MEDIA_URL }}pydici/company_logo.png"/>
        </a>
        </div>

        {% if user.is_authenticated %}
            <li>{% trans "Welcome," %} <strong>{{ user.username|link_to_consultant }}</strong></li>
        {% endif%}

        {% if user.is_staff %}
        <li><a href="#link">{% trans "Leads" %}</a>
            <ul>
                <li>
                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_left.png"/>
                     <a href="{% url pydici.leads.views.review %}">{% trans "Current leads review" %}</a>
                     <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_right.png"/>
                </li>
                <li><a href="{% url admin:leads_lead_changelist %}">{% trans "All leads" %}</a></li>
                <li><a href='{% url admin:leads_lead_add %}'>{% trans "New lead" %}</a></li>
                <li class="last">
                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_left.png"/>
                    <img class="middle" alt="" src="{{ MEDIA_URL }}pydici/menu/dot.png"/>
                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_right.png"/>
                </li>
            </ul>
        </li>
        <li><a href="#link">{% trans "Missions" %}</a>
            <ul>
                <li>
                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_left.png"/>
                     <a href="{% url pdcreview-index %}">{% trans "Workload schedule" %}</a>
                     <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_right.png"/>
                </li>
                <li><a href="{% url missions %}">{% trans "Active missions" %}</a></li>
                <li>{{ user.username|link_to_timesheet }}</li>
                <li>{{ user.username|link_to_staffing }}</li>
                <li><a href="{% url pydici.staffing.views.mass_staffing %}">{% trans "Mass staffing" %}</a></li>
                <li class="last">
                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_left.png"/>
                    <img class="middle" alt="" src="{{ MEDIA_URL }}pydici/menu/dot.png"/>
                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_right.png"/>
                </li>
            </ul>
        </li>
        <li><a href="#link">{% trans "Clients" %}</a>
            <ul>
                <li>
                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_left.png"/>
                        <a href="{% url pydici.crm.views.company_list %}">{% trans "All clients" %}</a>
                     <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_right.png"/>
                </li>
                <li><a href="{% url admin:crm_contact_changelist %}">{% trans "Contact adress directory" %}</a></li>
                <li><a href='{% url admin:crm_contact_add %}'>{% trans "new contact" %}</a></li>
                <li><a href='{% url admin:crm_client_add %}'>{% trans "new client" %}</a></li>
                <li class="last">
                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_left.png"/>
                    <img class="middle" alt="" src="{{ MEDIA_URL }}pydici/menu/dot.png"/>
                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_right.png"/>
                </li>    
            </ul>
        </li>
        <li><a href="#link">{% trans "Management" %}</a>
            <ul>
                <li>
                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_left.png"/>
                        <a href='{% url pydici.actionset.views.actionset_catalog %}'>{% trans "Actionset catalog" %}</a>
                     <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_right.png"/>
                </li>
                {% if perms.actionset.change_actionstate %}
                <li><a href='{% url admin:actionset_actionstate_changelist %}'>{% trans "On going actions" %}</a></li>
                {% endif %}
                <li><a href='{% url pydici.expense.views.expenses %}'>{% trans "Expenses" %}</a></li>
                <li><a href="{% url admin:billing_bill_changelist %}">{% trans "All bills" %}</a></li>
                <li><a href='{% url admin:billing_bill_add %}'>{% trans "New bill" %}</a></li>
                <li class="last">
                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_left.png"/>
                    <img class="middle" alt="" src="{{ MEDIA_URL }}pydici/menu/dot.png"/>
                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_right.png"/>
                </li>
            </ul>
        </li>
        <li><a href="#link">{% trans "Reports" %}</a>
            <ul>
                <li>
                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_left.png"/>
                        <a href='{% url dashboard %}'>{% trans "Management dashboard" %}</a>
                     <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_right.png"/>
                </li>
                <li><a href='{% url pydici.leads.views.csv_export target="active" %}'>{% trans "Active leads (csv)" %}</a></li>
                <li><a href='{% url pydici.leads.views.csv_export target="all" %}'>{% trans "All leads (csv)" %}</a></li>
                <li><a href='{% url lead-mail-html %}'>{% trans "Week summary mail (html)" %}</a></li>
                <li><a href='{% url lead-mail-text %}'>{% trans "Week summary mail (text)" %}</a></li>
                <li><a href='{% url pydici.staffing.views.all_timesheet %}'>{% trans "All people timesheet" %}</a></li>
                <li><a href='{% url pydici.billing.views.bill_review %}'>{% trans "Bills review" %}</a></li>
                <li><a href='{% url pydici.billing.views.bill_payment_delay %}'>{% trans "Payment delay review" %}</a></li>
                <li><a href='{% url pydici.expense.views.expenses_history %}'>{% trans "Expenses history" %}</a></li>
                <li class="last">
                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_left.png"/>
                    <img class="middle" alt="" src="{{ MEDIA_URL }}pydici/menu/dot.png"/>
                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_right.png"/>
                </li>
            </ul>
        </li>
        <li><a href="#link">{% trans "Help" %}</a>
            <ul>
                <li>
                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_left.png"/>
                        <a href="{% url admin:index %}">{% trans "Admin console" %}</a>
                     <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_right.png"/>
                </li>
                <li><a href="{% url help %}">{% trans "Help page" %}</a></li>
                <li>{{ foo|get_admin_mail }}</li>
                <li class="last">
                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_left.png"/>
                    <img class="middle" alt="" src="{{ MEDIA_URL }}pydici/menu/dot.png"/>
                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_right.png"/>
                </li>
            </ul>
        </li>
        <li class="searchContainer">
            <form action="{% url search %}" method="GET">
	            <input type="text", name="q", value="{{ query|escape }}", maxlength="100" />
	            <img src="{{ MEDIA_URL }}pydici/menu/magnifier.png" alt="Search" onclick="submit"/>
	            <ul id="search">
	                <li>
	                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_left.png"/>
	                    <input name="lead" type="checkbox" checked="checked" />{% trans "Leads" %}
	                    <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_inset_right.png"/>
	                </li>
	                <li><input name="mission" type="checkbox"    checked="checked" />{% trans "Missions" %}</li>
	                <li><input name="company" type="checkbox"    checked="checked"/>{% trans "Company" %}</li>
	                <li><input name="contact" type="checkbox"    checked="checked"/>{% trans "Contacts" %}</li>
	                <li><input name="consultant" type="checkbox" checked="checked"/>{% trans "Consultants" %}</li>
	                <li><input name="bill" type="checkbox" checked="checked"/>{% trans "Bills" %}</li>
	                <li class="last">
	                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_left.png"/>
	                    <img class="middle" alt="" src="{{ MEDIA_URL }}pydici/menu/dot.png"/>
	                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}pydici/menu/corner_right.png"/>
	                </li>
	            </ul>
	       </form>
        </li>
        <li>&nbsp;</li>
        {% else %}
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
        <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
        {% endif %} {# End of menu for staff users only #}
        <li style='border-radius: 0px 0px 24px 0px;'>&nbsp;</li>
    </ul>
</div>

<!-- End menu -->
{% endif %}
{% endblock %}



{% block nav-global %}{% endblock %}
