{% load i18n %}
{% load l10n %}
{% load cache %}
{# context: consultant #}
{# tab: tab anchor name #}
{% cache 60 consultant consultant.id %}
<a href="{% url 'people:consultant_home' consultant.trigramme %}{{ tab }}" {% if not consultant.active %}class="disabled-items"{% endif %}>{{ consultant }}</a><span title="{{consultant.id|unlocalize}}"></span>
{% if consultant.is_in_holidays %}<i class="pydici-tooltip bi bi-sunglasses" title="{% trans 'on holidays !' %}"></i>{% endif %}
{% if not consultant.subcontractor and consultant.active %}
    {% with late_timesheet=consultant.timesheet_is_up_to_date %}
        {% with previous_month_late=late_timesheet|first current_month_late=late_timesheet|last %}
            {% if previous_month_late > 0 %}
                {% with days=previous_month_late|floatformat:-1 %}
                    <i title="{% blocktrans %} {{ days }} days missing in last month timesheet{% endblocktrans %}" style="color:red" class="pydici-tooltip bi bi-clock"></i>
                {% endwith %}
            {% endif %}
            {% if current_month_late > 0 %}
                {% with days=current_month_late|floatformat:-1 %}
                    <i title="{% blocktrans %} {{ days}} days missing in current month timesheet{% endblocktrans %}"
                        {% if current_month_late > 8 %}
                            style="color:red"
                        {% elif current_month_late > 4 %}
                            style="color:orange"
                        {% endif %}
                          class="pydici-tooltip bi bi-clock"></i>
                {% endwith %}
            {% endif %}
        {% endwith %}
    {% endwith %}
    {% with staffing_overload=consultant.staffing_overload %}
        {% with current_overload=staffing_overload.0 future_overload=staffing_overload.1 %}
            {% if current_overload > 3 %}
                {% with days=current_overload|floatformat:-1 %}
                <i title="{% blocktrans %} {{ days }} days in excess in current month staffing{% endblocktrans %}"
                            {% if current_overload > 5 %}
                                style="color:red"
                            {% elif current_overload > 4 %}
                                style="color:orange"
                            {% endif %}
                              class="pydici-tooltip bi bi-calendar3"></i>
                {% endwith %}
            {% endif %}
            {% if future_overload > 3 %}
                {% with days=future_overload|floatformat:-1 %}
                <i title="{% blocktrans %} {{ days }} days in excess in next month staffing{% endblocktrans %}"
                            {% if future_overload > 5 %}
                                style="color:red"
                            {% elif future_overload > 4 %}
                                style="color:orange"
                            {% endif %}
                              class="pydici-tooltip bi bi-calendar3"></i>
                {% endwith %}
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endif %}
{% endcache %}