{# consultant tag banner #}
{# Context/Argument: consultant #}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

<div class="alert" hx-target="this" hx-swap="outerHTML" hx-on::after-settle="$('.django-select2').djangoSelect2({ 'theme': 'bootstrap-5', 'width': 'auto'});">
    {% for tag in consultant.sorted_tags %}
        {% ifchanged tag.category %}
        {% if not forloop.first %} </div></div> {% endif %}
            <div class="row my-2">
                <div class="align-self-center">
                    <class="d-flex flex-wrap">
                        <h3>{{ tag.category | default:"" }} <i class="bi bi-question-circle pydici-tooltip d-none d-md-inline" title="{{ tag.category_description }}"></i></h3>
                        <ul class="row list-unstyled">
        {% endifchanged %}
        <li class="col-lg-auto col-sm-3 col-md-2">
            <div class="mx-1">
                <a href="{% url 'core:tag' tag.tag_id %}"><span class="badge rounded-pill tag_level_{{ tag.level }}">{{ tag.name }}</span></a>{% if tag.nature == '2_WISH' %} <i class="bi bi-heart-fill tag_wish"></i>{% endif %}
                <a href='#' hx-delete="{% url 'people:remove_tag' consultant.id|unlocalize tag.tag_id|unlocalize %}{% if tag.nature == '2_WISH' %}?wished{% endif %}">
                <i class="bi bi-x-circle"></i></a>&nbsp;
            </div>
        </li>
        {% if forloop.last %}
            </ul></div></div>
        {% endif %}
    {% endfor %}

    {% if not read_only %}
        <div class="col-lg-auto col-md-12">
        <form id="tag_form">
            {% crispy consultant_tag_form consultant_tag_form.helper %}

            <div class="col"><button type="submit" class="btn btn-primary" hx-post="{% url 'people:add_tag' consultant.id|unlocalize %}">{% trans "Add" %}</button></div>

        </form>
        </div>
    {% endif %}
    </div>
    {% if not read_only %}
        {% for tag in consultant.suggested_tags %}
            {% if forloop.first %}{% trans "Suggested tags: " %}{% endif %}
            <a href="#" hx-put="{% url 'people:add_tag' consultant.id|unlocalize tag.id|unlocalize %}">{{ tag }}</a></form>
        {% endfor %}
    {% endif %}
</div>
