{% extends "core/pydici.html" %}

{% load i18n %}

{% block extrajs %}
    {% include "core/_c3.html" %}
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}

{% block title %}{% trans "Forecast/timesheet " %}{{ consultant }}{% endblock %}

{% block content %}

{% with "consultant-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

<h1>{{ consultant.full_name }} {% if consultant.subcontractor %} - {% trans "subcontractor" %} {% endif %}
{% if consultant.is_in_holidays %}<i class="bi-sunglasses" style="font-size: 2rem" title="{% trans 'on holidays !' %}"></i>{% endif %}
</h1>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="consultant-tabs">
        {% if consultant.subcontractor %}
            <li class="active"><a data-bs-toggle="tab" href="#tab-home" data-tab-url="{% url 'people:subcontractor_detail' consultant.id %}"><i class="bi-house"></i> {% trans "Home" %}</a></li>
        {% else %}
            <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-home" data-tab-url="{% url 'people:consultant_detail' consultant.id %}"><i class="bi-house"></i> {% trans "Home" %}</button></li>
        {% endif %}
        {% if request.GET.year and request.GET.month %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-timesheet" data-tab-url="{% url 'staffing:consultant_timesheet' consultant.id request.GET.year request.GET.month %}"><i class="bi-clock"></i> {% trans "Timesheet" %}</button></li>
        {% else %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-timesheet" data-tab-url="{% url 'staffing:consultant_timesheet' consultant.id %}"><i class="bi-clock"></i> {% trans "Timesheet" %}</button></li>
        {% endif %}
        {% if pydici_feature.staffing %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-staffing"  data-tab-url="{% url 'staffing:consultant_staffing' consultant.id %}"><i class="bi-eye"></i> {% trans "Forecast staffing" %}</button></li>
        {% endif %}
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-missions"><i class="bi-list-ul"></i> {% trans "Missions" %}</button></li>
    </ul>
</div>
    
<div class="tab-content">
    <div id="tab-home" class="tab-pane fade show active " role="tabpanel"></div>
    <div id="tab-timesheet" class="tab-pane fade" role="tabpanel"></div>
    <div id="tab-staffing" class="tab-pane fade" role="tabpanel"></div>
    <div id="tab-missions" class="tab-pane fade" role="tabpanel">
        <div class="py-2">
            <h2>{% trans "Consultant's missions" %}</h2>
            <table id="consultant_missions" class="table table-hover table-striped table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr><th>{% trans "Name" %}</th>
                        <th>{% trans "Mission id" %}</th>
                        <th>{% trans "Probability" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for mission in consultant.current_missions %}
                        <tr {%cycle 'class="row1"' 'class="row2"' %}>
                            <th scope="row"><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission }}</a></th>
                            <td>{{ mission.mission_id }}</td>
                            <td>{{ mission.probability }} %</td>
                            <td scope="row"><a href="{% url 'staffing:mission_update' mission.id %}?return_to={% url 'people:consultant_home' consultant.trigramme %}#goto_tab-missions" title='{% blocktrans %}Change {{ mission }}{% endblocktrans %}' class='changelink'><em>{% trans "Change" %}</em></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% with "consultant_missions" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
        </div>
    </div>
</div>

{% endblock %}
