{% extends "core/pydici.html" %}

{% load i18n %}

{% block extrajs %}
    {% include "core/_c3.html" %}
{% endblock %}

{% block title %}{% trans "Forecast/timesheet " %}{{ consultant }}{% endblock %}

{% block content %}

{% with "consultant-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

<h1>{{ consultant.full_name }} {% if consultant.subcontractor %} - {% trans "subcontractor" %} {% endif %}
{% if consultant.is_in_holidays %}<span class="glyphicon glyphicon-sunglasses gi-2x" title="{% trans 'on holidays !' %}"></span>{% endif %}
</h1>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="consultant-tabs">
        {% if consultant.subcontractor %}
            <li class="active"><a data-toggle="tab" href="#tab-home" data-tab-url="{% url 'people:subcontractor_detail' consultant.id %}"><span class="glyphicon glyphicon-home"></span> {% trans "Home" %}</a></li>
        {% else %}
            <li class="active"><a data-toggle="tab" href="#tab-home" data-tab-url="{% url 'people:consultant_detail' consultant.id %}"><span class="glyphicon glyphicon-home"></span> {% trans "Home" %}</a></li>
        {% endif %}
        {% if request.GET.year and request.GET.month %}
            <li><a data-toggle="tab" href="#tab-timesheet" data-tab-url="{% url 'staffing:consultant_timesheet' consultant.id request.GET.year request.GET.month %}"><span class="glyphicon glyphicon-time"></span> {% trans "Timesheet" %}</a></li>
        {% else %}
            <li><a href="#tab-timesheet" data-tab-url="{% url 'staffing:consultant_timesheet' consultant.id %}"><span class="glyphicon glyphicon-time"></span> {% trans "Timesheet" %}</a></li>
        {% endif %}
        {% if pydici_feature.staffing %}
            <li><a data-toggle="tab" href="#tab-staffing"  data-tab-url="{% url 'staffing:consultant_staffing' consultant.id %}"><span class="glyphicon glyphicon-eye-open"></span> {% trans "Forecast staffing" %}</a></li>
        {% endif %}
        <li><a data-toggle="tab" href="#tab-missions"><span class="glyphicon glyphicon-list"></span> {% trans "Missions" %}</a></li>
    </ul>
</div>
    
<div class="tab-content">
    <div id="tab-home" class="tab-pane fade active in"></div>
    <div id="tab-timesheet" class="tab-pane fade"></div>
    <div id="tab-staffing" class="tab-pane fade" ></div>
    <div id="tab-missions" class="tab-pane fade">
        <h2>{% trans "Consultant's missions" %}</h2>
        <table id="consultant_missions" class="table table-hover table-striped table-condensed" cellspacing="0" width="100%">
        <thead>
        <tr><th>{% trans "Name" %}</th>
            <th>{% trans "Mission id" %}</th>
            <th>{% trans "Probability" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for mission in consultant.current_missions %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <th scope="row"><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission }}</a></th>
                <td>{{ mission.mission_id }}</td>
                <td>{{ mission.probability }} %</td>
                <td scope="row"><a href="{% url 'staffing:mission_update' mission.id %}?return_to={% url 'people:consultant_home' consultant.trigramme %}#goto_tab-missions" title='{% blocktrans %}Change {{ mission }}{% endblocktrans %}' class='changelink'><em>{% trans "Change" %}</em></a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% with "consultant_missions" as table_id %}{% include "core/_datatables-dj-tables.html" %}{% endwith %}
    </div>
</div>

{% endblock %}
