{% extends "core/pydici.html" %}

{% load i18n %}
{% load cache %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/graphology.min.js"></script>
    <script src="{{ MEDIA_URL }}js/graphology-library.js"></script>
    <script src="{{ MEDIA_URL }}js/sigma.min.js"></script>
{% endblock %}

{% block title %}{% trans "Consultant network" %}{% endblock %}

{% block content %}

    <div id='sigma-container' style='height:600px; width:100%;'></div>
    <script>
      // Create graph
      var graph = graphology.Graph.from({
        attributes: {name: 'Consultant Graph'},
        nodes: {{ nodes|safe }},
        edges: {{ edges|safe }}
      });

      // Layout, first random, then Atlas2
      graphologyLibrary.layout.random.assign(graph);
      var atlasSettings = graphologyLibrary.layoutForceAtlas2.inferSettings(graph);
      graphologyLibrary.layoutForceAtlas2.assign(graph, {iterations: 200, settings: atlasSettings});

      // issue with size
      //graphologyLibrary.metrics.centrality.degree.assign(graph, {nodeCentralityAttribute: 'size'});

      // Initialize sigma:
      var s = new Sigma(graph, document.getElementById('sigma-container'));

    </script>

{% endblock %}