{% extends "core/pydici.html" %}

{% load i18n %}
{% load cache %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}

{% block title %}{% trans "Forecast/timesheet " %}{{ consultant }}{% endblock %}

{% block content %}

{% with "consultant-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

<h1>{{ consultant.full_name }} {% if consultant.subcontractor %} - {% trans "subcontractor" %} {% endif %}
{% if consultant.is_in_holidays %}<i class="bi bi-sunglasses" style="font-size: 2rem" title="{% trans 'on holidays !' %}"></i>{% endif %}
</h1>

<div>
    <!-- Nav tabs -->
    {% cache 3600 consultant_menu consultant.id %}
    <ul class="nav nav-tabs" id="consultant-tabs">
        {% if consultant.subcontractor %}
            <li class="active"><button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-home" data-tab-url="{% url 'people:subcontractor_detail' consultant.id %}"><i class="bi bi-house"></i> {% trans "Home" %}</button></li>
        {% else %}
            <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-home" data-tab-url="{% url 'people:consultant_detail' consultant.id %}"><i class="bi-house"></i> {% trans "Home" %}</button></li>
        {% endif %}
        {% if request.GET.year and request.GET.month %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-timesheet" data-tab-url="{% url 'staffing:consultant_timesheet' consultant.id request.GET.year request.GET.month %}"><i class="bi-clock"></i> {% trans "Timesheet" %}</button></li>
        {% else %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-timesheet" data-tab-url="{% url 'staffing:consultant_timesheet' consultant.id %}"><i class="bi-clock"></i> {% trans "Timesheet" %}</button></li>
        {% endif %}
        {% if pydici_feature.staffing %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-staffing"  data-tab-url="{% url 'staffing:consultant_staffing' consultant.id %}"><i class="bi-eye"></i> {% trans "Forecast staffing" %}</button></li>
        {% endif %}
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-missions" data-tab-url="{% url 'staffing:consultant_missions' consultant.id %}"><i class="bi-list-ul"></i> {% trans "Missions" %}</button></li>
    </ul>
    {% endcache %}
</div>
    
<div class="tab-content">
    <div id="tab-home" class="tab-pane fade show active " role="tabpanel"></div>
    <div id="tab-timesheet" class="tab-pane fade" role="tabpanel"></div>
    <div id="tab-staffing" class="tab-pane fade" role="tabpanel"></div>
    <div id="tab-missions" class="tab-pane fade" role="tabpanel"></div>
</div>

{% endblock %}
