{% load i18n %}

{% if not consultant.active %}
<h3>{% trans "This consultant does not work anymore for the company" %}</h3>
{% endif %}


<div class="row my-2">
    {% for achievement in achievements %}
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-3">
                        <i class="bi bi-{{ achievement.icon }}" style="font-size: 4rem"></i>
                    </div>
                    <div class="col-9 text-end">
                        <div class="huge">{{ achievement.value }}</div>
                        <div>{{ achievement.name }}</div>
                    </div>
                </div>
            </div>
            <a href="{{ achievement.link }}">
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">{% trans "View Details" %}</div>
                        <div class="col-6 text-end"><i class="bi bi-search"></i></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

</div> <!-- end of dashboard panels -->
