{% load i18n %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
{% endblock %}

<div class="content-large">
{% if not consultant.active %}
<h3>{% trans "This consultant does not work anymore for the company" %}</h3>
{% endif %}

<div class="pydici-grid">
<ul>
<li>
    <div class="pydici-grid-long-item">
    <h3>{% trans "This month" %}</h3>
    {% url 'people.views.consultant_home' consultant.id as consultant_url %}
        <ul>
            <li>{% trans "My turnover this month: " %} <b>{{ month_turnover|floatformat:-2 }} €</b>
            ({% if turnover_variation > 0 %}<img src="{{ MEDIA_URL }}pydici/increase.png" border=0 title="{% trans 'Increase' %}" />
             {% else %}<img src="{{ MEDIA_URL }}pydici/decrease.png" border=0 title="{% trans 'Decrease' %}" />{% endif %}
            {{ turnover_variation|floatformat:-2 }}%)</li>
            {% with consultant.forecasted_days as forecasted_days %}
                {% if forecasting_balance > 0 %}<li>{% blocktrans with forecasting_balance|floatformat:-2 as missing %} Incomplete <a href="{{ consultant_url }}#tab-staffing">forecasting</a> for this month (missing <b>{{ missing }} day(s)</b>) {% endblocktrans %}</li>{% endif %}
                {% if forecasting_balance < 0 %}<li>{% blocktrans with forecasting_balance|floatformat:-2 as overhead %} Overhead <a href="{{ consultant_url }}#tab-staffing">forecasting</a> for this month (<b>{{ overhead }} day(s)</b> overhead) {% endblocktrans %}</li>{% endif %}
            {% endwith %}
            {% if late %}<li>{% blocktrans with late|floatformat:-2 as days %}<a href="{{ consultant_url }}#tab-timesheet">Timesheet</a> is <b>{{ days }} day(s)</b> late{% endblocktrans %}</li>{% endif %}

        </ul>
        <br/><br/><br/><br/><div id="consultant_timesheet_status" style="height: 50px; width: 350px;"></div>

<script type="text/javascript">
$(document).ready(function() {
    $.jqplot.config.enablePlugins = true;
    var plot_consultant_timesheet_status =$.jqplot('consultant_timesheet_status',  [[{{ done_days|safe }},0], [{{ late|safe }},0] ,[{{ to_be_done|safe }},0]] , {
         animate : true,
         stackSeries: true,
         title: '{% trans "Timesheet" %}',
         captureRightClick: true,
         seriesColors: ['green', 'red', 'grey'],
         grid: {
             drawBorder: false,
             drawGridlines: false,
             background: '#ffffff',
             shadow:false
         },
         seriesDefaults:{
             renderer:$.jqplot.BarRenderer,
             rendererOptions: {
                barDirection: 'horizontal',
                barWidth: 50,
                }
         },
         highlighter: {
            show: true,
            sizeAdjust: 0,
            tooltipAxes: 'x',
          },
          axes: {
              xaxis: {
                show: false,
                showTicks: false,
                showTickMarks: false,
                max: {{ month_days|safe }},
                min: 0,
                pad: 0,
              },
              yaxis: {
                show: false,
                showTicks: false,
                showTickMarks: false,
              },
           },
     });

});
</script>
    </div>
</li>


<li>
    <div class="pydici-grid-item">
	<p>{% if consultant.manager %}{% ifnotequal consultant.manager consultant %}{% trans "Manager: " %} <a href="{% url 'people.views.consultant_home' consultant.manager.id %}">{{ consultant.manager.full_name }}</a>{% endifnotequal %}{% endif %}</p>
	{% if staff %}
	    <h3>{% trans "Staff" %}</h3>
	    <ul>
	    {% for people in staff %}
	        <li><a href="{% url 'people.views.consultant_home' people.id %}">{{ people.full_name }}</a></li>
	    {% endfor %}
	    </ul>
	{% endif %}
	</div>
</li>
<li>
    <div class="pydici-grid-long-item">
    <h3>{% trans "Pending actions" %}</h3>
    {% with consultant.pending_actions as actions %}
        {% include "actionset/_consultant_actions.html" %}
    {% endwith %}
    </div>
</li>
{% if business_territory %}
<li>
    <div class="pydici-grid-item">
    <h3>{% trans "Business territory" %}</h3>
    <ul>
    {% for company in business_territory %}
        <li><a href="{% url 'crm.views.company_detail' company.id %}">{{ company }}</a></li>
    {% endfor %}
    </ul>
    </div>
</li>
{% endif %}
<li>
    <div class="pydici-grid-item">
	<h3>{% trans "Clients" %}</h3>
	<ul>
	{% for company in companies %}
	    <li><a href="{% url 'crm.views.company_detail' company.id %}">{{ company }}</a></li>
	{% endfor %}
	</ul>
	</div>
</li>
<li>
    <div class="pydici-grid-long-item">
	<h3>{% trans "Current missions" %}</h3>
	<ul>
	{% for mission in missions %}
	    <li><a href="{% url 'staffing.views.mission_home' mission.id %}">{{ mission }}</a></li>
	{% endfor %}
	</ul>
	</div>
</li>
<li>
    <div class="pydici-grid-long-item">
	{% if leads_as_responsible %}
	<h3>{% trans "Current leads as responsible" %}</h3>
	<ul>
	{% for lead in leads_as_responsible %}
	    <li><a href="{% url 'leads.views.detail' lead.id %}", title='{{ lead.description }}'>{{ lead }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
	</div>
</li>
<li>
    <div class="pydici-grid-long-item">
	{% if leads_as_staffee %}
	<h3>{% trans "Current leads as resource" %}</h3>
	<ul>
	{% for lead in leads_as_staffee %}
	    <li><a href="{% url 'leads.views.detail' lead.id %}", title='{{ lead.description }}'>{{ lead }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}	
	</div>
</li>
<div style="clear:both">&nbsp;</div>
<li>
    <div id="consultant_rate_graph_jqp_content"></div>
    <script type="text/javascript">
    $('#consultant_rate_graph_jqp_content').load("{% url 'staffing.views.graph_consultant_rates_jqp' consultant.id %}")
    </script>
</li>
</ul>
</div>
<br/>

<div style="clear:both;"></div>
{% include "leads/_tag_cloud.html" %}
</div>