{# Fragment that display people count graph to be included with a jquery load #}

{% if graph_data %}
<div id="people_count_graph"></div>
<script type="text/javascript">

    var chart = bb.generate({
    bindto: '#people_count_graph',
    data: {
         columns: {{ graph_data | safe }},
         x: 'x',
         type: 'bar',
         groups: [{% for subsidiary in subsidiaries %}['consultants {{subsidiary}}', 'subcontractors {{subsidiary}}'], {% endfor %}],
    },
    point: {
        show: false,
    },
    color: {
        pattern: {{ series_colors|safe }},
    },
    grid: {
            y: { show: true },
        },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m',
                rotate: 45,
            },
        },
        y: {
            label : {
                text: '{% trans "people count" %}',
                position: 'outer-middle',
            },
            //max: 100,
            min: 0,
            padding: { top: 10, bottom: 0 },
        },
    },
  });

</script>
{% endif %}
