{% load i18n %}
<div class="content-large">
{% if not consultant.active %}
<h3>{% trans "This consultant does not work anymore for the company" %}</h3>
{% endif %}


    <div class="col-md-4 col-sm-6">
        <h3>{% trans "Contact" %}</h3>
	   <p>{% if consultant.manager %}{% ifnotequal consultant.manager consultant %}{{ consultant.manager.full_name }}{% endifnotequal %}{% endif %}</p>
	</div>

    {% with consultant.pending_actions as actions %}
    {% if actions %}
    <div class="col-md-4 col-sm-6">
        <h3>{% trans "Pending actions" %}</h3>
            {% include "actionset/_consultant_actions.html" %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="col-md-4 col-sm-6">
	<h3>{% trans "Clients" %}</h3>
	<ul>
	{% for company in companies %}
	    <li>{{ company }}</li>
	{% endfor %}
	</ul>
	</div>

    <div class="col-md-4 col-sm-6">
	<h3>{% trans "Current missions" %}</h3>
	<ul>
	{% for mission in missions %}
	    <li>{{ mission }}</li>
	{% endfor %}
	</ul>
	</div>

    <div class="col-md-4 col-sm-6">
	{% if leads_as_staffee %}
	<h3>{% trans "Current leads as resource" %}</h3>
	<ul>
	{% for lead in leads_as_staffee %}
	    <li>{{ lead }}</li>
	{% endfor %}
	</ul>
	{% endif %}	
	</div>
<br/>