{# This template fragment can be included to display lead doc check banner #}
{# Context/Argument: Lead #}

{% load i18n %}

{% if not lead.checkBusinessDoc %}
    <div class="col-md-6">
        <div class="alert alert-warning"><i class="bi bi-file-earmark-text"></i> {% trans "Business documents are missing. Please put them here: " %}{{ lead.getDocURL|urlize }}</div>
    </div>
{% endif %}

{% if not lead.checkDeliveryDoc %}
    <div class="col-md-6">
        <div class="alert alert-warning"><i class="bi bi-file-earmark-text"></i> {% trans "Delivery documents are missing. Please put them here: " %}{{ lead.getDocURL|urlize }}</div>
    </div>
{% endif %}