{# This template fragment can be included to display lead doc check banner #}
{# Context/Argument: Lead #}

{% load i18n %}
<div class="row">
    <div class="col-lg-12">
        {% if not lead.checkBusinessDoc %}<div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Business documents are missing. Please put them here: " %}{{ lead.getDocURL|urlize }}</div>{% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% if not lead.checkDeliveryDoc %}<div class="alert alert-warning col-lg-12"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Delivery documents are missing. Please put them here: " %}{{ lead.getDocURL|urlize }}</div>{% endif %}
    </div>
</div>