{# This template fragment can be included to display lead tag cloud #}
{# Context/Argument: None #}

{% load i18n %}
{% load taggit_templatetags2_tags %}
{% load cache %}

{% cache 3600 tag_cloud %}
    <br/>
    <h1>{% trans "All lead tags" %}</h1>

    {% get_tagcloud as tags for 'leads.lead' %}

    <ul class="row list-unstyled">
    {% for tag in tags %}
        <li class="col-xs-6 col-sm-3 col-md-2">
            <font size={{tag.weight|floatformat:0}}>
                <a href="{% url 'leads:tag' tag.id %}">{{ tag }} ({{tag.num_times}})</a>
            </font>
        </li>
    {% endfor %}
    </ul>
    <div style="clear:both;"></div>
{% endcache %}