{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
    <h1>{{ consultant }}</h1>

    <h2>{% trans "Consultant's missions" %}</h2>
		<table>
		<tr><th>{% trans "Name" %}</th><th>{% trans "Probability" %}</th></tr>
		{% for mission in missions %}
		    <tr {%cycle 'class="row1"' 'class="row2"' %}>
		        <th scope="row"><a href='/leads/mission/{{mission.id}}/', title='{% blocktrans %}Change mission {{ mission }} staffing {% endblocktrans %}'>{{ mission }}</a></th>
		        <td>{{ mission.get_probability_display }}</td>
		        <td scope="row"><a href='/leads/admin/leads/mission/{{mission.id}}/', title='{% blocktrans %}Change {{ mission }}{% endblocktrans %}', target='_blank', class='changelink'><em>{% trans "Change" %}</em></a></td>
		    </tr>
		{% endfor %}
		</table>
    <br><hr>
    <h2>{% trans "Staffing" %}</h2>
    <form action="" method="POST">
        {{ formset.management_form }}
        <div class="form-row">
        <table>
           <tr>
               <th></th>
               <th>{% trans "Mission" %}</th>
               <th>{% trans "Month" %}</th>
               <th>{% trans "Load" %}</th>
               <th>{% trans "Comments" %}</th>
               <th></th>
               <th>{% trans "Delete" %}</th>
               <th>{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
               {% ifchanged form.initial.staffing_date %}
	               {% if form.initial.staffing_date %}
	                   <tr><th>{{ form.initial.staffing_date|date:"F Y" }}</th></tr>
	               {% else %}
	                   <tr><th>{% trans "New staffing:" %}</th></tr>
	               {% endif %}
               {% endifchanged%}
               {% if form.non_field_errors %}
                    <tr>
                            <td><ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                            </ul></td>
                    </tr>
               {% endif %}
               <tr {%cycle 'class="row1"' 'class="row2"' %}>
               {% for field in form %}
                    {% ifequal field.label "Last user" %}
                        {{ field.as_hidden }}
                    {% else %}
	                    {% ifequal field.label "Update date" %}
	                        {{ field.as_hidden }}
	                    {% else %}
	                       <td>
	                        {{ field.errors }}
	                        {{ field }}
	                       </td>
	                    {% endifequal %}
                    {% endifequal %}
               {% endfor %}
               <td>
               {% if form.initial.last_user %}
                    {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
               {% endif %}
               </td>
               </tr>
           {% endfor %}
        </table>       
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}"/>
        </div>
    </form>
<br>
<br>
<a href='/leads/pdcreview'>{% trans "Back to work load schedule" %}</a>
&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
<a href='/leads/'>{% trans "Back to home page" %}</a>
</div>
{% endblock %}