{# Fragment that display activities activity stats graph to be included with a jquery load #}
{# One must include in its extrajs block core/_billboard.html to load according js/css #}
{% load i18n %}
{% load l10n %}

    <div class="row">
        {% with data=state_data title=state_title target="activities_donut" %}
            {% include "leads/__state_donut.html" %}
        {% endwith %}
        {% if max_creation_rate > 0 %}
        <div class="col-lg-3 col-sm-6 col-12 align-self-center">
                <div id="activities_activity" class="mt-2"></div>
                <h5 class="mt-2"><div class="text-center">{% trans "New activities per week" %}</div></h5>
                <script type="text/javascript">
                    $(document).ready(function() {
                            bb.generate({
                                bindto: '#activities_activity',
                                data: {
                                    columns: {{ creation_rate_data | safe }},
                                    type : 'gauge',
                                },
                                gauge: {
                                    units: "",
                                    type: "multi",
                                    label: {
                                        format: function (value) { return value; },
                                        },
                                    min: 0,
                                    max: {{ max_creation_rate|unlocalize }},
                                 },
                            });
                    });
                </script>
        </div>
        {% endif %}
        {% if duration_data %}
        <div class="col-lg-6 col-12">
                <div id="activities_duration"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                            bb.generate({
                                bindto: '#activities_duration',
                                data: {
                                    columns: {{ duration_data | safe }},
                                    x: "x",
                                    types : {
                                        '{% trans 'duration' %}' : 'bar',
                                        '{% trans 'average duration 6 months' %}' : 'spline'
                                        },
                                },
                                legend: {
                                    show: false
                                },
                                point: {
                                   show: false
                                },
                                spline: {interpolation: { type: "monotone" }},
                                axis: {
                                    x: {
                                        type: 'timeseries',
                                        tick: {
                                            format: '%Y-%m',
                                            rotate: 45,
                                        },
                                    },
                                    y: {
                                        label : {
                                            text: "{% trans 'activity duration (days)' %}",
                                            position: 'outer-middle',
                                        },
                                    },
                                },
                            });
                    });
                </script>
        </div>
        {% endif %}
    </div> {# end of row #}
