{# Fragment that display leads pipe graph to be included with a jquery load #}
{# One must include in its extrajs block core/_billboard.html to load according js/css #}
{% load i18n %}
{% load l10n %}

{% if graph_data %}
<div id="leads_pipe_graph"></div>
    <script type="text/javascript">
        var chart = bb.generate({
        bindto: '#leads_pipe_graph',
        data: {
             x: "x",
             columns: {{ graph_data | safe }},
             type: 'bar',
             types: { pipe_count: "spline",
                      pipe_amount: "spline"
                      },
             groups: [["input_count", "output_count"],
                      ["input_amount", "output_amount"],
                      ],
             colors: {
                input_count: '#1f77b4',
                output_count: '#29a0ef',
                pipe_count: '#2b4398',
                input_amount: '#36982f',
                output_amount: '#77be6a',
                pipe_amount: '#39a531',
                },
             axes: {
                input_count: 'y',
                output_count: 'y',
                pipe_count: 'y',
                input_amount: 'y2',
                output_amount: 'y2',
                pipe_amount: 'y2',
                },
             names: {
                "input_count": "{% trans "input count" %}",
                "output_count": "{% trans "output count" %}",
                "pipe_count":   "{% trans "count of leads in pipe" %}",
                "input_amount": "{% trans "input amount" %}",
                "output_amount": "{% trans "output amount" %}",
                "pipe_amount":   "{% trans "amount of leads in pipe" %}"
                },
        },
        spline: {interpolation: { type: "monotone" }},
        point: {
            show: false
        },
        grid: {
            y: { show: true },
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m',
                    rotate: 45,
                },
            },
            y: {
                label : {
                    text: "{% trans "Number of lead" %}",
                    position: 'outer-middle',
                },
                min: -{{ count_max|unlocalize }},
                max: {{ count_max|unlocalize }},
            },
            y2: {
               show: true,
               label : {
                    text: "{% trans "Pipe amount (k€)" %}",
                    position: 'outer-middle',
                },
                min: -{{ amount_max|unlocalize }},
                max: {{ amount_max|unlocalize }},

            }
        },
      });
    </script>
{% endif %}