{# Fragment that display leads activity stats graph to be included with a jquery load #}
{# One must include in its extrajs block core/_billboard.html to load according js/css #}
{% load i18n %}
{% load l10n %}

    <div class="row">
        {% with data=leads_state_data title=leads_state_title %}
            {% include "crm/__leads_state_donut.html" %}
        {% endwith %}

        <div class="col-lg-3 col-sm-6 col-12 align-self-center">
                <div id="leads_activity" class="mt-2"></div>
                <h5 class="mt-2"><div class="text-center">{% trans "New leads per week" %}</div></h5>
                <script type="text/javascript">
                    $(document).ready(function() {
                        // Display new lead activity
                            bb.generate({
                                bindto: '#leads_activity',
                                data: {
                                    columns: {{ lead_creation_rate_data | safe }},
                                    type : 'gauge',
                                },
                                gauge: {
                                    units: "",
                                    type: "multi",
                                    label: {
                                        format: function (value) { return value; },
                                        },
                                    min: 0,
                                    max: {{ max_creation_rate|unlocalize }},
                                 },
                            });
                    });
                </script>
        </div>
    {% if leads_duration_data %}
        <div class="col-lg-6 col-12">
                <div id="leads_duration"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        // Display new lead activity
                            bb.generate({
                                bindto: '#leads_duration',
                                data: {
                                    columns: {{ leads_duration_data | safe }},
                                    x: "x",
                                    types : {
                                        '{% trans 'duration' %}' : 'bar',
                                        '{% trans 'average duration 6 months' %}' : 'spline'
                                        },
                                },
                                legend: {
                                    show: false
                                },
                                point: {
                                   show: false
                                },
                                spline: {interpolation: { type: "monotone" }},
                                axis: {
                                    x: {
                                        type: 'timeseries',
                                        tick: {
                                            format: '%Y-%m',
                                            rotate: 45,
                                        },
                                    },
                                    y: {
                                        label : {
                                            text: "{% trans 'lead duration (days)' %}",
                                            position: 'outer-middle',
                                        },
                                    },
                                },
                            });
                    });
                </script>
        </div>
     {% endif %}
    </div> {# end of row #}
