{# Fragment that display leads stat/bar graph to be included with a jquery load #}
{# One must include in its extrajs block core/_jqplot.html to load according js/css #}
{% load i18n %}

<div id="leads-stat-graph" style="height:300px;width:1000px; "></div>

<script type="text/javascript">

$.jqplot.config.enablePlugins = true;
$.jqplot('leads-stat-graph',  {{ graph_data|safe }},
		{
         animate : true,
         stackSeries: true,
         captureRightClick: true,
         seriesColors: {{ series_colors|safe }},
         seriesDefaults:{
           renderer:$.jqplot.BarRenderer,
           rendererOptions: {
               barMargin: 20,
           },
           pointLabels: {show: true}
         },
         series:[
               {% for label in series_label %}
                   {label: "{{ label }}"},
               {% endfor %}
                   {
                	   label: "{% trans 'All leads' %}",
                	   renderer: $.jqplot.LineRenderer,
                	   rendererOptions: { smooth: true },
                	   linePattern: 'dashed',
                	   lineWidth: 1,
                	   markerOptions : { size : 5},
                	   yaxis: 'y2axis',
                	   disableStack : true,
                   },
                   {
                	   label: "{% trans 'Won leads' %}",
                	   renderer: $.jqplot.LineRenderer,
                	   rendererOptions: { smooth: true },
                	   yaxis: 'y2axis',
                	   disableStack : true,
                   }
             ],
         axes: {
           xaxis: {
               renderer: $.jqplot.DateAxisRenderer,
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
               tickOptions:{
            	   formatString:'%b %y',
            	   angle: -40 
               },
               min: '{{ min_date }}',
               tickInterval: '2 month',
           },
           yaxis: {
               padMin: 0,
               numberTicks: 5,
               label: "{% trans 'Number of leads' %}",
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
           },
           y2axis: {
        	   padMin: 0,
        	   numberTicks: 5,
        	   labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
        	   tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        	   tickOptions: {
                   formatString: '%dk€'
               },
           }
         },
         legend: {
        	 show:true,
        	  location: 'e',
        	  placement: 'outsideGrid',
         },
         highlighter: {
             tooltipAxes: 'y',
             showLabel: true,
             sizeAdjust: 7.5,
         },
});
</script>