{# Fragment that display leads stat/bar graph to be included with a jquery load #}
{# One must include in its extrajs block core/_jqplot.html to load according js/css #}
{% load i18n %}

<div id="graph_bar_jqp" style="height:300px"></div>

<script type="text/javascript">

//This script format the array of leads into an html string.
//This is necessary because of the jqplot's highlighter's syntax.
var data = {{ graph_data|safe }};
data.forEach(function(series) {
    series.forEach(function(point) {
        if(typeof point[2] != 'undefined') //This is the case for "All leads" and "Won leads" series.
        {
          var html_string = "<table>";
          point[2].forEach(function(leads) {
              html_string += '<tr><td>' + leads + '</td></tr>'
            });
          html_string += '</table>'
          point[2] = html_string;
        }
    });
});

{% include "core/_jqplot_legend.html" %}


$.jqplot.config.enablePlugins = true;
var plot_graph_bar_jqp = $.jqplot('graph_bar_jqp', data,
		{
         animate : false,
         stackSeries: true,
         captureRightClick: true,
         seriesColors: {{ series_colors|safe }},
         seriesDefaults:{
           pointLabels: {show: false},
           renderer:$.jqplot.BarRenderer,
           rendererOptions: {
               barMargin: 20,
               barWidth: 15,
           },
         },
         series:[
               {% for label in series_label %}
                   {label: "{{ label }}",
                    highlighter: {
                    tooltipAxes: 'y',
                    yvalues: 3,
                    formatString:"<div align=\'center\'>%u {% trans 'Lead(s) in state' %} {{ label }} %s </div>",
                    showLabel: true,
                    sizeAdjust: 7.5,
                      },
                    },
               {% endfor %}
                   {
                	   label: "{% trans 'All leads' %}",
                	   renderer: $.jqplot.LineRenderer,
                	   rendererOptions: { smooth: true },
                	   linePattern: 'dashed',
                	   lineWidth: 1,
                	   markerOptions : { size : 5},
                	   yaxis: 'y2axis',
                	   disableStack : true,

                   },
                   {
                	   label: "{% trans 'Won leads' %}",
                	   renderer: $.jqplot.LineRenderer,
                	   rendererOptions: { smooth: true },
                	   yaxis: 'y2axis',
                	   disableStack : true,
                   }
             ],
         axes: {
           xaxis: {
               renderer: $.jqplot.DateAxisRenderer,
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
               tickOptions:{
            	   formatString:'%b %y',
            	   angle: -40
               },
               min: '{{ min_date }}',
               tickInterval: '1 month',
           },
           yaxis: {
               padMin: 0,
               pad : 1.05,
               syncTicks : true,
               label: "{% trans 'Number of leads' %}",
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
           },
           y2axis: {
        	   padMin: 0,
        	   pad : 1.05,
        	   syncTicks : true,
        	   labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
        	   tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        	   tickOptions: { formatString: '%dk€' },
           }
         },
         legend: {
        	 show: showLegend,
        	  location: 'e',
        	  placement: legendPosition,
         },
         highlighter: {
             tooltipAxes: 'y',
             showLabel: true,
             sizeAdjust: 7.5,
             tooltipLocation: 'se',
         },
});

{% with "plot_graph_bar_jqp" as plot %}
    {% include "core/_jqplot_resize.html" %}
{% endwith %}

</script>
