<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
   <title>Gestion des leads commerciaux New'Arch</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body text="#777777" bgcolor="#FFFFFF" link="#0000CC" vlink="#000080" alink="#0000CC">
<hr>
<center><img src="/leads/media/leads/na.png"><h1>Gestion des leads commerciaux</h1></center>
<hr>
{% if my_leads_as_staffee or my_leads_as_responsible %}
<h2> Mes leads </h2>
    {% if my_leads_as_responsible %}
    <h3> Les leads dont je suis responsable </h3>
    <ul>
	    {% for lead in my_leads_as_responsible %}
	        <li><a href='/leads/{{lead.id}}'>{{ lead.name }}</a> - {{ lead.client }} - {{ lead.update_date_strf }}</li>
	    {% endfor %}
    </ul>
    {% endif %}
    {% if my_leads_as_staffee %}
    <h3> Les leads pour lesquels je suis une ressource pressentie </h3>
	<ul>
	    {% for lead in my_leads_as_staffee %}
	        <li><a href='/leads/{{lead.id}}'>{{ lead.name }}</a> - {{ lead.client }} - {{ lead.update_date_strf }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
{% endif %}

<h2> Les 10 derniers leads crées ou modifiés</h2>
{% if latest_leads %}
    <ul>
    {% for lead in latest_leads %}
        <li><a href='/leads/{{lead.id}}'>{{ lead.name }}</a> - {{ lead.client }} - {{ lead.update_date_strf }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun lead actif.</p>
{% endif %}

<h2>Gestion des leads</h2>
<ul>
<li><a href='/leads/admin/leads/lead/add/'>Ajouter</a>, <a href='/leads/admin/leads/lead/'>modifier ou rechercher</a> un <b>lead</b></li>
<li><a href='/leads/admin/leads/client/add/'>Ajouter</a>, <a href='/leads/admin/leads/client/'>modifier ou rechercher</a> un <b>client</b></li>
<li><a href='/leads/admin/leads/clientcontact/add/'>Ajouter</a>, <a href='/leads/admin/leads/clientcontact/'>modifier ou rechercher</a> un <b>contact client</b></li>
</ul>
<h2> Mail récapitulatif des leads actifs</h2>
<a href='/leads/mail/html'>Cliquez ici</a> pour générer un texte prêt à copier/coller dans un mail aux listes de plan de charge (<a href='/leads/mail/text'>version texte</a>)

<h2> Export tableur au format CSV</h2>
<ul>
<li><a href='/leads/csv/active'>Fichier CSV des leads actifs</a></li>
<li><a href='/leads/csv/all'>Fichier CSV de tous les leads</a></li>
</ul>
</body>
</html>