{% extends "admin/base_site.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="imodule">
    <table summary="Leads">
    {% if my_leads_as_responsible %}
        <tr><th colspan=7>{% trans "My leads as responsible" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in my_leads_as_responsible %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                <td>{{ lead.responsible }}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}

    {% endif %}
    {% if my_leads_as_staffee %}
        <tr><th colspan=7>{% trans "My leads as a resource" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in my_leads_as_staffee %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                 <td>{{ lead.responsible }}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if latest_leads %}
        <tr><th colspan=7>{% trans "Last modified leads" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in latest_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                <td>{{ lead.responsible }}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if my_latest_archived_leads %}
        <tr><th colspan=7>{% trans "My last archived leads (won, lost, forgiven or sleeping)" %}</th></tr>
        <tr>
                <td><b>{% trans "Client" %}</b></td>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
        </tr>

        {% for lead in my_latest_archived_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.client.organisation|truncate_by_chars:"30" }}</a></b></td>
                <td><b><a href='{% url pydici.leads.views.detail lead.id %}', title='{{ lead.description }}'>{{ lead.name|truncate_by_chars:"40" }}</a></b></td>
                <td>{{ lead.responsible }}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
            </tr>
        {% endfor %}
    {% endif %}
        <tr><th colspan=7>{% trans "Reports" %}</th></tr>
        <tr><td colspan=2><a href='{% url pydici.leads.views.review %}'>{% trans "Current leads review" %}</a></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td colspan=2><a href='{% url pydici.leads.views.csv_export target="active" %}'>{% trans "Active leads as csv file" %}</a></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td colspan=2><a href='{% url pydici.leads.views.csv_export target="all" %}'>{% trans "All leads as csv file" %}</a></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td colspan=2><a href='{% url lead-mail-html %}'>{% trans "Week summary mail (html)" %}</a></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td colspan=2><a href='{% url lead-mail-text %}'>{% trans "Week summary mail (text)" %}</a></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2></h2>
        <h3>{% trans "Lead search" %}</h3>
        <div id="toolbar"><form id="changelist-search" action="admin/leads/lead/" method="get">
		<div><!-- DIV needed for valid HTML -->
		<label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
		<input type="text" size="20" name="q" value="{{ cl.query|escape }}" id="searchbar" />
		<input type="submit" value="{% trans 'Go' %}" />
		</div>
		</form></div>
		<script type="text/javascript">document.getElementById("searchbar").focus();</script>
		<br/>
		<h3>{% trans "Add..." %}</h3>
		    <ul class="actionlist">
		    <li><a href='{% url admin:leads_lead_add %}'>{% trans "new lead" %}</a></li>
		    <li><a href='{% url admin:crm_client_add %}'>{% trans "new client" %}</a></li>
		    <li><a href='{% url admin:crm_clientcontact_add %}'>{% trans "new client contact" %}</a></li>
		    </ul>
		 <br/>
        <h3>{% trans "My last actions" %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{% url admin:index %}{{ entry.content_type.app_label }}/{{ entry.content_type.model }}/{{ entry.object_id }}/">{% endif %}{{ entry.object_repr|escape }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
        <br/>
        <h3><a href="{% url admin:index %}">{% trans "Admin console" %}</a></h3>
        <ul class="actionlist">
	        <li><a href="{% url admin:leads_lead_changelist %}">{% trans "All leads" %}</a></li>
	        <li><a href="{% url admin:staffing_mission_changelist %}">{% trans "All missions" %}</a></li>
	        <li><a href="{% url admin:crm_client_changelist %}">{% trans "All clients" %}</a></li>
	        <li><a href="{% url admin:crm_clientcontact_changelist %}">{% trans "All client contacts" %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}
