{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    {% if my_leads_as_responsible %}
    <div class="module">
        <table summary="Leads">
        <caption>Les leads dont je suis responsable</caption>
        {% for lead in my_leads_as_responsible %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <th scope="row"><a href='/leads/{{lead.id}}'>{{ lead.name }} - {{ lead.client }}</a></th>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}' class='changelink'>Modifier</a></td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}/history' class='historylink'>Historique</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if my_leads_as_staffee %}
    <div class="module">
        <table summary="Leads">
        <caption>Les leads ou je suis une ressource pressentie</caption>
        {% for lead in my_leads_as_staffee %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <th scope="row"><a href='/leads/{{lead.id}}'>{{ lead.name }} - {{ lead.client }}</a></th>
                <td style="text-align:right;">{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}' class='changelink'>Modifier</a></td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}/history' class='historylink'>Historique</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if latest_leads %}
    <div class="module">
        <table summary="Les derniers leads crées ou modifiés">
        <caption>Les derniers leads modifiés</caption>
        {% for lead in latest_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <th scope="row"><a href='/leads/{{lead.id}}'>{{ lead.name }} - {{ lead.client }}</a></th>
                <td style="text-align:right;">{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}' class='changelink'>Modifier</a></td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}/history' class='historylink'>Historique</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if my_latest_archived_leads %}
    <div class="module">
        <table summary="Leads">
        <caption>Mes derniers leads archivés (gagnés, perdus ou abandonnés)</caption>
        {% for lead in my_latest_archived_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <th scope="row"><a href='/leads/{{lead.id}}'>{{ lead.name }} - {{ lead.client }}</a></th>
                <td style="text-align:right;">{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}' class='changelink'>Modifier</a></td>
                <td><a href='{{ link_root }}/leads/admin/leads/lead/{{ lead.id }}/history' class='historylink'>Historique</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    <div class="module">
        <table summary="Export tableur au format CSV">
        <caption>Export tableur au format CSV</caption>
        <tr><th scope='row'><a href='/leads/csv/active'>Fichier CSV des leads actifs</a></th><td></td></tr>
        <tr><th scope='row'><a href='/leads/csv/all'>Fichier CSV de tous les leads</a></th><td></td></tr>
        </table>
    </div>
     <div class="module">
        <table summary="Mail récapitulatif des leads actifs">
        <caption>Mail récapitulatif des leads actifs</caption>
        <tr><th scope='row'><a href='/leads/mail/html'>Format HTML</a></th><td></td></tr>
        <tr><th scope='row'><a href='/leads/mail/text'>Format texte</a></th><td></td></tr>
        </table>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2></h2>
        <h3>Rechercher un lead</h3>
        <div id="toolbar"><form id="changelist-search" action="admin/leads/lead/" method="get">
		<div><!-- DIV needed for valid HTML -->
		<label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
		<input type="text" size="20" name="q" value="{{ cl.query|escape }}" id="searchbar" />
		<input type="submit" value="{% trans 'Go' %}" />
		</div>
		</form></div>
		<script type="text/javascript">document.getElementById("searchbar").focus();</script>
		<br/>
		<h3>Ajouter...</h3>
		    <ul class="actionlist">
		    <li><a href='/leads/admin/leads/lead/add/'>un nouveau lead</a></li>
		    <li><a href='/leads/admin/leads/client/add/'>un nouveau client</a></li>
		    <li><a href='/leads/admin/leads/clientcontact/add/'>un nouveau contact client</a></li>
		    </ul>
		 <br/>
        <h3>Mes dernières actions</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="/leads/admin/{{ entry.content_type.app_label }}/{{ entry.content_type.model }}/{{ entry.object_id }}">{% endif %}{{ entry.object_repr|escape }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
        <br/>
        <h3><a href="/leads/admin/">Console d'administration</a></h3>
    </div>
</div>
{% endblock %}
