{% extends "core/pydici.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Add or modify a Lead" %}{% endblock %}

{% block content %}

<div class="row py-2">
  {% crispy form form.helper %}
</div>

<!-- Modal window to display client creation -->
<div class="modal fade" id="clientModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">{% trans "New client" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>


<script type="text/JavaScript">

$(document).ready(function(){
    // Fill modal with content from link href
    $("#clientModal").on("show.bs.modal", function(e) {
        var link = $(e.relatedTarget);

        $.ajax({url: link.attr("href"),
                     success: function(result){
                                 $('#clientModal').find(".modal-body").html(result.form);
                            },
               });
    });
});

</script>

{% include "core/_datepicker.html" %}

{% endblock %}