{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block title %}{% trans "Leads pivot table" %}{% endblock %}

{% block content %}
        <h2>{% trans "Leads pivot table" %}</h2>
        <div class="btn-group col-lg-4" data-toggle="buttons">
            <input id="startDate" name="startDate" class="btn btn-primary datepicker dateinput" data-date-format="mm/yyyy" data-date-min-view-mode=1 placeholder="{% trans 'From' %}">
            <input id="endDate" name="endDate" class="btn btn-primary datepicker dateinput" data-date-format="mm/yyyy" data-date-min-view-mode=1 placeholder="{% trans 'To' %}">
        </div>

        <div class="row mt-2">
            <div id="type-selector" class="btn-group col-lg-8 col-12" role="group">
                <button class="btn btn-primary active" onclick="lead_per_state();">{% trans "Lead per state" %}</button>
                <button class="btn btn-primary" onclick="price_interval();">{% trans "Lead per price interval" %}</button>
                <button class="btn btn-primary" onclick="billing_per_client();">{% trans "Billing per client" %}</button>
                <button class="btn btn-primary" onclick="margin_over_budget_graph();">{% trans "Margin over budget (graph)" %}</button>
                <button class="btn btn-primary" onclick="margin_over_budget_table();">{% trans "Margin over budget (table)" %}</button>
                <button class="btn btn-primary" onclick="restore_pivot_config();">{% trans "Load user config" %}</button>
                <button class="btn btn-primary" onclick="save_pivot_config();">{% trans "Save user config" %}</button>
            </div>
        </div>

        <div id="pivotable-output" class="mt-2"></div>

        {% with output="pivotable-output" %}
            {% include "core/_pivotable_body.html" %}
        {% endwith %}

        {% include "core/_datepicker.html" %}

        <script type="text/javascript">

            // Active state switcher
            $(document).ready(function() {
                $('#type-selector button').on("click", function() {
                    $(this).addClass('active').siblings().removeClass('active');
                 });
            });

            // Share data for all pivot tables
            var data = {{ data|safe }};

            // Preset definition
            function lead_per_state() {
                var rows = ["{% trans 'state' %}"];
                var cols = ["{% trans 'date' %}"];;
                drawPivot(data, rows, cols, "Stacked Bar Chart");
            }

            function price_interval() {
                var rows = ["{% trans 'subsidiary' %}", "{% trans 'responsible' %}"];
                var cols = ["{% trans 'sales (interval)'%}"];
                drawPivot(data, rows, cols, "Heatmap");
            }

            function billing_per_client() {
                var rows = ["{% trans 'client company' %}"];
                var cols = ["{% trans 'subsidiary' %}", "{% trans 'responsible' %}"];
                var options = {}
                options['inclusions'] = { {% trans "state" %}: ['{% trans "Won" %}'] };
                drawPivot(data, rows, cols, "Heatmap", '{% trans "Integer Sum" %}', ['{% trans "billed (€)" %}'], options);
            }

            function margin_over_budget_graph() {
                var rows = ["{% trans 'subsidiary' %}"];
                var cols = ["{% trans 'client company' %}"];
                var options = {}
                options['inclusions'] = { {% trans "state" %}: ['{% trans "Won" %}'] };
                drawPivot(data, rows, cols, "Horizontal Stacked Bar Chart", '{% trans "Sum" %}', ['{% trans "Over budget margin (€)" %}'], options);
            }

            function margin_over_budget_table() {
                var rows = ["{% trans 'client company' %}", "{% trans 'deal id' %}"];
                var cols = ["{% trans 'subsidiary' %}"];
                var options = {}
                options['inclusions'] = { {% trans "state" %}: ['{% trans "Won" %}'] };
                drawPivot(data, rows, cols, "Heatmap", '{% trans "Sum" %}', ['{% trans "Over budget margin (€)" %}'], options);
            }

            // default
            lead_per_state();

            $(document).ready(function() {
                //
                $('.input-daterange input').each(function() {
                    $(this).datepicker('clearDates');
                });

                // set dates on widgets with template value
                {% if start_date %}
                    $("#startDate").datepicker("setDate", new Date("{{ start_date|date:"Y-m-d" }}"));
                {% endif %}
                {% if end_date %}
                    $("#endDate").datepicker("setDate", new Date("{{ end_date|date:"Y-m-d" }}"));
                {% endif %}

                // reload data with choosen timeframe
                // TODO: factorize this code
                $('.datepicker').datepicker().on("change", function(e) {
                    var param = "";
                    var fromDate = $("#startDate").datepicker("getDate");
                    var toDate   = $("#endDate").datepicker("getDate");
                    console.log(fromDate);
                    console.log(toDate);
                    if (fromDate > toDate || fromDate.getTime() == toDate.getTime()) {
                        toDate = new Date(toDate.setMonth(toDate.getMonth()+1));
                    }
                    if (!isNaN(fromDate.getTime())) {
                        param += yyyymm(fromDate) + '/';
                    }
                    if (!isNaN(toDate.getTime())) {
                        param += yyyymm(toDate);
                    }
                    window.location.href = window.location.href.replace(/\?.*/, '').replace(/\d{6}\/?/g, '') + param;
                });

            });




        </script>



{% endblock %}