{% load i18n %}
<b>{{ obj.client.organisation }} -</b> {{ obj.name }} ({{ obj.deal_id }}) <br>

<b>{% trans "Contact: " %}</b>{{ obj.client.contact }} {% if lead.client.contact.function %} ({{ lead.client.contact.function }}) {% endif %}<br>

<b>{% trans "Description: " %}</b>{{ obj.description|linebreaksbr }} <br>

<b>{% trans "Responsible: " %} </b>{% if obj.responsible %} {{ obj.responsible }} {% else %} {% trans "To be defined" %} {% endif %}<br>

<b>{% trans "Salesman: " %}</b>{% if obj.salesman %} {{ obj.salesman }} {% else %} {% trans "None" %} {% endif %}<br>

<b>{% trans "Status: " %}</b>{{ obj.get_state_display }} {% if obj.due_date %}(=>  {{ obj.due_date }}){% endif %} / {% trans "Starting date" %} : {% if obj.start_date %} {{ obj.start_date }} {% else %} {% trans "To be defined" %} {% endif %}<br>

<b>{% trans "Sales (kEuros): " %}</b>{% if obj.sales %} {{ obj.sales }} {% else %} {% trans "Unknown" %} {% endif %}<br>

<b>{% trans "Potential resource(s): " %}</b>{{ obj.staffing_list }}<br>

<b>{% trans "Action: " %}</b>{% if obj.action %}{{ obj.action }}{% else %}{% trans "Nothing" %}{% endif %}<br>


{% with obj.get_change_history as action_list %}
{% if action_list %}
    <br/>
    <h2>{% trans "Change history" %}</h2>
    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">{% trans 'Date/time' %}</th>
            <th scope="col">{% trans 'User' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th scope="row">{{ action.action_time|date:_("DATETIME_FORMAT") }}</th>
            <td>{{ action.user.username }}{% if action.user.first_name %} ({{ action.user.first_name }} {{ action.user.last_name }}){% endif %}</td>
            <td>{{ action.change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endwith %}




<br><i><a href='{{ lead_url }}'>{% trans "Change this lead" %}</a></i>