{% extends "core/pydici.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Add or modify a Lead" %}{% endblock %}

{% block content %}

<div class="row py-2">
  {% crispy form form.helper %}
</div>

<!-- Modal window to display client creation -->
<div class="modal fade" id="clientModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">{% trans "New client" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>



{% include "core/_datepicker.html" %}

{% endblock %}
