<b>Sujet</b> : {{ lead.name }} <br>

<b>Client</b> : {{ lead.client.organisation }} <br>

<b>Origine</b> : {{ lead.client.contact }} <br>

<b>Description / contexte</b> : {{ lead.description }} <br>

<b>Responsable </b>: {{ lead.responsible }} <br>

<b>IA</b> : {{ lead.salesman }} <br>

<b>Date prévisionnelle de démarrage</b> : {{ lead.start_date }}<br>

<b>Chiffre d'affaire estimatif (kEuros)</b> : {{ lead.sales }}<br>

<b>Profile(s) pressenti(s)</b> : {{ lead.staffing_list }}<br>

<br><a href='/leads'><i>Retour page d'accueil</i></a>