{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
    <h1>{% trans "Lead detail" %}</h1>
    {% if active_count %}
	    {% if previous_lead %}
	        <a href='{% url pydici.leads.views.detail previous_lead.id %}'><img src="{{ MEDIA_URL }}pydici/fg.png" border=0/></a>
	    {% endif %}
	    {{ active_rank }} / {{ active_count }}
	    {% if next_lead %}
	        <a href='{% url pydici.leads.views.detail next_lead.id %}'><img src="{{ MEDIA_URL }}pydici/fd.png" border=0/></a>
	    {% endif %}
    {% endif %}

    <div class="form-row name  ">
    <h2><a href='{% url admin:leads_lead_change lead.id %}' class='changelink' title='Cliquez pour modifier ce lead', target='_blank'>{{ lead.client.organisation }}</b> - {{ lead.name }}</a> ({{ lead.get_state_display }})</h2>

    <div class="tag_banner">
	    {% for tag in lead.tags.all %}
	        <a href='{% url pydici.leads.views.tag tag.id %}'>{{ tag }}</a>&nbsp;<font color='LightGrey'>|</font>&nbsp;
	    {% endfor %}
	    <div id="newtags" style="display:inline;"></div>

	    <form id="tag_form" style="display:inline;">
	        <input type="text", id="newtag", value="", maxlength="100" onclick="this.value='';"/>
	    </form>
	    <br/>
	    <div id="suggested">
		    {% if suggested_tags %}
		    {% trans "Suggested tags: " %}
		    {% for tag in suggested_tags %}
		        <a href="">{{ tag }}</a>&nbsp;&nbsp;
		    {% endfor %}
		    {% endif %}
	    </div>
    </div>
    {% if lead.description %}
        <div class='lead_description'>{{ lead.description|urlize|linebreaksbr }} </div>
    {% endif %}
    <hr>
    <b>{% trans "Contact: " %}</b>{{ lead.client.contact|default_if_none:_("Unknown")}} {% if lead.client.contact.function %} ({{ lead.client.contact.function }}) {% endif %}<br/>
    <b>{% trans "Deal id:" %}</b> {{ lead.deal_id }}
    <br><br><hr>
    <b>{% trans "Responsible: " %}</b>{% if lead.responsible %}<a href="{% url pydici.people.views.consultant_detail lead.responsible.id %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}<br>
    {% if lead.salesman %}
        <b>{% trans "Salesman: " %}</b>{{ lead.salesman }}<br/>
    {% endif %}
    {% if lead.business_broker %}
        <b>{% trans "Broker: " %}</b>{{ lead.business_broker }}<br/>
    {% endif %}
    {% if lead.paying_authority %}
        <b>{% trans "Paying authority: " %}</b>{{ lead.paying_authority }}
    {% endif %}
    
    <br><br><hr>
    <b>{% trans "Due date: " %}</b><span {% if lead.is_late %}style='color:red'{% endif %}>{{ lead.due_date|default_if_none:_("Unknown") }}</span><br>
    <b>{% trans "Start date: " %} </b>{{ lead.start_date|default_if_none:_("Unknown") }}
    <br><br><hr>
    <b>{% trans "Sales (k€): " %}</b>{{ lead.sales|default_if_none:_("Unknown") }}<br>
    <b>{% trans "Potential resource(s): " %} </b>{{ lead.staffing_list }}<br>
    <b>{% trans "Action: " %}</b>{% if lead.action %}{{ lead.action }}{% else %}{% trans "Nothing" %}{% endif %}<br>
    <br><br><hr>
</div>

<br/>
{% if lead.mission_set.count %}
    <h2>{% trans "Missions of this lead:" %}</h2>
    <div class="imodule">
    <table>    
    <tr>
        <td>{% trans "Mission" %}</td>
        <td>{% trans "id" %}</td>
        <td>{% trans "Done days" %}</td>
        <td>{% trans "Done work (k€)" %}</td>
        <td>{% trans "Sold (k€)" %}</td>
        <td>{% trans "Margin (k€)" %}</td>
        <td></td>
    </tr>  
    {% for mission in lead.mission_set.all %}
    <tr>
        <td><a href='{% url pydici.staffing.views.mission_timesheet mission.id %}'>{{ mission }}</a></td>
        <td>{{ mission.mission_id }}</td>
        <td>{{ mission.done_work_k.0 }}</td>
        <td>{{ mission.done_work_k.1|floatformat }}</td>
        <td>{{ mission.price }}</td>
        <td>{{ mission.margin|floatformat }}</td>
        <td><i><a href='{% url pydici.staffing.views.mission_staffing mission.id %}' class='changelink'>{% trans "workload schedule of this mission" %}</a></i></td>
    </tr>
    {% endfor %}
    {% ifnotequal lead.mission_set.count 1 %}
	    <tr>
	        <td>{% trans "Total" %}</td>
	        <td></td>
	        <td>{{ lead.done_work_k.0 }}</td>
	        <td>{{ lead.done_work_k.1|floatformat }}</td>
	        <td>{{ lead.sales }}</td>
	        <td>{{ lead.margin|floatformat }}</td>
	        <td></td>
	    </tr>
	{% endifnotequal %}
    </table>
    </div>
    {% if perms.staffing.Can_add_Mission %}
        <a href='{% url pydici.staffing.views.create_new_mission_from_lead lead.id %}'><i>{% trans "Create a new mission for this lead" %}</i></a>
    {% endif %}    
{% endif %}
<br/>

{% ifequal lead.state "WON" %}
<h2>{% trans "Profitability" %}</h2>
    <table>
        <tr><td>{% trans "Sold" %}</td>
        <td>{% if lead.sales %}{{ lead.sales }}  k€
            {% else %} <a href='{% url admin:leads_lead_change lead.id %}'>{% trans "To be defined" %}</a>
            {% endif %}</td></tr>
        <tr><td>{% trans "Margin" %}</td><td>{{ lead.margin }}  k€</td></tr>
    </table>
<h2>{% trans "Billing" %}</h2>        
    {% include "billing/_lead_billing.html" %}
{% endifequal %}    

{% if action_list %}
    <h2>{% trans "Change history" %}</h2>
    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">{% trans 'Date/time' %}</th>
            <th scope="col">{% trans 'User' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th scope="row">{{ action.action_time|date:_("DATETIME_FORMAT") }}</th>
            <td>{{ action.user.username }}{% if action.user.first_name %} ({{ action.user.first_name }} {{ action.user.last_name }}){% endif %}</td>
            <td>{{ action.change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


<script type="text/javascript">
<!--
$(document).ready(function() {
    // Function to add new tags asynchronously

    // Add autocomplete on existings tags
    $("#newtag").autocomplete("{{ completion_url }}");

    // Connect form validation to ajax request
    $("#tag_form").submit(function(e) {
        e.preventDefault();
        // send requests
        if ($("#newtag").val()) {
	        $.post("{% url pydici.leads.views.add_tag %}",
	                { tag : $("#newtag").val(), lead_id : {{lead.id}} },
	                function(data) {
	                    if (data.tag_created) {
	                        // Add new tag on list
	                        $("#newtags").append("<a href='"+ data.tag_url + "'>" + data.tag_name + "</a>&nbsp;&nbsp;");
	                        $("#newtag").val("");
	                    }
	                    else {
	                        $("#newtag").val("{% trans 'Tag already exists' %}");
	                    }
	                });
	         }
    });

    // Connect suggested tag to ajax request
    $("#suggested a").click(function(e){
        e.preventDefault();
        // send requests
        $.post("{% url pydici.leads.views.add_tag %}",
                { tag : $(this).text(), lead_id : {{lead.id}} },
                function(data) {
	                // Add new tag on list
	                $("#newtags").append("<a href='"+ data.tag_url + "'>" + data.tag_name + "</a>&nbsp;&nbsp;");
                });
        // Remove from suggested list
        $(this).remove();
    });
});
//-->
</script>

{% endblock %}