{% extends "core/pydici.html" %}

{% load i18n %}
{% load l10n %}
{% load pydici_filters %}

{% block title %}{{ lead }}{% endblock %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
    {% include "core/_pivotable_header.html" %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}


{% block content %}

{% with "lead-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

    <div class="my-3 d-flex flex-row">
    <h2 class="mx-3 align-self-center my-0">{% trans "Lead detail" %}</h2>
    {% if active_count %}
        <nav class="mx-3">
        <ul class="pagination my-0">
	    {% if previous_lead %}
            <li class="page-item">
                <a class ="page-link" href="{% url 'leads:detail' previous_lead.id|unlocalize %}"><i class="bi bi-arrow-left-circle"></i></a>
            </li>
	    {% endif %}
            <li class="page-item"><div class="page-link">{{ active_rank }}&nbsp;/&nbsp;{{ active_count }}</div></li>
	    {% if next_lead %}
            <li class="page-item">
                <a class="page-link" href="{% url 'leads:detail' next_lead.id|unlocalize %}"><i class="bi bi-arrow-right-circle"></i></a>
            </li>

	    {% endif %}
        </ul>
        </nav>
    {% endif %}
    </div>

    <h2><a href="{% url 'crm:company_detail' lead.client.organisation.company.id %}" class='pydici-tooltip'  title="{% trans 'click to edit...' %}">{{ lead.client.organisation }}</a>
        {% with lead.client as client %}{% include "crm/_client_picto.html" %}{% endwith %}
        - <a href="{% url 'leads:lead' lead.id|unlocalize %}" class='pydici-tooltip'  title="{% trans 'click to edit...' %}">{{ lead.name }}</a> ({{ lead.get_state_display }})</h2>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="lead-tabs">
        <li class="active"><button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-description"><i class="bi bi-house"></i> {% trans "Description" %}</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-missions"><i class="bi bi-list-ul"></i> {% trans "Missions" %}</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-billing" data-tab-url="{% url 'billing:lead_billing' lead.id|unlocalize %}"><i class="bi bi-calculator"></i> {% trans "Billing" %}</button></li>
        {% if enable_doc_tab %}<li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-documents" data-tab-url="{% url 'leads:lead_documents' lead.id|unlocalize %}"><i class="bi bi-file-earmark-text"></i> {% trans "Documents" %}</button></li>{% endif %}
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-reporting" data-tab-url="{% url 'leads:lead_pivotable' lead.id|unlocalize %}"><i class="bi bi-graph-up"></i> {% trans "Reporting" %}</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-history", data-tab-url="{% url 'core:object_history' 'lead' lead.id %}"><i class="bi bi-clock-history"></i> {% trans "History" %}</button></li>
    </ul>
</div>

<div class="tab-content">
    <div id="tab-description" class="tab-pane fade active show" role="tabpanel">
        <div class="row mt-2"><div class="col-12">
            <div class="tag_banner alert">
                <div class="d-flex flex-row">
                    <div id="newtags" class="d-flex flex-row align-self-center">
                        {% for tag in lead.tags.all %}
                        <div id="tag_{{ tag.id|unlocalize }}" class="mx-1">
                            <a href="{% url 'leads:tag' tag.id %}">{{ tag }}</a>
                            <a class='tagrlink' href='javascript:;' onClick="$.get('{% url 'leads:remove_tag' tag.id|unlocalize lead.id|unlocalize %}', hide_tag);"><i class="bi bi-x-circle"></i></a>&nbsp;
                        </div>
                        {% endfor %}
                    </div>
                    {% if perms.leads.change_lead %}
                        <form id="tag_form">
                            <div class="ms-3">
                                <input class="textInput form-control" type="text" id="newtag" value="" maxlength="100" onclick="this.value='';"/>
                            </div>
                        </form>
                    {% endif %}
                </div>
                {% if perms.leads.change_lead %}
                    <div id="suggested">
                        {% if suggested_tags %}
                        {% trans "Suggested tags: " %}
                        {% for tag in suggested_tags %}
                            <a href="">{{ tag }}</a>&nbsp;&nbsp;
                        {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div></div>
        <div class="row">
            {% with lead as lead %}{% include "leads/_lead_checkdoc.html" %}{% endwith %}
        </div>
        <div class="row">
            {% if lead.description %}
                <div class="col-md-12 col-lg-8"><div class="card card-body bg-light">{{ lead.description|pydici_simple_format }}</div></div>
            {% endif %}
        {% if lead.stateproba_set.all.count > 0 %}
                <div class="col-4 d-none d-lg-block">
                        <div id="lead_proba"></div>
                        <script type="text/javascript">
                        $(document).ready(function() {
                            // Display donnut of lead statistics
                                var chart_leads_stat = bb.generate({
                                    bindto: '#lead_proba',
                                    data: {
                                        columns: [{% for code, state, proba in lead.getStateProba %}['{{state }}', {{ proba }}], {% endfor %}],
                                        type : 'donut',
                                    },
                                    tooltip: {
                                        format: {
                                            value: function (value, ratio, id, index) { return value; }
                                            }
                                        },
                                    donut: {
                                        title: "{% trans 'Estimation' context 'short' %} (%)",
                                        label: {
                                            format: function (value) { return value; },
                                            threshold: 0.001,
                                            },
                                        },
                                });
                        });
                        </script>
                    </div>
            {% endif %}
        </div>
        <div class="row p-2" id="lead-information-blocks">
            <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>{% trans "Informations" %}</h2>
            <table class="table table-hover table-striped table-sm">
                <tr>
                    <th>{% trans "Contact" %}</th>
                    <td>{% if lead.client.contact %}<a href="{% url 'crm:contact_detail' lead.client.contact.id %}">{{ lead.client.contact }}</a> {% else %}{% trans "Unknown" context "client" %} {% endif %} {% if lead.client.contact.function %} ({{ lead.client.contact.function }}) {% endif %}</td>
                </tr>
                <tr>
                    <th>{% trans "Deal id" %}</th><td>{{ lead.deal_id }}</td>
                 </tr>
                {%if lead.client_deal_id %}
                    <tr>
                        <th>{% trans "Client deal id" %}</th><td>{{ lead.client_deal_id }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Subsidiary" %}</th><td>{{ lead.subsidiary }}</td>
                </tr>
                <tr>
                    <th>{% trans "Responsible" %}</th><td>{% if lead.responsible %}{% with consultant=lead.responsible %}{% include "people/__consultant_name.html" %}{% endwith %}{% else %}{% trans "To be defined" %}{% endif %}</td>
                </tr>
                {% if lead.salesman %}
                    <tr>
                        <th>{% trans "Salesman" %}</th><td>{{ lead.salesman }}</td>
                    </tr>
                {% endif %}
                {% if lead.business_broker %}
                    <tr>
                        <th>{% trans "Broker" %}</th><td>{{ lead.business_broker }}</td>
                    </tr>
                {% endif %}
                {% if lead.paying_authority %}
                    <tr>
                        <th>{% trans "Paying authority" %}</th><td>{{ lead.paying_authority }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Due date" %}</th><td><span {% if lead.is_late %} style='color:red'{% endif %}>{{ lead.due_date|default_if_none:_("Unknown date") }}</span></td>
                </tr>
                <tr>
                    <th>{% trans "Start date" %}</th><td>{{ lead.start_date|default_if_none:_("Unknown date") }}</td>
                </tr>
                <tr>
                    <th>{% trans "Update date" %}</th><td>{{ lead.update_date }}</td>
                </tr>
                <tr>
                    <th>{% trans "Sales (k€)" %}</th><td>{{ lead.sales|default_if_none:_("Unknown amount") }}</td>
                </tr>
                {% if lead.stateproba_set.all.count > 0 %}
                    <tr class="d-md-none"><th>{% trans "Estimation" %}</th><td>{% for code, state, proba in lead.getStateProba %}{{state }} : {{ proba }} %, {% endfor %}</td></tr>
                {% endif %}
                <tr>
                    <th>{% trans "Potential resource(s)" %}</th><td>{{ lead.staffing_list }}</td>
                </tr>
                <tr>
                    <th>{% trans "Action" %}</th><td>{% if lead.action %}{{ lead.action }}{% else %}{% trans "Nothing" %}{% endif %}</td>
                </tr>
                </table>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                {% if lead.state == "WON" and pydici_feature.leads_profitability %}
                <h2>{% trans "Profitability" %}</h2>
                <table class="table table-hover table-striped table-sm">
                    <tr><th>{% trans "Sold" %}</th>
                    <td>{% if lead.sales %}{{ lead.sales|floatformat:-3 }} k€
                        {% else %} <a href="{% url 'leads:lead' lead.id|unlocalize %}">{% trans "To be defined" %}</a>
                        {% endif %}</td></tr>
                    <tr><th>{% trans "Unattributed" %} <i class="bi bi-question-circle-fill pydici-tooltip d-none d-md-inline" title="{% blocktrans %}Non attributed amount to missions{% endblocktrans %}"></i></th><td>{{ lead.unattributed|floatformat:-3 }} k€</td></tr>
                    <tr><th>{% trans "Margin over rate objective" %}</th><td>{{ lead.totalObjectiveMargin|floatformat:-2 }} €</td></tr>
                    <tr><th>{% trans "Full margin" %} <i class="bi bi-question-circle-fill pydici-tooltip d-none d-md-inline" title="{% blocktrans %}Sum of objective margin and unused days for fixed price missions{% endblocktrans %}"></i></th><td>{{ lead.margin|floatformat:-2 }} €</td></tr>
                </table>
                {% endif %}

                <h2>{% trans "Similar leads" %}</h2>
                <table class="table table-hover table-striped table-sm">
                    {% for similar_lead in similar_leads %}
                        <tr><td><a href="{% url 'leads:detail' similar_lead.id|unlocalize %}" title='{{ similar_lead.description }}'>{{ similar_lead }}</a></td></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                {% if lead.administrative_notes %}
                    <h2>{% trans "Administrative notes" %}</h2>
                    <div class="card card-body bg-light">{{ lead.administrative_notes|pydici_simple_format }}</div>
                {% endif %}
            </div>
        </div>
    </div> {# End of description tab #}

    <div id="tab-missions" class="tab-pane fade" role="tabpanel">
        {% if lead.mission_set.count %}
            <div class="row py-2"><h2>{% trans "Missions of this lead:" %}</h2></div>
            <div class="row py-2">
            <div class="table-responsive">
            <table class="table table-hover table-striped table-sm">
            <tr>
                <th>{% trans "Mission" %}</th>
                <th>{% trans "id" %}</th>
                <th>{% trans "Done days" %}</th>
                <th>{% trans "Done work (k€)" %}</th>
                <th>{% trans "Sold (k€)" %}</th>
                <th>{% trans "Billing mode" %}</th>
                <th>{% trans "product" %}</th>
            </tr>
            {% for mission in lead.mission_set.all %}
            <tr>
                <td><a href="{% url 'staffing:mission_home' mission.id %}">{{ mission }}</a></td>
                <td>{{ mission.mission_id }}</td>
                <td>{{ mission.done_work_k.0 }}</td>
                <td>{{ mission.done_work_k.1|floatformat }}</td>
                <td>{{ mission.price|default:_("To be defined") }}</td>
                <td>{{ mission.get_billing_mode_display }}</td>
                <td>{% if mission.nature == "PROD" %}{{ mission.marketing_product.description|default:_("To be defined") }}{% endif %}</td>
            </tr>
            {% endfor %}
            {% ifnotequal lead.mission_set.count 1 %}
                <tr>
                    <th>{% trans "Unattributed" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ lead.unattributed }}</th>
                    <th></th>
                </tr>
                <tr>
                    <th>{% trans "Total" %}</th>
                    <th></th>
                    <th>{{ lead.done_work_k.0 }}</th>
                    <th>{{ lead.done_work_k.1|floatformat }}</th>
                    <th>{{ lead.sales }}</th>
                    <th></th>
                </tr>
            {% endifnotequal %}
            </table>
            </div>
            </div>
            {% if perms.staffing.add_mission %}
                <a class="btn btn-primary" href="{% url 'staffing:create_new_mission_from_lead' lead.id|unlocalize %}">{% trans "Create a new mission for this lead" %}</a>
            {% endif %}
        {% else %}
            <br/>
            <div class="alert alert-info">{% trans "A mission is created once a commercial proposal has been sent." %}</div>
        {% endif %}

    </div> {# end of tab missions #}


    <div id="tab-billing" class="tab-pane fade" role="tabpanel"></div>

    {% if enable_doc_tab %}<div id="tab-documents" class="tab-pane fade" role="tabpanel"></div>{% endif %}


    <div id="tab-reporting" class="tab-pane fade" role="tabpanel"></div>


    <div id="tab-history" class="tab-pane fade" role="tabpanel"></div>

</div> {# End of all tabs #}

<script type="text/javascript">
<!--

$(document).ready(function() {
    // Function to add new tags asynchronously

    // Add autocomplete on existings tags
    $("#newtag").autocomplete({ source:"{{ completion_url }}", minLength: 0});

    // Connect form validation to ajax request
    $("#tag_form").submit(function(e) {
        e.preventDefault();
        // send requests
        if ($("#newtag").val()) {
	        $.post("{% url 'leads:add_tag' %}",
	                { tag : $("#newtag").val(), lead_id : {{lead.id|unlocalize }} },
	                function(data) {
	                    if (data.tag_created) {
	                        // Add new tag on list
				var remove_link = "<a class='tagrlink' href='javascript:;' onClick=\"$.get('" + data.tag_remove_url + "', hide_tag)\"> <i class=\"bi bi-x-circle\"></i></a>";
				$("#newtags").append("<div id='tag_" + data.id + "'><a href='"+ data.tag_url + "' class='mx-1'>" + data.tag_name + "</a> " + remove_link + "&nbsp;&nbsp;");
	                        $("#newtag").val("");
	                    }
	                    else {
	                        $("#newtag").val("{% trans 'Tag already exists' %}");
	                    }
	                });
	         }
    });

    // Connect suggested tag to ajax request
    $("#suggested a").on("click", function(e){
        e.preventDefault();
        // send requests
        $.post("{% url 'leads:add_tag' %}",
                { tag : $(this).text(), lead_id : {{lead.id|unlocalize}} },
                function(data) {
	                // Add new tag on list
		var remove_link = "<a href='javascript:;' onClick=\"$.get('" + data.tag_remove_url + "')\"><i class=\"bi bi-x-circle\"></i></a>";
		$("#newtags").append("<a href='"+ data.tag_url + "'>" + data.tag_name + "</a>" + remove_link + "&nbsp;&nbsp;");
                });
        // Remove from suggested list
        $(this).remove();
    });
});

function hide_tag(data) {    
    $("#tag_"+ data.id).hide("fast");
};

 // Add keyboard shortcut to go to next/previous lead
function doc_keyUp(e) {
    /// Do not change page if the user is editing a field
    if ($("input").is(":focus")) {
        return;
    }
    /* 39 : right
     * 37 : left
     * 78 : n
     * 80 : p*/
    {% if next_lead %}
     if ((39 == e.keyCode) || (78 == e.keyCode)) {
         window.location.href = "{% url 'leads:detail' next_lead.id|unlocalize %}";
     }
    {% endif %}
    {% if previous_lead %}
     if ((37 == e.keyCode) || (80 == e.keyCode)) {
         window.location.href = "{% url 'leads:detail' previous_lead.id|unlocalize %}";
     }
    {% endif %}
}
document.addEventListener('keyup', doc_keyUp, false);
-->
</script>

{% endblock %}
