
{% for leads in lead_group %}
    <ul>
    {% for lead in leads %}
    {% ifchanged %} <h4><u> {{ lead.get_state_display }}</u></h4>{% endifchanged %}
        <li><b>{{ lead.client }} - {{ lead.name }}</b> (maj : {{ lead.update_date_strf }})</li>
        <ul>
            <li>&Eacute;ch&eacute;ance : {{ lead.due_date|default_if_none:"non d&eacute;finie"}} / D&eacute;marrage pr&eacute;vu : {{ lead.start_date|default_if_none:"non d&eacute;finie" }}</li>
            <li>Suivi : {{ lead.responsible|default_if_none:"aucun" }} / IA : {{ lead.salesman|default_if_none:"aucun" }}</li>
            <li>{% if lead.sales %}
                    CA : {{ lead.sales }} kEuros
                {% else %}
                    CA inconnu
                {% endif %}
                 / Staffing : {{ lead.staffing_list }}</li>
            {% if lead.description %} <li> {{ lead.description }} </li> {% endif %}
        </ul><br>
    {% endfor %}
    </ul>
{% endfor %}