{% load i18n %}
{% for leads in lead_group %}
    <ul>
    {% for lead in leads %}
    {% ifchanged %} <h4><u> {{ lead.get_state_display }}</u></h4>{% endifchanged %}
        <li><b>{{ lead.client }} - {{ lead.name }}</b> (maj : {{ lead.update_date_strf }})</li>
        <ul>
            <li>{% trans "Due date: " %}{{ lead.due_date|default_if_none:_("To be defined")}} / {% trans "Start date: " %}{{ lead.start_date|default_if_none:_("To be defined") }} / {% if lead.sales %}{% trans "Sales: " %}{{ lead.sales }} kEuros{% else %}{% trans "Unknown" %}{% endif %}</li>
            <li>{% trans "Responsible: " %}{{ lead.responsible|default_if_none:_("None") }} / {% trans "Salesman: " %}{{ lead.salesman|default_if_none:_("None") }}</li>
            <li>{% trans "Staffing: " %}{{ lead.staffing_list }}</li>
            <li>{% trans "Action: " %}{{ lead.action|default_if_none:_("None") }}</li>
        </ul><br>
    {% endfor %}
    </ul>
{% endfor %}