{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
{% if all %}
    <h1>Liste de toutes les missions</h1>
{% else %}
    <h1>Liste des missions actives</h1>
{% endif %}

<table>
<tr><th>Nom</th><th>Probabilité</th><th></th></tr>
{% for mission in missions %}
	{% ifchanged mission.nature %}
	   <tr><th>{{ mission.get_nature_display }}</th></tr>
	{% endifchanged %}
	<tr {%cycle 'class="row1"' 'class="row2"' %}>
	    <td scope="row"><a href='/leads/mission/{{mission.id}}/', title='{{ mission }}'>{{ mission }}</a></td>
	    <td>{{ mission.get_probability_display }} </td>
	    <td scope="row"><a href='/leads/mission/{{mission.id}}/deactivate', title='{{ mission }}/deactivate'><em>Archiver</em></a></td>
	</tr>
{% endfor %}
</table>

<br><br>
{% if all %}
    <a href='/leads/mission/'>N'afficher que les missions actives</a>
{% else %}
    <a href='/leads/mission/all'>Afficher toutes les missions</a>
{% endif %}
&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
<a href='/leads/admin/leads/mission/'>Administration des missions</a>
&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
<a href='/leads/'>Retour page d'accueil</a>
</div>
{% endblock %}