{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
    <h1>{{ mission }}</h1>
    <h3>Probabilité : {{ mission.get_probability_display }} </h3>
    <td scope="row"><a href='/leads/admin/leads/mission/{{mission.id}}/', title='Modifier {{ mission }}', target='_blank', class='changelink'><em>Modifier</em></a></td>
    <br>
    
    <h2>{% trans "Consultants currently implicated in this mission" %}</h1>
    <table>
    {% for consultant in consultants %}
        <tr {%cycle 'class="row1"' 'class="row2"' %}>
            <th scope="row"><a href='/leads/consultant/{{consultant.id}}/', title='{{ consultant }}'>{{ consultant }}</a></th>
        </tr>
    {% endfor %}
    </table>
    <br><hr>
    <h2>{% trans "Staffing" %}</h2>
    
    
    <form action="" method="POST">
        {{ formset.management_form }}
        <div class="form-row">
        <table>
           <tr>
               <th>{% trans "Consultant" %}</th>
               <th></th>
               <th>{% trans "Month" %}</th>
               <th>{% trans "Load" %}</th>
               <th>{% trans "Comments" %}</th>
               <th></th>
               <th>{% trans "Delete" %}</th>
               <th>{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
               {% ifchanged form.initial.staffing_date %}
               {% if form.initial.staffing_date %}
                       <tr><th>{{ form.initial.staffing_date|date:"F Y" }}</th></tr>
                   {% else %}
                       <tr><th>{% trans "New staffing:" %}</th></tr>
                   {% endif %}
               {% endifchanged%}
               {% if form.non_field_errors %}
                    <tr>
                            <td><ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                            </ul></td>
                    </tr>
               {% endif %}
               <tr {%cycle 'class="row1"' 'class="row2"' %}>
               {% for field in form %}
                    {% ifnotequal field.label "Last user" %}
                    {% ifnotequal field.label "Update date" %}
                    <td>
                        {{ field.errors }}    
                        {{ field }}
                    </td>
                    {% endifnotequal %}
                    {% endifnotequal %}
               {% endfor %}
               <td>
               {% if form.initial.last_user %}
                    {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
               {% endif %}
               </td>
               </tr>
           {% endfor %}
        </table>       
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}"/>
        </div>
    </form>
<br>
<br>
<a href='..'>{% trans "Back to mission list" %}</a>
&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
<a href='/leads/'>{% trans "Back to home page" %}</a>
{% if mission.lead %}
    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
    <a href='/leads/{{ mission.lead_id }}/'>{% trans "Lead of this mission" %}</a>
{% endif %}

</div>
{% endblock %}