{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
	<h1>
	<a href='{% url pdcreview year=previous_slice_date|date:"Y",month=previous_slice_date|date:"m" %}/?groupby={{groupby}};{% if projected %}projected{% endif %}' title="Mois précédents"><img src="/leads/media/leads/fg.png" border=0/></a>
	Revue du plan de charge
	<a href='{% url pdcreview year=next_slice_date|date:"Y",month=next_slice_date|date:"m" %}/?groupby={{groupby}};{% if projected %}projected{% endif %}' title="Mois suivants"><img src="/leads/media/leads/fd.png" border=0/></a>
	</h1>
{% if projected %}
    <strong>Projections de staffing prises en compte </strong>
    (<a href='{% url pdcreview year=start_date|date:"Y",month=start_date|date:"m" %}/?groupby={{groupby}}'><em>enlever les projections</em></a>)
{% else %}
    <strong>Projections de staffing <em>non</em> prises en compte </strong>
    (<a href='{% url pdcreview year=start_date|date:"Y",month=start_date|date:"m" %}/?groupby={{groupby}};projected'><em>ajouter les projections</em></a>)
{% endif %}
<br>
{% ifequal groupby "manager" %}
    <strong>Groupement par manager</strong>
    (<a href='{% url pdcreview year=start_date|date:"Y",month=start_date|date:"m" %}/?groupby=position;projected'><em>grouper par position</em></a>)
{% else %}
    <strong>Groupement par position</strong>
    (<a href='{% url pdcreview year=start_date|date:"Y",month=start_date|date:"m" %}/?groupby=manager;projected'><em>grouper par manager</em></a>)
{% endifequal %}
<br>
<br>
<table style="white-space: nowrap;">
<tr>
    <th></th>
	{% for month in months %}
	    <th colspan="4" style="border-left:1px solid #C3C3C3;"><center>{{ month|date:"F y" }}</center></th>
	{% endfor %}
	<th style="border-left:1px solid #C3C3C3;"></th>
</tr>
    <th></th>
    {% for month in months %}
        <th style="border-left:1px solid #C3C3C3;">prod</th>
        <th>imprd</th>
        <th>cngs</th>
        <th>disp</th>
    {% endfor %}
    <th style="border-left:1px solid #C3C3C3;">Clients</th>
</tr>
<tr>
    <th>Taux (%)</th>
    {% for month_rates in rates %}
        <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:" %</th><th>" }} %</th>
    {% endfor %}
</tr>
{% for consultant, charges in staffing %}
    {% ifequal groupby "manager" %}
	    {% ifchanged consultant.manager %}
	        <tr><th>Équipe {{consultant.manager}}</th></tr>
	    {% endifchanged %}
	{% endifequal %}
    {% ifequal groupby "position" %}
        {% ifchanged consultant.profil %}
            <tr><th>{{consultant.profil}}</th></tr>
        {% endifchanged %}
    {% endifequal %}

    <tr {%cycle 'class="row1"' 'class="row2"' %}>
        <td><a href="{% url pydici.staffing.views.consultant_staffing consultant.id %}">{{ consultant }}</a></td>
        {% autoescape off %}
        {% for charge in charges %}
            <td style="border-left:1px solid #C3C3C3;">{{ charge|join:"</td><td class='charge'>" }}</td>
        {% endfor %}
        {% endautoescape %}
    </tr>
{% endfor %}
<tr>
    <th>Totaux</th>
    {% for month_total in total %}
        <th style="border-left:2px solid #C3C3C3;">{{ month_total|join:"</th><th>" }}</th>
    {% endfor %}
</tr>
<tr>
    <th>Taux (%)</th>
    {% for month_rates in rates %}
        <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:" %</th><th>" }} %</th>
    {% endfor %}
</tr>
</table>
<br>
<a href='{% url missions %}'>Liste des missions</a>
&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
<a href='{% url index %}'>Retour page d'accueil</a></i>

</div>

<SCRIPT type="text/JavaScript">
<!-- 
var cells=document.getElementsByTagName('td');
var j=0;
for(i in cells)
{
    if(/charge/.test(cells[i].className))
    {
        j++;
        if (j%3==0)
        {
	        if(parseInt(cells[i].innerHTML)>5)
	        {
	            cells[i].style.backgroundColor='#ABFF91';
	        }
	        if(parseInt(cells[i].innerHTML)<0)
	        {
	            cells[i].style.backgroundColor='#FF8284';
	        }
        }
    }
}
//-->
</SCRIPT>

{% endblock %}