{% extends "admin/base_site.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block stylesheet %}{{ MEDIA_URL }}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Current leads review" %}{% endblock %}

{% block content %}

<div class="content-large">
	<div id="graph_bar_jqp_content"></div>
	<script type="text/javascript">
	$('#graph_bar_jqp_content').load('{% url 'leads.views.graph_bar_jqp' %}')
	</script>

<br/>

    {% if active_leads_table %}
    <h2>{% trans "All active leads" %}</h2>
        {% render_table active_leads_table %}
    {% endif %}

    {% if recent_archived_leads_table %}
    <h2>{% trans "Recent won, lost or forgiven leads" %}</h2>
        {% render_table recent_archived_leads_table %}
    {% endif %}
</div>

{% endblock %}