{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Current leads review" %}{% endblock %}

{% block content %}

<div id="content-main">
	<div id="graph_bar_jqp"></div>
	<script type="text/javascript">
	$('#graph_bar_jqp').load('{% url pydici.leads.views.graph_bar_jqp %}')
	</script>

<br/>
    {% if active_leads %}
    <div class="module">
        <table summary="Leads">
        <caption>{% trans "All active leads" %}</caption>
        <tr>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Staffing" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Due date" %}</b></td>
                <td><b>{% trans "Starting" %}</b></td>
        </tr>
        {% for lead in active_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><a href='{% url pydici.leads.views.detail lead.id %}' title='{{ lead.description }}'>{{ lead.client }} - {{ lead.name }}</a></td>
                <td>{% if lead.responsible %}<a href="{% url pydici.people.views.consultant_detail lead.responsible.id %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.staffing_list }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.due_date }}</td>
                <td>{{ lead.start_date }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if recent_archived_leads %}
    <div class="module">
        <table summary="Leads">
        <caption>{% trans "Recent won, lost or forgiven leads" %}</caption>
        <tr>
                <td><b>{% trans "Lead" %}</b></td>
                <td><b>{% trans "Responsible" %}</b></td>
                <td><b>{% trans "Salesman" %}</b></td>
                <td><b>{% trans "Staffing" %}</b></td>
                <td><b>{% trans "Sales (k€)" %}</b></td>
                <td><b>{% trans "Status" %}</b></td>
                <td><b>{% trans "Updated" %}</b></td>
                <td><b>{% trans "Starting" %}</b></td>
        </tr>
        {% for lead in recent_archived_leads %}
            <tr {%cycle 'class="row1"' 'class="row2"' %}>
                <td><a href='{% url pydici.leads.views.detail lead.id %}' title='{{ lead.description }}'>{{ lead.client }} - {{ lead.name }}</a></td>
                <td>{% if lead.responsible %}<a href="{% url pydici.people.views.consultant_detail lead.responsible.id %}">{{ lead.responsible }}</a>{% else %}{% trans "To be defined" %}{% endif %}</td>
                <td>{{ lead.salesman.name }}</td>
                <td>{{ lead.staffing_list }}</td>
                <td>{{ lead.sales }}</td>
                <td>{{ lead.get_state_display }}</td>
                <td>{{ lead.update_date_strf }}</td>
                <td>{{ lead.start_date }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}