{# This template fragment can be included to complete staffing_date field #}
{# We used django template and not external js to limit http lookup and use template variables #}
{# Context/Argument: staffing_dates #}


<script type="text/javascript">
<!--
$(document).ready(function() {
    // Function to complete staffing month field    
   $("input[id$='staffing_date']").autocomplete({{ staffing_dates|safe }},
            {
                matchContains : true,
                width: 150,
                minChars: 0,
                formatItem: function(row, i, max) {
                    return row.long;
                },
                formatMatch: function(row, i, max) {
                    return row.long + " " + row.short;
                },
                formatResult: function(row) {
                    return row.short;
                }
            });
});
//-->
</script>
