{# js that make staffing stanza foldable #}

<script type="text/javascript">
$(document).ready(function() {
    $('.month_header').click( function(e) {
        e.preventDefault(); // avoid scrolling
        var year_month = $(this).attr("id").substr(7,6); // extract yyyymm from id to compute class name to hide
        $("."+year_month).toggle('fast'); // hide lines
        // rotate sign
        if ($(this).children().hasClass("bi-chevron-compact-right")) {
            $(this).children().removeClass("bi-chevron-compact-right").addClass("bi-chevron-compact-down");
        } else {
            $(this).children().removeClass("bi-chevron-compact-down").addClass("bi-chevron-compact-right");
        }
        return false;
     });
});
</script>
