{% extends "core/pydici.html" %}
{% load i18n %}

{% block title %}{% trans "All people timesheet for " %} {{ month|date:"F Y"}}{% endblock %}

{% block content %}

<div class="my-3 d-flex flex-row">
    <h2 class="mx-3 align-self-center my-0">{% trans "All people timesheet for " %} {{ month|date:"F Y"}}</h2>
    <nav class="mx-3">
        <ul class="pagination my-0">
            <li class="page-item">
                <a class ="page-link" title="{% trans 'Previous months' %}" href="{% url 'staffing:all_timesheet' year=previous_date|date:'Y' month=previous_date|date:'m' %}">
                    <i class="bi bi-arrow-left-circle"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" title="{% trans 'Next months' %}" href="{% url 'staffing:all_timesheet' year=next_date|date:'Y' month=next_date|date:'m' %}">
                    <i class="bi bi-arrow-right-circle"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>


<div class="table-responsive table-pydici-all-timesheets">
{% if charges %}
    <table class="table table-striped">
    {% for charge in charges %}
        {% if forloop.first %}
            <thead class="table-pydici-all-timesheets-sticky-header">
                <tr>
                    <th>{{ charge|join:"</th><th>" }}</th>
                </tr>
            </thead>
        {% else %}
        <tr>
        <td>{{ charge|join:"</td><td>" }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    {% trans "No timesheet data for this month" %}
{% endif %}
</div>

<br/><br/>

<a href="{% url 'staffing:all_timesheet' year=month.year month=month.month %}/?csv" class="btn btn-primary">{% trans "Export this timesheet in a spreadsheet" %}</a>
<a href="{% url 'staffing:detailed_csv_timesheet' year=month.year month=month.month %}/?csv" class="btn btn-primary">{% trans "Export detailed timesheet in a spreadsheet" %}</a>

{% endblock %}