{% extends "core/pydici.html" %}
{% load i18n %}

{% block title %}{% trans "All people timesheet for " %} {{ month|date:"F Y"}}{% endblock %}

{% block content %}

<h2><a href="{% url 'staffing:all_timesheet' year=previous_date|date:'Y' month=previous_date|date:'m' %}" title="{% trans 'Previous months' %}"><img src="{{ MEDIA_URL }}pydici/fg.png" border=0/></a>
{% trans "All people timesheet for " %} {{ month|date:"F Y"}}
<a href="{% url 'staffing:all_timesheet' year=next_date|date:'Y' month=next_date|date:'m' %}" title="{% trans 'Next months' %}"><img src="{{ MEDIA_URL }}pydici/fd.png" border=0/></a></h2>

<div class="row"><br/></div>

<div class="table-responsive table-pydici-all-timesheets">
{% if charges %}
    <table class="table table-striped">
    {% for charge in charges %}
        {% if forloop.first %}
            <thead class="table-pydici-all-timesheets-sticky-header">
                <tr>
                    <th>{{ charge|join:"</th><th>" }}</th>
                </tr>
            </thead>
        {% else %}
        <tr>
        <td>{{ charge|join:"</td><td>" }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    {% trans "No timesheet data for this month" %}
{% endif %}
</div>

<br/><br/>

<a href="{% url 'staffing:all_timesheet' year=month.year month=month.month %}/?csv" class="btn btn-primary">{% trans "Export this timesheet in a spreadsheet" %}</a>
<a href="{% url 'staffing:detailed_csv_timesheet' year=month.year month=month.month %}/?csv" class="btn btn-primary">{% trans "Export detailed timesheet in a spreadsheet" %}</a>

{% endblock %}