{% extends "core/pydici.html" %}
{% load i18n %}

{% block title %}{% trans "All people timesheet for " %} {{ month|date:"F Y"}}{% endblock %}

{% block content %}

<h2><a href="{% url 'staffing:all_timesheet' year=previous_date|date:'Y' month=previous_date|date:'m' %}" title="{% trans 'Previous months' %}"><img src="{{ MEDIA_URL }}pydici/fg.png" border=0/></a>
{% trans "All people timesheet for " %} {{ month|date:"F Y"}}
<a href="{% url 'staffing:all_timesheet' year=next_date|date:'Y' month=next_date|date:'m' %}" title="{% trans 'Next months' %}"><img src="{{ MEDIA_URL }}pydici/fd.png" border=0/></a></h2>

<!-- buttons bar -->
<div class="row">
    <div class="col-lg-12">
        <!-- Scope  button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ scope }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              {% for scope_type, scope_filter, scope_label in scopes %}
                {% ifchanged scope_type %}
                    {% if not forloop.first %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endifchanged %}
                <li><a href="{% url 'staffing:all_timesheet' year=month|date:'Y' month=month|date:'m' %}/?{{scope_filter}}">{{ scope_label }}</a></li>
              {% endfor %}
          </ul>
        </div>
    </div>
</div>

<div class="row"><br/></div>

<div class="table-responsive table-pydici-all-timehseets">
{% if charges %}
    <table class="table table-striped">
    {% for charge in charges %}
        {% if forloop.first %}
            <thead class="sticky-header">
                <tr>
                    <th>{{ charge|join:"</th><th>" }}</th>
                </tr>
            </thead>
        {% else %}
        <tr>
        <td>{{ charge|join:"</td><td>" }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    {% trans "No timesheet data for this month" %}
{% endif %}
</div>

<br/><br/>

<a href="{% url 'staffing:all_timesheet' year=month.year month=month.month %}/?csv" class="btn btn-default">{% trans "Export this timesheet in a spreadsheet" %}</a>
<a href="{% url 'staffing:detailed_csv_timesheet' year=month.year month=month.month %}/?csv" class="btn btn-default">{% trans "Export detailed timesheet in a spreadsheet" %}</a>

{% endblock %}