{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Forecast/timesheet " %}{{ consultant }}{% endblock %}

{% block content %}
{% if request.session.mobile %}
<div data-role="page" data-theme="c">
    <div data-role="header">
        <a href="{% url mobile_index %}" data-direction="flip">{% trans "Home" %}</a>
        {% block mobile-page-header %}
        {% endblock %}
    </div>
    <div data-role="content">
{% else %}

<div id="content-staffing">
    <h1>{{ consultant }}</h1>

    <h2>{% trans "Consultant's missions" %}</h2>
		<table>
		<tr><th>{% trans "Name" %}</th>
		    <th>{% trans "Mission id" %}</th>
		    <th>{% trans "Probability" %}</th>
		</tr>
		{% for mission in missions %}
		    <tr {%cycle 'class="row1"' 'class="row2"' %}>
		        {% if link_to_staffing %}
		            <th scope="row"><a href='{% url pydici.staffing.views.mission_staffing mission.id %}', title='{% blocktrans %}Change mission {{ mission }} staffing {% endblocktrans %}'>{{ mission }}</a></th>
                {% else %}
                    <th scope="row"><a href='{% url pydici.staffing.views.mission_timesheet mission.id %}'>{{ mission }}</a></th>
                {% endif %}
		        <td>{{ mission.mission_id }}</td>
		        <td>{{ mission.get_probability_display }}</td>
		        <td scope="row"><a href='{% url admin:staffing_mission_change mission.id %}', title='{% blocktrans %}Change {{ mission }}{% endblocktrans %}', target='_blank', class='changelink'><em>{% trans "Change" %}</em></a></td>
		    </tr>
		{% endfor %}
		</table>

{% endif %}

{% block consultant_detail %} {% endblock %}
 
<br><hr>
<br>
<br>
{% if not request.session.mobile %}
    <a href='{% url  pydici.staffing.views.pdc_review %}'>{% trans "Back to work load schedule" %}</a>
{% endif %}
</div>
{% endblock %}