{% load i18n %}
{% load l10n %}
{# Fragment of page to be included in a consultant_home tab #}

<div id="pydici-ajax-form-content-consultant-staffing" class="py-2">
    <form action="{% url 'staffing:consultant_staffing' consultant.id %}" method="POST" id="pydici-ajax-form-consultant-staffing">
        {{ formset.management_form }}
        <div class="form-row">
        <table class="table table-striped table-hover table-sm">
           <tr>
               <th>{% trans "Mission" %}</th>
               <th>{% trans "Month" %}</th>
               <th>{% trans "Load" %}</th>
               <th class="d-none d-lg-table-cell">{% trans "Comments" %}</th>
               <th>{% trans "Del." %}</th>
               <th class="d-none d-lg-table-cell">{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
                {% with year_month=form.initial.staffing_date|date:'Ym' %}
                   {% ifchanged form.initial.staffing_date %}
                       {% if form.initial.staffing_date %}
                            <tr><th style="backround-color:white" colspan=8>
                                <a href="#" class="month_header" id="header_{{ year_month }}">
                                    <i class="{% if year_month == current_month or form.errors %}bi-chevron-compact-down{% else %}bi-chevron-compact-right{% endif %}"></i>
                                    {{ form.initial.staffing_date|date:"F Y" }}
                                </a>
                            </th></tr>
                       {% else %}
                           <tr><th style="backround-color:white" colspan=8>{% trans "New staffing:" %}</th></tr>
                       {% endif %}
                   {% endifchanged%}
                   {% if form.non_field_errors %}
                        <tr>
                            <td><ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                            </ul></td>
                        </tr>
                   {% endif %}
                   <tr class="{%cycle 'row1' 'row2' %} {% if year_month and year_month != current_month and not form.errors %}collapse{% endif%} {{ year_month }}">
                       <td>{{ form.mission }}{{ form.mission.errors }}</td>
                       <td>{{ form.staffing_date}}{{ form.staffing_date.errors }}</td>
                       <td class="pydici_small_number">{{ form.charge }}{{ form.charge.errors }}</td>
                       <td class="d-none d-lg-table-cell">{{ form.comment }}{{ form.comment.errors }}</td>
                       <td class="align-middle">{{ form.DELETE }}</td>
                       <td class="d-none d-lg-table-cell align-middle">
                            {% if form.initial.last_user %}
                                {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
                            {% endif %}
                       </td>
                       {{ form.id.as_hidden }}
                       {{ form.consultant.as_hidden }}
                       {{ form.update_date.as_hidden }}
                       {{ form.last_user.as_hidden }}
                   </tr>
                {% endwith %}
            {% endfor %}
        </table>
        </div>
        <br />
        <div class="submit-row">
            <button type='submit' class="btn btn-primary"><i class="bi bi-save"></i> {% trans 'Save' %}</button>
            <a role="button" class="btn btn-primary button-link"
               href="{% url 'staffing:optimise_pdc' %}?{% for mission in consultant.active_missions %}{% if mission.nature == 'PROD' %}missions={{ mission.id|unlocalize }}&{% endif %}{% endfor %}">
               <i class="bi bi-gear"></i> {% trans "Optimize workload for current missions" %}
            </a>

        </div>
    </form>
</div>

{% include "core/_select2.html" %}

{% include "staffing/_staffing_fold.html" %}

{% with "pydici-ajax-form-consultant-staffing" as formid %}
{% with "pydici-ajax-form-content-consultant-staffing" as formcontent %}
    {% include "core/_ajax_post.html" %}
{% endwith %}
{% endwith %}