{% extends "staffing/consultant_base.html" %}
{% load i18n %}

{% block consultant_detail %}

    <h2>{% trans "Forecast staffing" %}</h2>
    <a href="{% url pydici.staffing.views.consultant_timesheet consultant.id %}" class='changelink'>{% trans "See also timesheet of this consultant" %}</a>
   <br/><br/><hr/>
    <form action="" method="POST">
        {{ formset.management_form }}
        <div class="form-row">
        <table>
           <tr>
               <th></th>
               <th>{% trans "Mission" %}</th>
               <th>{% trans "Month" %}</th>
               <th>{% trans "Load" %}</th>
               <th>{% trans "Comments" %}</th>
               <th></th>
               <th>{% trans "Del." %}</th>
               <th>{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
               {% ifchanged form.initial.staffing_date %}
	               {% if form.initial.staffing_date %}
	                   <tr><th>{{ form.initial.staffing_date|date:"F Y" }}</th></tr>
	               {% else %}
	                   <tr><th>{% trans "New staffing:" %}</th></tr>
	               {% endif %}
               {% endifchanged%}
               {% if form.non_field_errors %}
                    <tr>
                            <td><ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                            </ul></td>
                    </tr>
               {% endif %}
               <tr {%cycle 'class="row1"' 'class="row2"' %}>
               {% for field in form %}
                    {% ifequal field.label "Last user" %}
                        {{ field.as_hidden }}
                    {% else %}
	                    {% ifequal field.label "Update date" %}
	                        {{ field.as_hidden }}
	                    {% else %}
	                       <td>
	                        {{ field.errors }}
	                        {{ field }}
	                       </td>
	                    {% endifequal %}
                    {% endifequal %}
               {% endfor %}
               <td>
               {% if form.initial.last_user %}
                    {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
               {% endif %}
               </td>
               </tr>
           {% endfor %}
        </table>       
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}"/>
        </div>
    </form>

{% include "staffing/_complete_staffing_date.html" %}

{% endblock %}