{% load i18n %}
{# Fragment of page to be included in a consultant_home tab #}
<div id="pydici-ajax-form-content-consultant-staffing" class="content-large">
    <form action="{% url 'staffing:consultant_staffing' consultant.id %}" method="POST" id="pydici-ajax-form-consultant-staffing">
        {{ formset.management_form }}
        <div class="form-row">
        <table class="table table-striped table-hover table-condensed">
           <tr>
               <th></th>
               <th>{% trans "Mission" %}</th>
               <th>{% trans "Month" %}</th>
               <th>{% trans "Load" %}</th>
               <th>{% trans "Comments" %}</th>
               <th></th>
               <th>{% trans "Del." %}</th>
               <th>{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
               {% ifchanged form.initial.staffing_date %}
	               {% if form.initial.staffing_date %}
	                   <tr><th style="backround-color:white" colspan=8>{{ form.initial.staffing_date|date:"F Y" }}</th></tr>
	               {% else %}
	                   <tr><th style="backround-color:white" colspan=8>{% trans "New staffing:" %}</th></tr>
	               {% endif %}
               {% endifchanged%}
               {% if form.non_field_errors %}
                    <tr>
                            <td><ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                            </ul></td>
                    </tr>
               {% endif %}
               <tr {%cycle 'class="row1"' 'class="row2"' %}>
               {% for field in form %}
                    {% ifequal field.label "Last user" %}
                        {{ field.as_hidden }}
                    {% else %}
	                    {% ifequal field.label "Update date" %}
	                        {{ field.as_hidden }}
	                    {% else %}
	                       <td>
	                        {{ field.errors }}
	                        {{ field }}
	                       </td>
	                    {% endifequal %}
                    {% endifequal %}
               {% endfor %}
               <td>
               {% if form.initial.last_user %}
                    {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
               {% endif %}
               </td>
               </tr>
           {% endfor %}
        </table>
        </div>
        <br />
        <div class="submit-row">
            <button type='submit' class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Save' %}</button>
        </div>
    </form>
</div>

{% include "core/_select2.html" %}

{% with "pydici-ajax-form-consultant-staffing" as formid %}
{% with "pydici-ajax-form-content-consultant-staffing" as formcontent %}
    {% include "core/_ajax_post.html" %}
{% endwith %}
{% endwith %}