{% load i18n %}
{% load pydici_filters %}
{% with t_view=timesheet_view|split:"_"|first t_week=timesheet_view|split:"_"|last %}
<div id="pydici-ajax-form-content-consultant-timesheet">
    <div class="timesheet-view-navigation my-3 d-flex flex-row">
        <div class="timesheet-view-navigation-label">{% trans "View mode" %}</div>
        <div class="my-3 btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if t_view == 'inline' %}
                        {% trans "month" %}
                    {% elif t_view == 'calendar' %}
                        {% trans "month/week" %}
                    {% else %}
                        {% trans "week" %}
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" id="switch-week">{% trans "week" %}</a></li>
                  <li><a class="dropdown-item" href="#" id="switch-month">{% trans "month" %}</a></li>
                  <li><a class="dropdown-item" href="#" id="switch-calendar">{% trans "month/week" %}</a></li>
                </ul>
            </div>
            {% if t_view == "calendar" %}
                <button type="button" id="switch-show-weekend" class="btn btn-primary">{% trans "weekend" %}</button>
            {% endif %}
        </div>
    </div>
    <div>{% trans "Year" %} {{ month|date:"Y"}}</div>
    {% if not missions %}
        <nav>
            <ul class="pagination my-0">
            {% if t_view == "week" %}
                <li class="page-item">
                    <a id="previous-week" class ="page-link nav-pagination-timesheet" title="{% trans 'Previous week' %}" href="#">
                        <i class="bi bi-arrow-left-circle timesheet-nav-btn"></i>
                    </a>
                </li>
                <li class="timesheet-time-context">{{ month|date:"M"}} - {% trans "week" %} {{ t_week }}</li>
                <li class="page-item">
                    <a id="next-week" class="page-link nav-pagination-timesheet" title="{% trans 'Next week' %}" href="#">
                        <i class="bi bi-arrow-right-circle timesheet-nav-btn"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a id="previous-month" class ="page-link nav-pagination-timesheet" title="{% trans 'Previous month' %}" href="#">
                        <i class="bi bi-arrow-left-circle timesheet-nav-btn"></i>
                    </a>
                </li>
                <li class="timesheet-time-context">{% if t_view == "inline" %}{{ month|date:"F"}}{% else %}{{ month|date:"M" }}{% endif %}</li>
                <li class="page-item">
                    <a id="next-month" class="page-link nav-pagination-timesheet" title="{% trans 'Next month' %}" href="#">
                        <i class="bi bi-arrow-right-circle timesheet-nav-btn"></i>
                    </a>
                </li>
            {% endif %}
            </ul>
         </nav>
    {% endif %}
    {% if missions %}
        {% if management_mode_error %}
            <div class="alert alert-danger col-md-6">{{ management_mode_error }}</div>
        {% endif %}
        {% if price_updated_missions and not consultant.subcontractor %}
            <div class="alert alert-info col-md-6">{% trans "Price has been updated for some missions" %} ({{ price_updated_missions|join:", " }})</div>
        {% endif %}
        <form action="{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view=timesheet_view %}" method="POST" id="pydici-ajax-form-consultant-timesheet">
        <table id="pydici-consultant-timesheet-table" class='table table-pydici-extra-condensed table-hover tablesmall-form-row table-timesheet' style="text-align:center">
                {% for field in form  %}
                    {% if field.field.days %}
                        {% ifchanged month|date:"M" %}
                        <thead><tr>
                        <td><nav>
                            <ul class="pagination my-0">
                            {% if t_view == "week" %}
                                <li class="page-item">
                                    <a id="previous-week" class ="page-link nav-pagination-timesheet" title="{% trans 'Previous week' %}" href="#">
                                        <i class="bi bi-arrow-left-circle timesheet-nav-btn"></i>
                                    </a>
                                </li>
                                <li class="timesheet-time-context">{{ month|date:"M"}} - {% trans "week" %} {{ t_week }}</li>
                                <li class="page-item">
                                    <a id="next-week" class="page-link nav-pagination-timesheet" title="{% trans 'Next week' %}" href="#">
                                        <i class="bi bi-arrow-right-circle timesheet-nav-btn"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a id="previous-month" class ="page-link nav-pagination-timesheet" title="{% trans 'Previous month' %}" href="#">
                                        <i class="bi bi-arrow-left-circle timesheet-nav-btn"></i>
                                    </a>
                                </li>
                                <li class="timesheet-time-context">{% if t_view == "inline" %}{{ month|date:"F"}}{% else %}{{ month|date:"M" }}{% endif %}</li>
                                <li class="page-item">
                                    <a id="next-month" class="page-link nav-pagination-timesheet" title="{% trans 'Next month' %}" href="#">
                                        <i class="bi bi-arrow-right-circle timesheet-nav-btn"></i>
                                    </a>
                                </li>
                            {% endif %}
                            </ul>
                         </nav></td>
                        {% else %}
                            <tr><td></td>
                        {% endifchanged %}
                        {% for day in field.field.days %}
                            <td {% if day|date:"w" == '0' or day|date:"w" == '6' %} class="timesheet-weekend" {% endif %}>{{ day|date:"j" }}</td>
                        {% endfor %}
                        <td></td><td></td></tr>
                        <tr>
                        <td></td>
                        {% for day in field.field.days %}
                            <td class="timesheet-long-day {% if day|date:"w" == '0' or day|date:"w" == '6' %} timesheet-weekend {% endif %}">{{ day|date:"D" }}</td>
                        {% endfor %}
                        <td>{% trans "Tot." %}</td><td>{% trans "Forec." %}</td></tr></thead>
                        <tr>
                    {% endif %}
                    {% if field.is_hidden %}
                        {% if field.field.warning %}
                            {% for i in field.field.warning %}
                                {% if forloop.first %}<td></td>{% endif %}
                                <td {% if i.weekday == 6 or i.weekday == 7 %}class="timesheet-weekend"{% endif %}>
                                {% if i.value == 0 %}<img src="{{ MEDIA_URL }}/img/icon_success.gif"/>{% endif %}
                                {% if i.value == 1 %}<img src="{{ MEDIA_URL }}/img/icon_alert.gif"/>  {% endif %}
                                {% if i.value == 2 %}<img src="{{ MEDIA_URL }}/img/icon-no.gif"/>  {% endif %}
                                </td>
                            {% endfor %}
                            {% if t_view == "calendar" %}
                                </tr><tr class="timesheet-week-space">
                            {% endif %}
                        {% else %}
                            <td {% if field.label|split:" "|last != "" and field.label|split:" "|first|to_float > field.label|split:" "|last|to_float %}style='background:rgba(255,0,0,0.3)'{% endif %}>{{ field.label|split:" "|first|floatformat:-2 }}</td>
                            <td>{{ field.label|split:" "|last|floatformat:-2 }}</td>
                            </tr><tr>
                        {% endif %}
                    {% else %}
                        {% if field.label%}
                        <td class="timesheet-mission-label">{{ field.label }}</td>
                        {% endif %}
                        {% if field %}
                        <td class="{% if field.errors %}timesheet-error{% endif %} timesheet-day {% if field.field.weekday == 6 or field.field.weekday == 7 %} timesheet-weekend{% endif %}">
                          {{ field }}
                        </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tr>
        </table>
        {% if read_only %}
            <div id="readonly-warning"><em>{% trans "Note: Past month timesheet and other people timesheets are read only" %}</em></div>
        {% else %}
            <div class="submit-row">
                <button type='submit' class="btn btn-primary"><i class="bi-save"></i> {% trans 'Save' %}</button>
            </div>
        {% endif %}
        </form>
    {% else %}
        <div class="alert alert-info">{% trans "No forecast this month. You have to defined forecast prior to fill in timesheet" %}</div>
    {% endif %}

    <br/><p>{% trans "Working days in this month: " %} {{ working_days }}</p>
    {% if working_days_balance %}
        <p>{% trans "Working days balance: " %} {{ working_days_balance|floatformat:-2 }}</p>
    {% endif %}
    {% if is_current_month %}
        <p>{% trans "Forecasted this month: " %} {{ consultant.forecasted_days|floatformat:-2 }}</p>
    {% endif %}
    <a href="{% url 'staffing:consultant_timesheet' consultant_id=consultant.id  year=month.year month=month.month %}/?csv">{% trans "Export this timesheet in a spreadsheet" %}</a>
</div>

{% include "core/_highlight_column.html" %}

<script type="text/javascript">
/* Bind time nav bar to ajax calls */
{% if t_view == "week" %}
    {% with week=timesheet_view|split:"_"|last|floatformat previous_week=previous_week|stringformat:"i" next_week=next_week|stringformat:"i" %}
        {% if previous_date_enabled %}
            $('#previous-week').on("click", function () {
                $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="week_"|add:previous_week %}');
            });
        {% endif %}
        $('#next-week').on("click", function () {
            $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="week_"|add:next_week %}');
        });
        {% if next_week < week %}
            $("#next-week").parent().hide();
        {% endif %}
        {% if "1" == week %}
            $("#previous-week").parent().hide();
        {% endif %}
    {% endwith %}
{% else %}
    {% if previous_date_enabled %}
        $('#previous-month').on("click", function () {
            $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=previous_date|date:'Y' month=previous_date|date:'m' timesheet_view=timesheet_view %}');
        });
    {% endif %}
    $('#next-month').on("click", function () {
        $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=next_date|date:'Y' month=next_date|date:'m' timesheet_view=timesheet_view %}');
    });
{% endif %}

$('#switch-week').on("click", function () {
    $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="week_1" %}');
});

$('#switch-calendar').on("click", function () {
    $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="calendar" %}');
});

{% if t_view == "calendar" %}

// Hide weeks that starts with weekend
// get all cells for which mission label is directly followed by a weekend
timesheetWeekendOnlyWeek = $(".timesheet-mission-label + .timesheet-weekend");
// setup a hide class for all appropriate rows
if (timesheetWeekendOnlyWeek.length !== 0) {
    // collected row
    timesheetWeekendOnlyWeek.each(function(){$(this.parentElement).addClass('timesheet-weekend-only-week')});

    // days headers based on collected row
    dayHeadersRow = timesheetWeekendOnlyWeek[0].parentElement.previousElementSibling;
    if (dayHeadersRow !== null) {
        $(dayHeadersRow).addClass('timesheet-weekend-only-week');;
    }
    // warning footer based on collected row
    warningFooterRow = timesheetWeekendOnlyWeek[timesheetWeekendOnlyWeek.length - 1].parentElement.nextElementSibling
    if ( warningFooterRow !== null) {
        $(warningFooterRow).addClass('timesheet-weekend-only-week');;

        // row space footer ie week delimiter based on collected row
        spaceDelimiterFooter = warningFooterRow.nextElementSibling;
        if (spaceDelimiterFooter !== null) {
            $(spaceDelimiterFooter).addClass('timesheet-weekend-only-week');;
        }
    }
}
// hide the above row if exists
$(".timesheet-weekend-only-week").hide();

// hide weekends by default
$(".timesheet-weekend").hide();
$("#switch-show-weekend").on("click", function() {
    if ($(".timesheet-weekend").css('display') == "none") {
        $(".timesheet-weekend").show();
        $(".timesheet-weekend-only-week").show();
        $("#switch-show-weekend").removeClass('btn-primary').addClass('btn-secondary').blur();
    } else {
        $(".timesheet-weekend").hide();
        $(".timesheet-weekend-only-week").hide();
        $("#switch-show-weekend").removeClass('btn-secondary').addClass('btn-primary').blur();
    }
})
{% endif %}

$('#switch-month').on("click", function () {
    $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="inline" %}');
});

 if (0 !== {{ today }}) {
     highlight_today({{ today }}, "2px solid #555", {{ missions|length }});
 }
</script>

{% if not read_only %}
	{% with "pydici-ajax-form-consultant-timesheet" as formid %}
	{% with "pydici-ajax-form-content-consultant-timesheet" as formcontent %}
        {% include "core/_ajax_post.html" %}
    {% endwith %}
    {% endwith %}
{% endif %}
{% endwith %}
{% include "core/_color_timesheet.html" %}
