{% extends "staffing/consultant_base.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block consultant_detail %}
    <h2>{% trans "Timesheet" %} {{ month|date:"F Y"}}</h2>
    <a href="{% url pydici.staffing.views.consultant_staffing consultant.id %}" class='changelink'>{% trans "See also forecast staffing of this consultant" %}</a>
    <br/><br/><hr/>
    <form action="" method="POST">
    <table class='small-form-row'>
            <tr style="text-align:center">
            {% for day in days %}
                <td></td><td>{{ day|date:"j" }}</td>
            {% endfor %}
            <td></td><td></td></tr>
            <tr style="text-align:center">
            {% for day in days %}
                <td></td><td>{{ day|date:"D" }}</td>
            {% endfor %}
            <td>{% trans "Total" %}</td><td>{% trans "Forecast" %}</td></tr>
            <tr>
            {% for field in form  %}
                {% if field.is_hidden %}
	               <td style="text-align:center">{{ field.label|split:" "|first }}</td>
	               <td style="text-align:center">{{ field.label|split:" "|last }}</td>
	               </tr><tr>
                {% else %}
	               <td>{{ field.label }}</td>
	               <td>{{ field }}</td>
                {% endif %}
            {% endfor %}
            </tr>
    </table>
    <br/>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}"/>
        </div>
    </form>
    {% if working_days_balance %}
    <br/><p>{% trans "Working days balance: " %} {{ working_days_balance }}</p>
    {% endif %}

{% endblock %}