{% load i18n %}
{% load pydici_filters %}

<div id="pydici-ajax-form-content-consultant-timesheet">

    <div class="my-3 d-flex flex-row">
    {% if timesheet_view|split:"_"|first == "week" %}
        <h4 class="col-6 col-lg-4 col-xl-3 align-self-center my-0">{% trans "Timesheet" %} {{ month|date:"F Y"}} - {% trans "week " %} {{ timesheet_view|split:"_"|last }}</h4>
        <nav class="col-3 align-self-center">
        <ul class="pagination my-0">
            <li class="page-item">
                <a id="previous-week" class ="page-link" title="{% trans 'Previous week' %}" href="#">
                    <i class="bi bi-arrow-left-circle timesheet-nav-btn"></i>
                </a>
            </li>
            <li class="page-item">
                <a id="next-week" class="page-link" title="{% trans 'Next week' %}" href="#">
                    <i class="bi bi-arrow-right-circle timesheet-nav-btn"></i>
                </a>
            </li>
        </ul>
        </nav>
    {% else %}
        <h4 class="col-6 col-lg-4 col-xl-2 align-self-center my-0">{% trans "Timesheet" %} {{ month|date:"F Y"}}</h4>
        <nav class="col-3 align-self-center">
        <ul class="pagination my-0">
            <li class="page-item">
                <a id="previous-month" class ="page-link" title="{% trans 'Previous month' %}" href="#">
                    <i class="bi bi-arrow-left-circle timesheet-nav-btn"></i>
                </a>
            </li>
            <li class="page-item">
                <a id="next-month" class="page-link" title="{% trans 'Next month' %}" href="#">
                    <i class="bi bi-arrow-right-circle timesheet-nav-btn"></i>
                </a>
            </li>
        </ul>
        </nav>
    {% endif %}
    {% if timesheet_view|split:"_"|first == "week" %}
        <div class="col-3 align-self-center my-0"><button id="switch-month" class="btn btn-primary">{% trans "Switch to month mode" %}</button></div>
        <div class="col-3 align-self-center my-0"><button id="switch-calendar" class="btn btn-primary align-self-center my-0">{% trans "Switch to calendar mode" %}</button></div>
    {% elif timesheet_view|split:"_"|first == "calendar" %}
        <div class="col-3 align-self-center my-0"><button id="switch-month" class="btn btn-primary">{% trans "Switch to month mode" %}</button></div>
        <div class="col-3 align-self-center my-0"><button id="switch-week" class="btn btn-primary align-self-center my-0">{% trans "Switch to week mode" %}</button></div>
    {% else %}
        <div class="col-3 align-self-center my-0"><button id="switch-week" class="btn btn-primary align-self-center my-0">{% trans "Switch to week mode" %}</button></div>
        <div class="col-3 align-self-center my-0"><button id="switch-calendar" class="btn btn-primary align-self-center my-0">{% trans "Switch to calendar mode" %}</button></div>
    {% endif %}
    </div>
    {% if missions %}
        {% if management_mode_error %}
            <div class="alert alert-danger col-md-6">{{ management_mode_error }}</div>
        {% endif %}
        {% if price_updated_missions and not consultant.subcontractor %}
            <div class="alert alert-info col-md-6">{% trans "Price has been updated for some missions" %} ({{ price_updated_missions|join:", " }})</div>
        {% endif %}
        <form action="{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view=timesheet_view %}" method="POST" id="pydici-ajax-form-consultant-timesheet">
        <table id="pydici-consultant-timesheet-table" class='table table-pydici-extra-condensed table-hover tablesmall-form-row table-timesheet' style="text-align:center">
                {% for field in form  %}
                    {% if field.field.days %}
                        <tr>
                        <td></td>
                        {% for day in field.field.days %}
                            <td>{{ day|date:"j" }}</td>
                        {% endfor %}
                        <td></td><td></td></tr>
                        <tr>
                        <td></td>
                        {% for day in field.field.days %}
                            <td class="timesheet-long-day">{{ day|date:"D" }}</td>
                        {% endfor %}
                        <td>{% trans "Tot." %}</td><td>{% trans "Forec." %}</td></tr>
                        <tr>
                    {% endif %}
                    {% if field.is_hidden %}
                        {% if field.field.warning %}
                            {% for i in field.field.warning %}
                                {% if forloop.first %}<td></td>{% endif %}
                                <td>
                                {% if i == 0 %}<img src="{{ MEDIA_URL }}/img/icon_success.gif"/>{% endif %}
                                {% if i == 1 %}<img src="{{ MEDIA_URL }}/img/icon_alert.gif"/>  {% endif %}
                                {% if i == 2 %}<img src="{{ MEDIA_URL }}/img/icon-no.gif"/>  {% endif %}
                                </td>
                            {% endfor %}
                            </tr><tr class="timesheet-week-space">
                        {% else %}
                            <td {% if field.label|split:" "|last != "" and field.label|split:" "|first|to_float > field.label|split:" "|last|to_float %}style='background:rgba(255,0,0,0.3)'{% endif %}>{{ field.label|split:" "|first|floatformat:-2 }}</td>
                            <td>{{ field.label|split:" "|last|floatformat:-2 }}</td>
                            </tr><tr>
                        {% endif %}
                    {% else %}
                        {% if field.label%}
                        <td class="timesheet-mission-label">{{ field.label }}</td>
                        {% endif %}
                        {% if field %}
                        <td class="{% if field.errors %}timesheet-error{% endif %} timesheet-day">
                          {{ field }}
                        </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tr>
        </table>
        {% if read_only %}
            <div id="readonly-warning"><em>{% trans "Note: Past month timesheet and other people timesheets are read only" %}</em></div>
        {% else %}
            <div class="submit-row">
                <button type='submit' class="btn btn-primary"><i class="bi-save"></i> {% trans 'Save' %}</button>
            </div>
        {% endif %}
        </form>
    {% else %}
        <div class="alert alert-info">{% trans "No forecast this month. You have to defined forecast prior to fill in timesheet" %}</div>
    {% endif %}

    <br/><p>{% trans "Working days in this month: " %} {{ working_days }}</p>
    {% if working_days_balance %}
        <p>{% trans "Working days balance: " %} {{ working_days_balance|floatformat:-2 }}</p>
    {% endif %}
    {% if is_current_month %}
        <p>{% trans "Forecasted this month: " %} {{ consultant.forecasted_days|floatformat:-2 }}</p>
    {% endif %}
    <a href="{% url 'staffing:consultant_timesheet' consultant_id=consultant.id  year=month.year month=month.month %}/?csv">{% trans "Export this timesheet in a spreadsheet" %}</a>
</div>

{% include "core/_highlight_column.html" %}

<script type="text/javascript">
/* Bind time nav bar to ajax calls */
{% if timesheet_view|split:"_"|first == "week" %}
    {% with week=timesheet_view|split:"_"|last|floatformat previous_week=previous_week|stringformat:"i" next_week=next_week|stringformat:"i" %}
        {% if previous_date_enabled %}
            $('#previous-week').on("click", function () {
                $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="week_"|add:previous_week %}');
            });
        {% endif %}
        $('#next-week').on("click", function () {
            $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="week_"|add:next_week %}');
        });
        {% if next_week < week %}
            $("#next-week").parent().hide();
        {% endif %}
        {% if week == week %}
            $("#previous-week").parent().hide();
        {% endif %}
    {% endwith %}
{% else %}
    {% if previous_date_enabled %}
        $('#previous-month').on("click", function () {
            $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=previous_date|date:'Y' month=previous_date|date:'m' %}');
        });
    {% endif %}
    $('#next-month').on("click", function () {
        $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=next_date|date:'Y' month=next_date|date:'m' %}');
    });
{% endif %}

$('#switch-week').on("click", function () {
    $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="week_1" %}');
});

$('#switch-calendar').on("click", function () {
    $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' timesheet_view="calendar" %}');
});

$('#switch-month').on("click", function () {
    $('#pydici-ajax-form-content-consultant-timesheet').load('{% url 'staffing:consultant_timesheet' consultant_id=consultant.id year=month|date:'Y' month=month|date:'m' %}');
});

/* Hide last column for small devices */
$("#pydici-consultant-timesheet-table td:last-child").addClass("d-none d-sm-table-cell");

 if (0 !== {{ today }}) {
     highlight_today({{ today }} + 1, "2px solid #555");
 }
</script>

{% if not read_only %}
	{% with "pydici-ajax-form-consultant-timesheet" as formid %}
	{% with "pydici-ajax-form-content-consultant-timesheet" as formcontent %}
        {% include "core/_ajax_post.html" %}
    {% endwith %}
    {% endwith %}
{% endif %}

{% include "core/_color_timesheet.html" %}
