{% load i18n %}
<b>{% trans "Mission: " %}</b>{{ obj.mission }}<br/>
<b>{% trans "Consultant: " %}</b> {{ obj.consultant }}<br/>
<b>{% trans "Staffing date: " %}</b> {{ obj.staffing_date|date:"F Y" }}<br/>
<b>{% trans "Charge: " %}</b> {{ obj.charge }}<br/>
{% if obj.comment %}
<b>{% trans "Comment: " %}</b> {{ obj.comment }}<br/>
{% endif %}
{% if obj.last_user %}
    <br/>
    {% trans "Updated by " %} {{ obj.last_user }} ({{ obj.update_date }})
{% endif %}
<br/>


<br><i>
<a href="{% url 'people:consultant_home' obj.consultant.trigramme %}#tab-staffing">{% trans "Change this consultant staffing" %}</a>
<br/>
<a href="% url 'staffing:mission_home' obj.mission.id %}#tab-staffing">{% trans "Change this mission staffing" %}</a>
</i>
