{# Fragment that display timesheet and rates graph to be included with a jquery load #}
{# One must include in its extrajs block core/_jqplot.html to load according js/css #} {% load i18n %}

{% if graph_data %}
<div id="timesheet_rates_bar_graph_jqp" style="height:300px;"></div>
<script type="text/javascript">

{% include "core/_jqplot_legend.html" %}

$.jqplot.config.enablePlugins = true;
var plot_timesheet_rates_bar_graph_jqp = $.jqplot('timesheet_rates_bar_graph_jqp',  {{ graph_data|safe }}, {
         animate : false,
         stackSeries: false,
         captureRightClick: true,
         seriesDefaults:{
             renderer: $.jqplot.LineRenderer,
             rendererOptions: { smooth: true },
             pointLabels: { show:false },
         },
         seriesColors: {{ series_colors|safe }},
         series:[
                   {% for profil in profils_display %}
                    {label: "{{ profil }}"},
                   {% endfor %}
                    ],
         axes: {
             xaxis: {
                 renderer: $.jqplot.DateAxisRenderer,
                 labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                 tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                 tickOptions:{
                     formatString:'%b %y',
                     angle: -40 
                 },
                 min: '{{ min_date }}',
                 tickInterval: '1 month',
             },
           yaxis: {
               label: "€",
               pad: 1.02,
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
           },
         },
         legend: {
             show: showLegend,
             location: 'e',
             placement: legendPosition,
         },
         highlighter: {
             tooltipAxes: 'y',
             showLabel: true,
             sizeAdjust: 7.5,
         },
});

{% with "plot_timesheet_rates_bar_graph_jqp" as plot %}
    {% include "core/_jqplot_resize.html" %}
{% endwith %}


</script>
{% endif %}