{# Fragment that display leads stat/bar graph to be included with a jquery load #}
{# One must include in its extrajs block core/_jqplot.html to load according js/css #} {% load i18n %}

{% if graph_data %}
<div id="consultant_rate_graph_jqp" style="height: 300px; width: 900px;"></div>
<script type="text/javascript">

$.jqplot.config.enablePlugins = true;
$.jqplot('consultant_rate_graph_jqp',  {{ graph_data|safe }}, {
         animate : true,
         stackSeries: false,
         captureRightClick: true,
         seriesColors: {{ series_colors|safe }},
         series:[{
                     label: "{% trans 'Average daily rate (€)' %}",
                     rendererOptions: { smooth: true },
                     markerOptions : { size : 7},
                 },
                 {
                     label: "{% trans 'Daily rate objective (€)' %}",
                     linePattern: 'dashed',
                     lineWidth: 3,
                     showMarker: false,
                 },
                 {
                     label: "{% trans 'Min daily rate (€)' %}",
                     rendererOptions: { smooth: true },
                     linePattern: 'dotted',
                     markerOptions : { size : 5},
                     showMarker: false,
                     lineWidth: 0,
                 },
                 {
                     label: "{% trans 'Max daily rate (€)' %}",
                     rendererOptions: { smooth: true },
                     linePattern: 'dotted',
                     markerOptions : { size : 5},
                     showMarker: false,
                     lineWidth: 0,
                 },
                 {
                     label: "{% trans 'Production rate (%)' %}",
                     rendererOptions: { smooth: true },
                     markerOptions : { size : 7},
                     yaxis: 'y2axis',
                 },],
             fillBetween: {
                 series1: 2, // Serie min
                 series2: 3, // Serie max
                 color: "rgba(227, 167, 111, 0.5)",
             },
         axes: {
           xaxis: {
               renderer: $.jqplot.DateAxisRenderer,
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
               tickOptions:{
                   formatString:'%b %y',
                   angle: -40
                   },
           },
           yaxis: {
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
               label: "{% trans 'Daily rate' %}",
               tickOptions: { formatString: '%d €' },
               syncTicks : true,
           },
           y2axis: {
               labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
               tickRenderer: $.jqplot.CanvasAxisTickRenderer,
               label: "{% trans 'Production rate' %}",
               syncTicks : true,
               max: 100,
               tickOptions: { formatString: '%.1f %' },
           },
         },
         legend: {
             show:true,
             location: 'e',
             placement: 'outsideGrid',
         },
         highlighter: {
             tooltipAxes: 'xy',
             showLabel: true,
             sizeAdjust: 7.5,
         },
});
</script>
{% endif %}