{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_c3.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block title %}{% trans "Holidays pivot table" %}{% endblock %}

{% block content %}
        <h2>{% trans "Holiday pivot table" %}</h2>
        <div id="date-selector" class="btn-group" role="group">
            {% for year in years %}
                <a class="btn btn-default {% ifequal year selected_year %}active{% endifequal %}" href="{% url 'holidays-pivotable-year' year %}">{{ year }}</a>
            {% endfor %}
                <a class="btn btn-default {% ifequal 'all' selected_year %}active{% endifequal %}" href="{% url 'holidays-pivotable-all' %}">{% trans "All" %}</a>
        </div>

        <div id="type-selector" class="btn-group" role="group">
            <button class="btn btn-default active" onclick="graph_holiday_per_consultant();">{% trans "Holiday graph per consultant" %}</button>
            <button class="btn btn-default" onclick="holiday_table_per_consultant();">{% trans "Holiday table per consultant" %}</button>
            <button class="btn btn-default" onclick="graph_holiday_per_month();">{% trans "Holiday graph per month" %}</button>
        </div>

        <div id="pivotable-output" style="margin: 10px;"></div>

        {% with output as "pivotable-output" %}
            {% include "core/_pivotable_body.html" %}
        {% endwith %}

        <script type="text/javascript">

            // Active state switcher
            $(document).ready(function() {
                $('#type-selector button').click(function() {
                    $(this).addClass('active').siblings().removeClass('active');
                 });
            });

            // Share data for all pivot tables
            var data = {{ data|safe }};

            // Preset definition
            function holiday_table_per_consultant() {
                var rows = ["{% trans 'subsidiary' %}", "{% trans 'consultant' %}"];
                var cols = ["{% trans 'holiday' %}"];;
                drawPivot(data, rows, cols, "Table", '{% trans "Sum" %}', ['{% trans "days" %}']);
            }

            function graph_holiday_per_consultant() {
                var rows = ["{% trans 'consultant' %}"];
                var cols = ["{% trans 'holiday' %}"];
                drawPivot(data, rows, cols, "Horizontal Stacked Bar Chart", '{% trans "Sum" %}', ['{% trans "days" %}']);
            }

            function graph_holiday_per_month() {
                var rows = ["{% trans 'holiday' %}"];
                var cols = ["{% trans 'month' %}"];
                drawPivot(data, rows, cols, "Stacked Bar Chart", '{% trans "Sum" %}', ['{% trans "days" %}']);
            }

            // default
            graph_holiday_per_consultant();
        </script>



{% endblock %}