{% extends "core/pydici.html" %}

{% load i18n %}

{% block title %}{% trans "Holidays planning" %}{% endblock %}

{% block content %}

<div class="my-3 d-flex flex-row">
<h1 class="mx-3 align-self-center my-0">{% trans "Holidays planning" %} {{ month|date:"F Y"}}</h1>
    <nav class="mx-3">
    <ul class="pagination my-0">
        <li class="page-item pydici-tooltip" title="{% trans 'Previous months' %}">
            <a class ="page-link" href="{% url 'staffing:holidays_planning' year=previous_month|date:'Y' month=previous_month|date:'m' %}?{{team_current_filter}}"><i class="bi bi-arrow-left-circle"></i></a>
        </li>
        <li class="page-item pydici-tooltip" title="{% trans 'Next months' %}">
            <a class="page-link " href="{% url 'staffing:holidays_planning' year=next_month|date:'Y' month=next_month|date:'m' %}?{{team_current_filter}}"><i class="bi bi-arrow-right-circle"></i></a>
        </li>
    </ul>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Scope  button -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ scope }}
          </button>
          <ul class="dropdown-menu">
              {% for scope_type, scope_filter, scope_label in scopes %}
                {% ifchanged scope_type %}
                    {% if not forloop.first %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                {% endifchanged %}
                <li><a class="dropdown-item" href="{% url 'staffing:holidays_planning' year=month|date:'Y' month=month|date:'m' %}/?{{scope_filter}}">{{ scope_label }}</a></li>
              {% endfor %}
          </ul>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-pydici-extra-condensed table-holidays">
    <thead>
        <tr><td></td>
        {% for day in days %}
            <th>{{ day|date:"j" }}</th>
        {% endfor %}
        </tr>
        <tr>
        <td></td>
        {% for day in days %}
            <td class="timesheet-long-day">{{ day|date:"D" }}</td>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for line in data %}
        <tr>
            {% for item in line %}
                {% if forloop.first %}
                    <td class="holidays-consultant-name">
                        {% with consultant=item %}{% include "people/__consultant_name.html" %}{% endwith %}
                    </td>
                {% else %}<td class="timesheet-day {{ item }}">  </td>{% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% include "core/_highlight_column.html" %}
<script type="text/javascript">
 if (0 !== {{ today }}) {
     // First column is consulant's name
     highlight_today({{ today }} + 1, "2px solid #555");
 }
</script>

{% endblock %}
