{% extends "core/pydici.html" %}

{% load i18n %}

{% block title %}{% trans "Holidays planning" %}{% endblock %}

{% block content %}

<h2>
<a href="{% url 'staffing.views.holidays_planning' year=previous_month|date:'Y' month=previous_month|date:'m' %}"><img id="previous-month" src="{{ MEDIA_URL }}pydici/fg.png" border=0 title="{% trans 'Previous month' %}" /></a>
{% trans "Holidays planning" %} {{ month|date:"F Y"}}
<a href="{% url 'staffing.views.holidays_planning' year=next_month|date:'Y' month=next_month|date:'m' %}"><img id="next-month" src="{{ MEDIA_URL }}pydici/fd.png" border=0 title="{% trans 'Next month' %}" /></a>
</h2>

<div class="table-responsive">
<table class="table table-hover table-pydici-holiday">
        <tr><td></td>
        {% for day in days %}
            <td>{{ day|date:"j" }}</td>
        {% endfor %}
        </tr>
        <tr><td></td>
        {% for day in days %}
            <td>{{ day|date:"D" }}</td>
        {% endfor %}
        </tr>
        {% for line in data %}
        <tr>
            {% for item in line %}
                {% if forloop.first %}<td>{{ item }}</td>
                {% else %}<td style='background:{{ item }}'>  </td>{% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
</table>
</div>
{% endblock %}