{% extends "staffing/consultant_base.html" %}
{# Mobile only template #}

{% load i18n %}
{% load pydici_filters %}


{% block mobile-page-header %}
<h1>{% trans "Timesheet" %} {{ month|date:"F Y"}} {% trans "Week " %} {{ week }}</h1>
<div data-role="navbar">
    <ul>
       <li><a href="{% url 'staffing.views.consultant_timesheet' consultant_id=consultant.id, year=previous_date|date:'Y',month=previous_date|date:'m', week=previous_week %}" data-direction="reverse">{% trans 'Previous week' %}</a></li>
       <li><a href="{% url 'staffing.views.consultant_timesheet' consultant_id=consultant.id, year=next_date|date:'Y',month=next_date|date:'m', week=next_week %}">{% trans 'Next week' %}</a></li>
    </ul>
</div><!-- /navbar -->
{% endblock %}


{% block consultant_detail %}
    {% if week %}
        <form action="{% url 'staffing.views.consultant_timesheet' consultant_id=consultant.id, year=month|date:'Y',month=month|date:'m',week=week %}" method="POST">
    {% else %}
        <form action="{% url 'staffing.views.consultant_timesheet' consultant_id=consultant.id, year=month|date:'Y',month=month|date:'m' %}" method="POST">
    {% endif %}
    <table class='small-form-row' style="text-align:center">
            <tr>
            {% for day in days %}
                <td></td><td>{{ day|date:"j" }}</td>
            {% endfor %}
            <td></td><td></td></tr>
            <tr>
            {% for day in days %}
                <td></td><td>{{ day|date:"D" }}</td>
            {% endfor %}
            <td>{% trans "Tot." %}</td><td>{% trans "Forec." %}</td></tr>
            <tr>
            {% for field in form  %}
                {% if field.is_hidden %}
	               <td style="font-weight:bold;">{{ field.label|split:" "|first|floatformat:-2 }}</td>
	               <td>{{ field.label|split:" "|last|floatformat:-2 }}</td>
	               </tr><tr>
                {% else %}
	               <td style="text-align:left">{{ field.label }}{{ field.errors }}</td>
	               <td>{{ field }}</td>
                {% endif %}
            {% endfor %}
            </tr>
            <tr>
            {% for i in warning %}
                <td></td><td>
                {% ifequal i 0 %}<img src="{{ MEDIA_URL }}/img/admin/icon_success.gif"/>{% endifequal %}
                {% ifequal i 1 %}<img src="{{ MEDIA_URL }}/img/admin/icon_alert.gif"/>  {% endifequal %}
                {% ifequal i 2 %}<img src="{{ MEDIA_URL }}/img/admin/icon-no.gif"/>  {% endifequal %}
                </td>
            {% endfor %}
            </tr>
    </table>
    <br/>
    {% if read_only %}
        <div id="readonly-warning"><em>{% trans "Note: Past month timesheet and your team timesheets are read only" %}</em></div>
    {% else %}
        <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}"/>
        </div>
    {% endif %}
    </form>
    <br/><p>{% trans "Working days in this month: " %} {{ working_days }}</p>
    {% if working_days_balance %}
    <p>{% trans "Working days balance: " %} {{ working_days_balance|floatformat:-2 }}</p>
    {% endif %}

{% include "core/_color_timesheet.html" %}

{% endblock %}
