{% extends "core/pydici.html" %}

{% load i18n %}
{% load l10n %}
{% load pydici_filters %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/admin/RelatedObjectLookups.js"></script>
{% include "core/_billboard.html" %}
{% include "core/_pivotable_header.html" %}

{% endblock %}

{% block title %}{{ mission }}{% endblock %}

{% block content %}

{% with "mission-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

<h2 class="mt-2">
{% if mission.lead.client %}
    <a href="{% url 'crm:company_detail' mission.lead.client.organisation.company.id %}">{{ mission.lead.client.organisation }}</a>
    {% with mission.lead.client as client %}{% include "crm/_client_picto.html" %}{% endwith %} :
{% endif %}
    <a href="{% url 'staffing:mission_update' mission.id %}?return_to={% url 'staffing:mission_home' mission.id %}" class='changelink' >{{ mission.short_name }}</a>
</h2>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="mission-tabs">
        <li class="active"><button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-home"><i class="bi bi-house"></i> {% trans "Description" %}</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-consultants" data-tab-url="{% url 'staffing:mission_consultants' mission.id %}"><i class="bi bi-person"></i> {% trans "Consultants" %}</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-contacts" data-tab-url="{% url 'staffing:mission_contacts' mission.id %}"><i class="bi bi-envelope"></i> {% trans "Contacts" %}</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-other-missions" id="tabheader-other-missions"><i class="bi bi-list-ul"></i> {% trans "Other missions" %}</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-timesheet" data-tab-url="{% url 'staffing:mission_timesheet' mission.id %}"><i class="bi bi-clock"></i> {% trans "Timesheet" %}</button></li>
        {% if mission.active %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-staffing" data-tab-url="{% url 'staffing:mission_staffing' mission.id %}"><i class="bi bi-eye"></i> {% trans "Forecast staffing" %}</button></li>
        {% endif %}
        {% if mission.lead %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-expenses" data-tab-url="{% url 'expense:lead_expenses' mission.lead.id %}"><i class="bi bi-credit-card"></i> {% trans "Expenses" %}</button></li>
            {% if enable_doc_tab %}<li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-documents" data-tab-url="{% url 'leads:lead_documents' mission.lead.id %}"><i class="bi bi-file-earmark-text"></i> {% trans "Documents" %}</button></li>{% endif %}
            <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-reporting" data-tab-url="{% url 'leads:lead_pivotable' mission.lead.id %}"><i class="bi bi-graph-up"></i> {% trans "Reporting" %}</button></li>
        {% endif %}
        {% if mission.lead %}<li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-billing" data-tab-url="{% url 'billing:lead_billing' mission.lead.id %}"><i class="bi bi-calculator"></i> {% trans "Billing" %}</button></li>{% endif %}
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#tab-history", data-tab-url="{% url 'core:object_history' 'mission' mission.id %}"><i class="bi bi-clock-history"></i> {% trans "History" %}</button></li>
    </ul>
</div>

<div class="tab-content">
    <div id="tab-home" class="tab-pane active fade show" role="tabpanel">
        <div class="my-2 row">
            {% if mission.active %}
                   {% if mission.no_more_staffing_since %}
                       <div class="col-md-6">
                            <div id="mission_no_staffing_warning" class="alert alert-warning">
                                <i class="bi bi-eye"></i>
                               {% trans "This mission has no staffing in future" %}.
                               {% if mission.lead %}<strong>{% trans "Still to be billed" %}: {{ mission.lead.still_to_be_billed|floatformat:-2 }} €. </strong>{% endif %}
                                <button onClick="$.get('{% url 'staffing:deactivate_mission' mission.id %}', process_mission_archive)"
                                   class="btn btn-primary">{% trans "Archive this mission" %}</button>
                           </div>
                       </div>
                   {% else %}
                       {% if mission.no_staffing_update_since %}
                           <div class="col-md-6"><div class="alert alert-warning">
                               <i class="bi bi-eye"></i>
                               {% trans "Staffing has not been updated recently" %}
                           </div></div>
                       {% endif %}
                   {% endif %}
                   {% if mission.nature == "PROD" and not mission.marketing_product %}
                            <div class="col-md-6"><div class="alert alert-warning">
                               <i class="bi bi-cart"></i>
                               {% trans "Marketing product is not yet defined" %}
                           </div></div>
                   {% endif %}
             {% else %}
                    <div class="col-md-6"><div class="alert alert-info">{% trans "This mission is archived" %}</div></div>
             {% endif %}

            {% include "staffing/_check_prod_mission.html" %}
        </div>

        <div class="row">
            <div class="col-md-5">
                <table class="table table-striped table-sm">
                    <tr>
                        <th>{% trans "Type" %}</th><td>{{ mission.get_nature_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Subsidiary" %}</th><td>{{ mission.subsidiary }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Responsible" %}</th><td>{% if mission.responsible %}{% with consultant=mission.responsible %}{% include "people/__consultant_name.html" %}{% endwith %}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Mission id" %}</th><td>{{ mission.mission_id }}</td>
                    </tr>
                    {% if mission.nature == "PROD" %}
                        <tr>
                            <th>{% trans "Marketing product" %}</th><td>{{ mission.marketing_product|default_if_none:_("undefined") }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>{% trans "Analytic code" %}</th><td>{{ mission.mission_analytic_code }}</td>
                    </tr>
                    {% if mission.lead %}
                        {% if mission.client_deal_id %}
                            <tr>
                                <th>{% trans "Client lead id" %}</th><td>{{ mission.client_deal_id }}</td>
                            </tr>
                        {% elif mission.lead.client_deal_id %}
                            <tr>
                                <th>{% trans "Client lead id" %}</th><td>{{ mission.lead.client_deal_id }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>{% trans "Sold" %}</th><td> {{ mission.price }} k€</td>
                        </tr>
                        <tr>
                            <th>{% trans "Billing mode" %}</th><td><div  id="billing_mode-{{ mission.id|unlocalize }}" style="display:inline" class='jeditable-mission-update'>{{ mission.get_billing_mode_display|default:_("To be defined") }}</div></td>
                        </tr>
                        <tr>
                            <th>{% trans "Management mode" %}</th><td><div  id="management_mode-{{ mission.id|unlocalize }}" style="display:inline" class='jeditable-mission-update'>{{ mission.get_management_mode_display }}</div></td>
                        </tr>
                        <tr>
                            <th>{% trans "Probability" %}</th><td><div  id="probability-{{ mission.id|unlocalize }}" style="display:inline" class='jeditable-mission-update'>{{ mission.probability }} %</div></td>
                        </tr>
                        <tr>
                            <th>{% trans "Lead of this mission" %}</th><td><a href="{% url 'leads:detail' mission.lead.id %}">{{ mission.lead }}</a></td>
                        </tr>
                 {% endif %}
                </table>
                </div>
                <div class="col-md-7">
                    {% if mission.lead.description %}
                        <h2>{% trans "Lead's description" %}</h2>
                        <div class="card card-body bg-light">{{ mission.lead.description|urlize|pydici_simple_format|linebreaksbr }}</div>
                    {% endif %}
                    {% if mission.lead.administrative_notes %}
                        <h2 class="mt-2">{% trans "Administrative notes" %}</h2>
                        <div class="card card-body bg-light">{{ mission.lead.administrative_notes|pydici_simple_format }}</div>
                    {% endif %}

                </div>
            </div>

    </div>

    <div id="tab-consultants" class="tab-pane fade" role="tabpanel"></div>

    <div id="tab-contacts" class="tab-pane fade" role="tabpanel"></div>
    
    <div id="tab-other-missions" class="tab-pane fade" role="tabpanel">
        {% if mission.sister_missions %}
        <h2 class="mt-2">{% trans "Other missions linked to this lead" %}</h2>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
        <tr>
	        <th>{% trans "Mission" %}</th>
	        <th>{% trans "id" %}</th>
	        <th>{% trans "Done days" %}</th>
	        <th>{% trans "Done work (k€)" %}</th>
	        <th>{% trans "Sold (k€)" %}</th>
	        <th>{% trans "Billing mode" %}</th>
            <th>{% trans "product" %}</th>
        </tr>
        {% for sister_mission in mission.sister_missions %}
        <tr>
	        <td><a href="{% url 'staffing:mission_home' sister_mission.id %}">{{ sister_mission }}</a></td>
	        <td>{{ sister_mission.mission_id }}</td>
	        <td>{{ sister_mission.done_work_k.0 }}</td>
	        <td>{{ sister_mission.done_work_k.1|floatformat }}</td>
	        <td>{{ sister_mission.price|default:_("To be defined") }}</td>
	        <td>{{ sister_mission.get_billing_mode_display }}</td>
            <td>{% if sister_mission.nature == "PROD" %}{{ sister_mission.marketing_product.description|default:_("To be defined") }}{% endif %}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
        {% else %}
            <script type="text/javascript">
            // Disable other mission tabs
            $(document).ready(function() {
                $('#tabheader-other-missions').hide();
            });
            </script>
        {% endif %}
    </div>

    <div id="tab-timesheet" class="tab-pane fade" role="tabpanel"></div>
    
    <div id="tab-staffing" class="tab-pane fade" role="tabpanel"></div>
    
    <div id="tab-expenses" class="tab-pane fade" role="tabpanel"></div>
    
    {% if enable_doc_tab %}<div id="tab-documents" class="tab-pane fade" role="tabpanel"></div>{% endif %}

    <div id="tab-reporting" class="tab-pane fade" role="tabpanel"></div>
    
    <div id="tab-billing" class="tab-pane fade" role="tabpanel"></div>

    <div id="tab-history" class="tab-pane fade"></div>


</div> <!-- end of tabs -->

<script type="text/javascript">
<!--
$(document).ready(function() {
{% if mission.active %}
    $(".jeditable-mission-update").editable("{% url 'staffing:mission_inline_update' %}", {
        indicator : "<img src='{{ MEDIA_URL }}img/ajax-loader.gif'/>",
        tooltip   : "{% trans 'click to edit...' %}",
        event     : "click",
        style  : "inherit",
        type   : "select",
        loadurl : "{% url 'staffing:mission_inline_update' %}",
        submit : 'OK',
        onblur : 'submit',
    });
{% endif %}

});

// Function that process mission archiving ajax callback
function process_mission_archive(data) {
    if (data.error==true) {
        alert("{% trans 'Archiving failed' %}");
    }
    else {
        $("#mission_no_staffing_warning").hide("fast");
    }
};

-->
</script>

{% endblock %}
