{% load i18n %}
{% load l10n %}
{# Fragment of page to be included in a mission_home tab #}

<h2 class="mt-2">{% trans "Consultants currently implicated in this mission" %}</h2>
    <div class="col-lg-8 col-md-12 col-sm-12">
    <table class="table table-striped table-sm">
    <tr>
        <th>{% trans "Consultant" %}</th>
        <th style="text-align:right;">{% trans "Daily rate (€)" %}</th>
        <th style="text-align:right;">{% trans "Buy rate (€)" %}</th>
        {% for date in objective_dates %}
            <th style="text-align:right;">{% blocktranslate with d=date|date:"M Y" %}Objective {{ d }} (€){% endblocktranslate %}</th>
        {% endfor %}
    </tr>
    {% for consultant, rate in rates.items %}
        <tr>
            <td>{% include "people/__consultant_name.html" %}</td>
            <td align="right"><div id="sold-{{ mission.id|unlocalize }}-{{ consultant.id|unlocalize }}" class="jeditable-rate" >{{ rate.0.0|unlocalize }}</div></td>
            <td align="right">{% if consultant.subcontractor %}<div id="bought-{{ mission.id|unlocalize }}-{{ consultant.id }}" style="display:inline" class="jeditable-rate">{{ rate.0.1|unlocalize }}</div>{% endif %}</td>
            {% with o_rates=rate.1 %}
                {% for date, o_rate in o_rates %}
                    <td align="right">{{ o_rate|default_if_none:"-" }}</td>
                {% endfor %}
            {% endwith %}
        </tr>
    {% endfor %}
    </table>
    </div>

<script type="text/javascript">
<!--
$(document).ready(function() {
{% if mission.active %}
    $(".jeditable-rate").editable("{% url 'staffing:mission_consultant_rate' %}", {
        indicator : "<img src='{{ MEDIA_URL }}img/ajax-loader.gif'/>",
        tooltip   : "{% trans 'click to edit...' %}",
        event     : "click",
        style     : "inherit",
        data: function(value, settings) {
            /* remove unbreakable space */
            var retval = value.replace(/&nbsp;/gi, '');
            return retval;
          }
    });
    {% endif %}

});
-->
</script>