{% load i18n %}
{% load l10n %}
{# Fragment of page to be included in a mission_home tab #}

<h2 class="mt-2">{% trans "Consultants currently implicated in this mission" %}</h2>
    <div class="col-lg-8 col-md-12 col-sm-12">
    <table class="table table-striped table-sm">
        <thead>
    <tr>
        <th>{% trans "Consultant" %}</th>
        <th style="text-align:right;">{% trans "Daily rate (€)" %}</th>
        <th style="text-align:right;">{% trans "Buy rate (€)" %}</th>
        {% for date in objective_dates %}
            <th style="text-align:right;">{% blocktranslate with d=date|date:"M Y" %}Objective {{ d }} (€){% endblocktranslate %}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
    {% for consultant, rate in rates.items %}
        {% include "staffing/_mission_consultants_rate.html" %}
    {% endfor %}
    </tbody>
    </table>
    </div>

<script type="text/javascript">
    $(document).ready(function() { htmx.process(document.body); });
</script>
