{% extends "staffing/mission_base.html" %}
{% load i18n %}

{% block mission_detail %}
    <h2>{% trans "Timesheet" %}</h2>
    <a href="{% url pydici.staffing.views.mission_staffing mission.id %}" class='changelink'>{% trans "See also the forecast staffing of this mission" %}</a>
    <br/><br/><hr/>
    <div class="timesheet">
    <table>
    <tr>
        <th></th>
        {% for month in timesheet_months %}
            <th>{{ month|date:"M y" }}</th>
        {% endfor %}
        <th>{% trans "Done days" %}</th>
        <th>{% trans "Total (k€)" %}</th>
        <th></th>
        {% for month in staffing_months %}
            <th>{{ month|date:"M y" }}</th>
        {% endfor %}
        <th>{% trans "Days to be done" %}</th>
        <th>{% trans "Total (k€)" %}</th>
    </tr>
    {% for consultant, timesheet, staffing in mission_data %}
        {% ifequal consultant None %}
            <tr align="right" style="font-weight:bold">
            <td>{% trans "Total" %}</td>
            <td>{{ timesheet|join:"</td><td>" }}</td>
            <td></td>
            <td>{{ staffing|join:"</td><td>" }}</td>
        {% else %}
            <tr align="right">        
            <td>{{ consultant }}</td>
            <td>{{ timesheet|join:"</td><td>" }}</td>
            <td></td>
            <td>{{ staffing|join:"</td><td>" }}</td>
        {% endifequal %}
        </tr>
    {% endfor %}
    </table>
    </div>
    <br/>
    {% ifequal mission.nature "PROD" %}
    <h2>{% trans "Profitability" %}</h2>
    <table>
        <tr><td>{% trans "Sold" %}</td>
        <td>{% if mission.price %}{{ mission.price }}  k€
            {% else %} <a href='{% url admin:staffing_mission_change mission.id %}'>{% trans "To be defined" %}</a>
            {% endif %}</td></tr>
        <tr><td>{% trans "Margin" %}</td><td>{{ margin }}  k€</td></tr>
    </table>
    {% endifequal %}
    
{% endblock %}