{% extends "admin/base_site.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block stylesheet %}{{ MEDIA_URL }}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
	{% if all %}
	    {% trans "All missions" %}
	{% else %}
	    {% trans "Active missions" %}
	{% endif %}
{% endblock %}

{% block content %}

<div class="content-large">
{% if all %}
    <h1>{% trans "All missions" %}</h1>
    <br/><i><a href='{% url 'missions' %}'>{% trans "Only display active missions" %}</a></i><br/><br/>
{% else %}
    <h1>{% trans "Active missions" %}</h1>
    <br/><i><a href="{% url 'all-missions' %}">{% trans "Also display inactive missions" %}</a></i><br/><br/>
{% endif %}

  {% render_table missionTable %}

</div>

<script type="text/JavaScript">
<!--
    // Function that process ajax callback
    function process_mission_archive(data) {
        if (data.error==true) {
            alert("{% trans 'Archiving failed' %}");
        }
        else {
            $("#mission_" + data.id).closest("tr").hide("fast");
        }
    };
-->
</script>

{% endblock %}