{% load i18n %}
{# Fragment of page to be included in a mission_home tab #}
<div id="pydici-ajax-form-content-mission-staffing">
    <br/>
    {% include "staffing/_check_prod_mission.html" %}

    {% if remaining > 0 and mission.nature == "PROD" and mission.defined_rates %}

        <form action="{% url 'staffing:automatic_mission_staffing' mission.id %}" method="POST" id="pydici-ajax-form-mission-automatic-staffing">
            <div class="alert alert-info">
                {% blocktrans with remaining=remaining|floatformat:"-2" %}This mission has {{ remaining }} k€ to be forecasted.{% endblocktrans %}
                {% trans "Do automatic forecast" %} {{ automatic_staffing_form.mode }} {% trans "in" %} {{ automatic_staffing_form.duration }} {% trans "months" %}.

                <button type='submit' class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> {% trans 'Compute automatic forecast' %}</button>
            </div>
        </form>
    {% endif %}


    <form action="{% url 'staffing:manual_mission_staffing' mission.id %}" method="POST" id="pydici-ajax-form-mission-staffing">
        {{ formset.management_form }}
        <div class="form-row">
        <table class="table table-striped table-hover table-condensed">
           <tr>
               <th>{% trans "Consultant" %}</th>
               <th></th>
               <th>{% trans "Month" %}</th>
               <th class="hidden-xs hidden-sm"></th>
               <th>{% trans "Load" %}</th>
               <th class="hidden-xs hidden-sm">{% trans "Comments" %}</th>
               <th></th>
               <th>{% trans "Del." %}</th>
               <th class="hidden-xs hidden-sm">{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
                {% with year_month=form.initial.staffing_date|date:'Ym' %}
                   {% ifchanged form.initial.staffing_date %}
                        {% if form.initial.staffing_date %}
                           <tr><th style="backround-color:white" colspan=9>
                                <a href="#" class="month_header" id="header_{{ year_month }}">
                                    <span class="glyphicon glyphicon-menu-right {% if not form.initial.staffing_date or year_month >= current_month or form.errors %}rotate90{% endif %}"></span>
                                    {{ form.initial.staffing_date|date:"F Y" }}
                                </a>
                            </th></tr>
                       {% else %}
                           <tr><th style="backround-color:white" colspan=9>{% trans "New staffing:" %}</th></tr>
                       {% endif %}
                   {% endifchanged%}
                   <tr class="{%cycle 'row1' 'row2' %} {% if form.initial.staffing_date and year_month < current_month and not form.errors %}collapse{% endif%} {{ year_month }}" %}>
                   {% for field in form %}
                      {% ifequal field.label "Charge" %}
                            <td style="cursor: help" class="hidden-xs hidden-sm pdc-tooltip"><span title="{% trans 'Other missions charge' %}" data-toggle="tooltip" class="glyphicon glyphicon-list-alt"></span></td>
                      {% endifequal %}
                      {% ifequal field.label "Last user" %}
                            {{ field.as_hidden }}
                      {% else %}
                            {% ifequal field.label "Update date" %}
                                {{ field.as_hidden }}
                            {% else %}
                               <td>
                                {{ field }}
                                {{ field.errors }}
                               </td>
                            {% endifequal %}
                      {% endifequal %}
                   {% endfor %}
                   <td class="hidden-xs hidden-sm">
                   {% if form.initial.last_user %}
                        {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
                   {% endif %}
                   </td>
                   </tr>
                    {% if form.non_field_errors %}
                        <tr>
                                <td><ul class="errorlist">
                                {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                {% endfor %}
                                </ul></td>
                        </tr>
                   {% endif %}
                {% endwith %}
           {% endfor %}
        </table>
        </div>
        {% if read_only %}
            <em>{% trans "Note: you are not allowed to change mission staffing" %}</em>
        {% else %}
	            <button type='submit' class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Save' %}</button>
	    {% endif %}
    </form>
</div>

{% include "core/_select2.html" %}

{% include "staffing/_staffing_fold.html" %}

{% if not read_only %}
    {% with "pydici-ajax-form-mission-staffing" as formid %}
    {% with "pydici-ajax-form-content-mission-staffing" as formcontent %}
        {% include "core/_ajax_post.html" %}
    {% endwith %}
    {% endwith %}
    {% with "pydici-ajax-form-mission-automatic-staffing" as formid %}
    {% with "pydici-ajax-form-content-mission-staffing" as formcontent %}
        {% include "core/_ajax_post.html" %}
    {% endwith %}
    {% endwith %}

{% endif %}

<script type="text/JavaScript">
<!--
$(document).ready(function(){
    $(".pdc-tooltip").popover(
        {
          container: "body",
          html: true,
          sanitize: false,
          content: function() {
              var staffing_date = $(this).closest('tr').find('td').eq($(this).index()-1)[0].firstElementChild.value.replace('-01','').replace('-','');
              var consultant = $(this).closest('tr').find('td').eq($(this).index()-3)[0].firstElementChild.firstElementChild;
              if (consultant) {
                consultant = consultant.value;
                } else {
                return ''; // no consultant selected...
                }
              if (staffing_date.length == 6) {
                  var url = '{% url 'staffing:pdc_detail' '123456' '19700101' %}'.replace("123456", consultant).replace("19700101", staffing_date);
                  return $.ajax({
                      url: url,
                      dataType: 'html',
                      async: false
                      }).responseText;
              } else {
                  // Invalid staffing_date. It means we are outside pdc array (like client column)
                  return '';
              }
          },
           trigger: "click",
           template: '<div class="popover" style="max-width:800px;" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
        }
    );

    /* avoid popover to open more than on at the same time */
    $('.pdc-tooltip').on("click", function(){
        $('.pdc-tooltip').not(this).popover('hide'); //all but this
    });

    $('#buttons-projection label').tooltip({
        "container": "body"
    });
    $('[data-toggle="tooltip"]').tooltip();
});
// -->
</script>