{% extends "admin/base_site.html" %}

{% load i18n %}
{% load pydici_filters %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jeditable.mini.js"></script>
{% endblock %}

{% block title %}{{ mission }}{% endblock %}

{% block content %}

{% with "mission-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

<div id="content-large">

<h1>
{% if mission.lead.client %}
    <a href='{% url pydici.crm.views.company_detail mission.lead.client.organisation.company.id %}'>{{ mission.lead.client.organisation }}</a> : 
{% endif %}
    <a href='{% url admin:staffing_mission_change mission.id %}' target='_blank'class='changelink' >{{ mission.full_name }}</a>


</h1>

<div id="mission-tabs">
    <ul>
        <li><a href="#tab-description">{% trans "Description" %}</a></li>
        <li><a href="#tab-consultants">{% trans "Consultants" %}</a></li>
        <li><a href="#tab-other-missions">{% trans "Other missions" %}</a></li>
        <li><a title="#tab-timesheet" href="{% url pydici.staffing.views.mission_timesheet mission.id %}">{% trans "Timesheet" %}</a></li>
        <li><a title="#tab-staffing" href="{% url pydici.staffing.views.mission_staffing mission.id %}">{% trans "Forecast staffing" %}</a></li>
        <li><a title="#tab-expenses" href="{% url pydici.expense.views.mission_expenses mission.id %}">{% trans "Expenses" %}</a></li>
        <li><a href="#tab-actions">{% trans "Actions" %}{% if pending_actions %} ({{ pending_actions.count }}){% endif %}</a></li>
        {% if mission.lead %}<li><a href="#tab-billing">{% trans "Billing" %}</a></li>{% endif %}
    </ul>

    <div id="tab-description">
        <h3>{% trans "Mission id: " %} {{ mission.mission_id }}</h3>
        <h3>{% trans "Type:" %} {{ mission.get_nature_display }}</h3>
        {% if mission.lead %}
            <h3>{% trans "Billing mode: " %} <div  id="billing_mode-{{ mission.id }}" style="display:inline" class='jeditable-mission-update'>{{ mission.get_billing_mode_display|default:_("To be defined") }}</div></h3>
            <h3>{% trans "Probability:" %} <div  id="probability-{{ mission.id }}" style="display:inline" class='jeditable-mission-update'>{{ mission.get_probability_display }}</div></h3>
            <h3>{% trans "Lead of this mission:" %} <a href="{% url pydici.leads.views.detail mission.lead.id %}">{{ mission.lead }}</a></h3>
	        {% if mission.lead.description %}
	            <div class='lead_description'>{{ mission.lead.description|urlize|pydici_simple_format|linebreaksbr }} </div>
	        {% endif %}
        {% endif %}
    </div>

    <div id="tab-consultants">
	    <h2>{% trans "Consultants currently implicated in this mission" %}</h2>
	    <div class="timesheet">
	    <table>
	    <tr><th>{% trans "Consultant" %}</th><th>{% trans "Daily rate (€)" %}</th><th></th></tr>
	    {% for consultant, rate in mission.consultant_rates.items %}
	        <tr {%cycle 'class="row1"' 'class="row2"' %}>
	            <td><a href='{% url pydici.staffing.views.consultant_home consultant.id %}', title='{{ consultant }}'>{{ consultant }}</a></td>
	            <td align="right"><div id="sold-{{ mission.id }}-{{ consultant.id }}" class="jeditable-rate" >{{ rate.0 }}</div></td>
	            <td align="right">{% if consultant.subcontractor %}(<div id="bought-{{ mission.id }}-{{ consultant.id }}" style="display:inline" class="jeditable-rate">{{ rate.1 }}</div>){% endif %}</td>
	        </tr>
	    {% endfor %}
	    </table>
	    </div>
    </div>

    <div id="tab-other-missions">
        {% if mission.sister_missions %}
        <h2>{% trans "Other missions linked to this lead" %}</h2>
        <div class="imodule">
        <table>
        <tr>
	        <th>{% trans "Mission" %}</th>
	        <th>{% trans "id" %}</th>
	        <th>{% trans "Done days" %}</th>
	        <th>{% trans "Done work (k€)" %}</th>
	        <th>{% trans "Sold (k€)" %}</th>
	        <th>{% trans "Billing mode" %}</th>
        </tr>
        {% for sister_mission in mission.sister_missions %}
        <tr {%cycle 'class="row1"' 'class="row2"' %}>
	        <td><a href='{% url pydici.staffing.views.mission_home sister_mission.id %}'>{{ sister_mission }}</a></td>
	        <td>{{ sister_mission.mission_id }}</td>
	        <td>{{ sister_mission.done_work_k.0 }}</td>
	        <td>{{ sister_mission.done_work_k.1|floatformat }}</td>
	        <td>{{ sister_mission.price }}</td>
	        <td>{{ sister_mission.get_billing_mode_display }}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
        {% else %}
            <script type="text/javascript">
            // Disable other mission tabs
            $(document).ready(function() {
                $('#mission-tabs').tabs().tabs('remove', '#tab-other-missions');
            });
            </script>
        {% endif %}
    </div>

    <div id="tab-billing">
    <br/>
	    {% if mission.lead %}
	        {% with mission.lead as lead %}
	        {% include "billing/_lead_billing.html" %}
	        {% endwith %}
	    {% endif %}
    </div>

    <div id="tab-actions">
    <br/>

    <h2>{% trans "Pending actions" %}</h2>
    {% with pending_actions as actions %}
        {% include "actionset/_lead_mission_actions.html" %}
    {% endwith %}

<h2>{% trans "Done actions" %}</h2>
    <ul>
    {% for action in mission.done_actions %}
        <li>{{ action.action.name }} - {{ action.get_state_display }} ({{ action.user.first_name }} {{ action.user.last_name }}, {{ action.update_date }})</li>
    {% empty %}
        {% trans "No action done" %}
    {% endfor %}
    </ul>
    </div>


</div> <!-- end of tabs -->
</div>

<script type="text/javascript">

$(".jeditable-rate").editable("{% url pydici.staffing.views.mission_consultant_rate %}", { 
    indicator : "<img src='{{ MEDIA_URL }}img/ajax-loader.gif'/>",
    tooltip   : "{% trans 'click to edit...' %}",
    event     : "click",
    style  : "inherit"
});

$(".jeditable-mission-update").editable("{% url pydici.staffing.views.mission_update %}", { 
    indicator : "<img src='{{ MEDIA_URL }}img/ajax-loader.gif'/>",
    tooltip   : "{% trans 'click to edit...' %}",
    event     : "click",
    style  : "inherit",
    type   : "select",
    loadurl : "{% url pydici.staffing.views.mission_update %}",
    submit : 'OK',
    onblur : 'submit',
});
</script>

{% endblock %}
