{# This template is intented to be loaded as a fragment #}
{# of a page loaded in ajax #}
{% load i18n %}

<div id="contact_display">
{% for mission_contact in mission_contacts %}
    {% ifchanged mission_contact.company %}
        {% if not loop.first %}</table>{% endif %}
        <h3><a href="{% url 'crm:company_detail' mission_contact.company.id %}">{{ mission_contact.company }}</a></h3>
        <table class="table table-hover table-striped table-condensed">
         <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Company" %}</th>
            <th>{% trans "Function" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Mobile phone" %}</th>
            <th>{% trans "Fax" %}</th>
        </tr>
    {% endifchanged %}

    {% with mission_contact.contact as contact %}
        {% include "crm/_contact_item.html" %}
    {% endwith %}
{% endfor %}
</table>

{% if pydici_feature.contacts_write %}
    <br/>
    <a class="btn btn-default" href="javascript:;"
       onClick="$('#contact_display').hide();$('#contact_edit').show();">
       {% trans "Add or edit" %}</a>
    </div>

    <div id="contact_edit">
    <form action="{% url 'staffing:mission_contacts' mission.id %}#tab-contacts" method="POST">
        {{ mission_contact_form.non_field_errors }}
        {{ mission_contact_form }}
        <input class="btn btn-default" type="submit" value="{% trans 'Save' %}"/>
    </form>
       <br/>
    <a href="{% url 'crm:mission_contact_create' %}?return_to={% url 'staffing:mission_home' mission.id %}#goto_tab-contacts" class="btn btn-default">{% trans "New mission contact" %}</a>
    <a class="btn btn-default" href="javascript:;"
       onClick="$('#contact_display').show();$('#contact_edit').hide();">
       {% trans "Close" %}</a>
    </div>
{% endif %}

{% include "core/_select2.html" %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#contact_edit').hide();
    });
</script>
