{% extends "core/pydici.html" %}

{% load i18n %}

{% block title %}
	{% if all %}
	    {% trans "All missions" %}
	{% else %}
	    {% trans "Active missions" %}
	{% endif %}
{% endblock %}

{% block content %}

{% if all %}
    <h1>{% trans "All missions" %}</h1>
    <br/><a class="btn btn-default" href='{% url 'staffing:missions' %}'>{% trans "Only display active missions" %}</a><br/><br/>
{% else %}
    <h1>{% trans "Active missions" %}</h1>
    <br/><a class="btn btn-default" href="{% url 'staffing:all-missions' %}">{% trans "Also display inactive missions" %}</a><br/><br/>
{% endif %}

<table id="mission_table" class="table table-striped table-hover table-condensed table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{% trans "name" %}</th>
				<th>{% trans "subsidiary" %}</th>
				<th>{% trans "responsible" %}</th>
				<th>{% trans "nature" %}</th>
                <th>{% trans "Mission id" %}</th>
				<th>{% trans "amount (k€)" %}</th>
                <th>{% trans "Forecast in future" %}</th>
                <th>{% trans "Up to date forecast" %}</th>
                <th>{% trans "Archiving" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


{% with "mission_table" as table_id %}
    {% include "core/_datatables.html" %}
{% endwith %}

<script type="text/JavaScript">
<!--

    // Function that process ajax callback
    function process_mission_archive(data) {
        if (data.error==true) {
            alert("{% trans 'Archiving failed' %}");
        }
        else {
            $("#mission_" + data.id).closest("tr").hide("fast");
        }
    };
-->
</script>


{% endblock %}