{% extends "staffing/mission_base.html" %}
{% load i18n %}

{% block mission_detail %}
    <h2>{% trans "Staffing" %}</h2>
    <a href="{% url pydici.staffing.views.mission_timesheet mission.id %}" class='changelink'>{% trans "See also the timesheet of this mission" %}</a>
    <br/><br/><hr/>
    <form action="" method="POST">
        {{ formset.management_form }}
        <div class="form-row">
        <table>
           <tr>
               <th>{% trans "Consultant" %}</th>
               <th></th>
               <th>{% trans "Month" %}</th>
               <th>{% trans "Load" %}</th>
               <th>{% trans "Comments" %}</th>
               <th></th>
               <th>{% trans "Del." %}</th>
               <th>{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
               {% ifchanged form.initial.staffing_date %}
               {% if form.initial.staffing_date %}
                       <tr><th>{{ form.initial.staffing_date|date:"F Y" }}</th></tr>
                   {% else %}
                       <tr><th>{% trans "New staffing:" %}</th></tr>
                   {% endif %}
               {% endifchanged%}
               {% if form.non_field_errors %}
                    <tr>
                            <td><ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                            </ul></td>
                    </tr>
               {% endif %}
               <tr {%cycle 'class="row1"' 'class="row2"' %}>
               {% for field in form %}
                  {% ifequal field.label "Last user" %}
                        {{ field.as_hidden }}
                    {% else %}
                        {% ifequal field.label "Update date" %}
                            {{ field.as_hidden }}
                        {% else %}
                           <td>
                            {{ field.errors }}
                            {{ field }}
                           </td>
                        {% endifequal %}
                    {% endifequal %}
               {% endfor %}
               <td>
               {% if form.initial.last_user %}
                    {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
               {% endif %}
               </td>
               </tr>
           {% endfor %}
        </table>       
        </div>
        {% if read_only %}
            <em>{% trans "Note: you are not allowed to change mission staffing" %}</em>
        {% else %}
	        <div class="submit-row">
	            <input type="submit" value="{% trans 'Save' %}"/>
	        </div>
	    {% endif %}
    </form>
{% endblock %}