{# This template is intented to be loaded as a fragment #}
{# of a page loaded in ajax #}
{% load i18n %}

<h2>{% trans "Mission contacts" %}</h2>
<div id="contact_display">
{% for mission_contact in mission_contacts %}
    {% ifchanged mission_contact.company %}
        {% if not loop.first %}</table>{% endif %}
        <h4>{{ mission_contact.company }}</h4>
        <table>
         <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Company" %}</th>
            <th>{% trans "Function" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Mobile phone" %}</th>
            <th>{% trans "Fax" %}</th>
        </tr>
    {% endifchanged %}

    {% with mission_contact.contact as contact %}
        {% include "crm/_contact_item.html" %}
    {% endwith %}
{% endfor %}
</table>
<a href="javascript:;" 
   onClick="$('#contact_display').hide();$('#contact_edit').show();">
   <br/>
   {% trans "Add or edit" %}</a>
</div>

<div id="contact_edit">
<form action='{% url pydici.staffing.views.mission_contacts mission.id %}#tab-contacts' method="POST"> 
    {{ mission_contact_form.non_field_errors }}
    {{ mission_contact_form }}
    <input type="submit" value="{% trans 'Save' %}"/>
</form>
<a href="javascript:;" 
   onClick="$('#contact_display').show();$('#contact_edit').hide();">
   <br/>
   {% trans "Close" %}</a>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#contact_edit').hide();
    });
</script>