{% extends "core/pydici.html" %}

{% load i18n %}

{% block title %}
	{% trans "Missions" %}
{% endblock %}

{% block content %}

{% if all %}
    <h1>{% trans "All missions" %}</h1>
    <br/><a class="btn btn-primary" href="{% url 'staffing:missions' %}">{% trans "Only display active missions" %}</a><br/><br/>
{% else %}
    <h1>{% trans "Active missions" %}</h1>
    <br/><a class="btn btn-primary" href="{% url 'staffing:all_missions' %}">{% trans "Also display inactive missions" %}</a><br/><br/>
{% endif %}

    {% include "staffing/_mission_table.html" %}

{% endblock %}