{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jeditable.mini.js"></script>
{% endblock %}

{% block title %}{% trans "Forecast/timesheet " %}{{ mission }}{% endblock %}

{% block content %}
{% if request.session.mobile %}
<div data-role="page" data-theme="c">
    <div data-role="header">
        {% block mobile-page-header %}
            <h1>{{ mission }}</h1>
        {% endblock %}
    </div>
    <div data-role="content">
{% else %}

<div id="content-large">
    <h1><a href='{% url admin:staffing_mission_change mission.id %}' target='_blank'class='changelink' >{{ mission }}</a></h1>
    <h3>{% trans "Mission id: " %} {{ mission.mission_id }}</h3>
    <h3>{% trans "Billing mode: " %} <a href='{% url admin:staffing_mission_change mission.id %}' target='_blank' class='changelink'>{{ mission.billing_mode|default:_("To be defined") }}</a></h3>
    <h3>{% trans "Probability:" %} <a href='{% url admin:staffing_mission_change mission.id %}' target='_blank' class='changelink'>{{ mission.get_probability_display }} </a></h3>
    <br>

    <h2>{% trans "Consultants currently implicated in this mission" %}</h2>
    <table>
    <tr><td>{% trans "Consultant" %}</td><td>{% trans "Daily rate (€)" %}</td><td></td></tr>
    {% for consultant, rate in consultant_rates.items %}
        <tr {%cycle 'class="row1"' 'class="row2"' %}>
            {% if link_to_staffing %}
                <td><a href='{% url pydici.staffing.views.consultant_staffing consultant.id %}', title='{{ consultant }}'>{{ consultant }}</a></td>
            {% else %}
                <td><a href='{% url pydici.staffing.views.consultant_timesheet consultant.id %}', title='{{ consultant }}'>{{ consultant }}</a></td>
            {% endif %}
            <td align="right"><div id="sold-{{ mission.id }}-{{ consultant.id }}" class="jeditable" style="display:inline">{{ rate.0 }}</div></td>
            <td align="right">{% if consultant.subcontractor %}(<div id="bought-{{ mission.id }}-{{ consultant.id }}" class="jeditable" style="display:inline">{{ rate.1 }}</div>){% endif %}</td>
        </tr>
    {% endfor %}
    </table>    
    {% if mission.sister_missions %}
        <h2>{% trans "Other missions linked to this lead" %}</h2>
        <table>
        <tr><td>{% trans "Mission" %}</td><td>{% trans "id" %}</td></tr>
        {% for sister_mission in mission.sister_missions %}
        <tr {%cycle 'class="row1"' 'class="row2"' %}>
            {% if link_to_staffing %}
                <td><a href='{% url pydici.staffing.views.mission_staffing sister_mission.id %}' class='changelink'>{{ sister_mission }}</a></td>
            {% else %}
                <td><a href='{% url pydici.staffing.views.mission_timesheet sister_mission.id %}' class='changelink'>{{ sister_mission }}</a></td>
            {% endif %}
            <td>{{ sister_mission.mission_id }}</td>
        </tr>
        {% endfor %}
        </table> 
    {% endif %}

{% endif %}
{% block mission_detail %} {% endblock %}

{% if not request.session.mobile %}
    <br><hr><br><br>
    <a href='{% url missions %}'>{% trans "Back to mission list" %}</a>
	{% if mission.lead %}
	    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
	    <a href='{% url pydici.leads.views.detail mission.lead_id %}'>{% trans "Lead of this mission" %}</a>
	{% endif %}
	{% if perms.staffing.add_mission %}
	{% if mission.lead %}
	    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
	    <a href='{% url pydici.staffing.views.create_new_mission_from_lead mission.lead.id %}'>{% trans "Create another mission for this lead" %}</a></li>
	{% endif %}
	{% endif %}
{% endif %}
</div>

<script type="text/javascript">
<!--

$(".jeditable").editable("{% url pydici.staffing.views.mission_consultant_rate %}", { 
    indicator : "<img src='{{ MEDIA_URL }}img/ajax-loader.gif'/>",
    tooltip   : "{% trans 'click to edit...' %}",
    event     : "click",
    style  : "inherit"
});

-->
</script>
{% endblock %}
