{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-staffing">
    <h1>{{ mission }}</h1>
    {% if mission.deal_id %}
        <h3>{% trans "Deal id: " %} {{ mission.deal_id }}</h3>
    {% endif %}
    <h3>{% trans "Probability:" %} {{ mission.get_probability_display }} </h3>
    <td scope="row"><a href='{% url admin:staffing_mission_change mission.id %}', title='{% trans "Change"%} {{ mission }}', target='_blank', class='changelink'><em>{% trans "Change"%}</em></a></td>
    <br>

    <h2>{% trans "Consultants currently implicated in this mission" %}</h1>
    <table>
    <tr><td>{% trans "Consultant" %}</td><td>{% trans "Daily rate (€)" %}</td></tr>
    {% for consultant, rate in consultant_rates.items %}
        <tr {%cycle 'class="row1"' 'class="row2"' %}>
            <td><a href='{% url pydici.staffing.views.consultant_staffing consultant.id %}', title='{{ consultant }}'>{{ consultant }}</a></td>
            <td align="right"><a href='{% url pydici.staffing.views.mission_consultant_rate mission.id consultant.id %}' target='_blanck'>{{ rate }}</a></td>
        </tr>
    {% endfor %}
    </table>

    {% if mission.sister_missions %}
        <h2>{% trans "Other missions linked to this lead" %}</h2>
        <table>
        {% for sister_mission in mission.sister_missions %}
        <tr {%cycle 'class="row1"' 'class="row2"' %}>
            <th scope="row"><a href='{% url pydici.staffing.views.mission_staffing sister_mission.id %}' class='changelink'>{{ sister_mission }}</a></th>
        </tr>
        {% endfor %}
        </table> 
    {% endif %}
{% block mission_detail %} {% endblock %}
 
<br><hr>
<br>
<br>
<a href='{% url missions %}'>{% trans "Back to mission list" %}</a>
{% if mission.lead %}
    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
    <a href='{% url pydici.leads.views.detail mission.lead_id %}'>{% trans "Lead of this mission" %}</a>
{% endif %}
{% if perms.staffing.Can_add_Mission %}
    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
    <a href='{% url pydici.staffing.views.create_new_mission_from_lead mission.lead.id %}'>{% trans "Create another mission for this lead" %}</a></li>
{% endif %}        

        


</div>
{% endblock %}