{% load i18n %}
{# Fragment of page to be included in a mission_home tab #}
<div id="pydici-ajax-form-content-mission-staffing">
    <br/>
    {% include "staffing/_check_mission_billing_mode.html" %}
    {% include "staffing/_check_mission_rates.html" %}
    {% if margin > 0 and mission.nature == "PROD" and mission.defined_rates %}

        <form action="{% url 'staffing:automatic_mission_staffing' mission.id %}" method="POST" id="pydici-ajax-form-mission-automatic-staffing">
            <div class="alert alert-info">
                {% blocktrans with margin=margin|floatformat:"-2" %}This mission has {{ margin }} k€ to be forecasted.{% endblocktrans %}
                {% trans "Do automatic forecast" %} {{ automatic_staffing_form.mode }} {% trans "in" %} {{ automatic_staffing_form.duration }} {% trans "months" %}.

                <button type='submit' class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> {% trans 'Compute automatic forecast' %}</button>
            </div>
        </form>
    {% endif %}


    <form action="{% url 'staffing:manual_mission_staffing' mission.id %}" method="POST" id="pydici-ajax-form-mission-staffing">
        {{ formset.management_form }}
        <div class="form-row">
        <table class="table table-striped table-hover table-condensed">
           <tr>
               <th>{% trans "Consultant" %}</th>
               <th></th>
               <th>{% trans "Month" %}</th>
               <th>{% trans "Load" %}</th>
               <th>{% trans "Comments" %}</th>
               <th></th>
               <th>{% trans "Del." %}</th>
               <th>{% trans "Last change" %}</th>
           </tr>
           {% for form in formset.forms %}
               {% ifchanged form.initial.staffing_date %}
               {% if form.initial.staffing_date %}
                       <tr><th style="backround-color:white" colspan=8>{{ form.initial.staffing_date|date:"F Y" }}</th></tr>
                   {% else %}
                       <tr><th style="backround-color:white" colspan=8>{% trans "New staffing:" %}</th></tr>
                   {% endif %}
               {% endifchanged%}
               {% if form.non_field_errors %}
                    <tr>
                            <td><ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                            </ul></td>
                    </tr>
               {% endif %}
               <tr {%cycle 'class="row1"' 'class="row2"' %}>
               {% for field in form %}
                  {% ifequal field.label "Last user" %}
                        {{ field.as_hidden }}
                    {% else %}
                        {% ifequal field.label "Update date" %}
                            {{ field.as_hidden }}
                        {% else %}
                           <td>
                            {{ field.errors }}
                            {{ field }}
                           </td>
                        {% endifequal %}
                    {% endifequal %}
               {% endfor %}
               <td>
               {% if form.initial.last_user %}
                    {{ form.initial.last_user }} ({{ form.initial.update_date|timesince }})
               {% endif %}
               </td>
               </tr>
           {% endfor %}
        </table>
        </div>
        {% if read_only %}
            <em>{% trans "Note: you are not allowed to change mission staffing" %}</em>
        {% else %}
	            <button type='submit' class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Save' %}</button>
	    {% endif %}
    </form>
</div>

{% include "core/_select2.html" %}

{% if not read_only %}
    {% with "pydici-ajax-form-mission-staffing" as formid %}
    {% with "pydici-ajax-form-content-mission-staffing" as formcontent %}
        {% include "core/_ajax_post.html" %}
    {% endwith %}
    {% endwith %}
    {% with "pydici-ajax-form-mission-automatic-staffing" as formid %}
    {% with "pydici-ajax-form-content-mission-staffing" as formcontent %}
        {% include "core/_ajax_post.html" %}
    {% endwith %}
    {% endwith %}

{% endif %}