{% extends "core/pydici.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block extrajs %}
    {% include "core/_c3.html" %}
{% endblock %}

{% block title %}{% trans "Optimise staffing" %}{% endblock %}

{% block content %}

<form id="optimise-form-id" method="POST">
    {% crispy form %}
    {% crispy formset formset_helper %}
    <div class="pull-left">
        <button type="submit" class="btn btn-default" name="action_solve"><span class="glyphicon glyphicon-cog"></span> {% trans 'Solve' %}</button>
        {% if results and not errors %}
            <button type="submit" class="btn btn-danger" name="action_update" onclick='return confirm("{% trans "Do you really want to update forecast? This cannot be undone" %}")'>
            {% trans 'Update forecast according to prevision' %}</button>
        {% endif %}
    </div>
</form>

<br/><br/>
{% if error %}
    <div class="alert alert-danger col-md-6">{{ error }}</div>
{% endif %}

{% if results %}
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <br/>
            <ul>
                <li>{% trans "Solution type: " %} {% trans solver.StatusName %}</li>
                {% if solver.StatusName != "OPTIMAL" %}<li class="optim_warn">{% trans "Solution is not optimal. Try to increase planning weight or set weight to None for number of mission per people or consultant freetime" %}</li>{% endif %}
                <li>{% trans "Computation time: " %} {{ solver.WallTime|floatformat:-3 }} sec. ({{ solver.NumBranches }} {% trans "branches" %}, {{ solver.NumConflicts }} {% trans "conflicts" %})</li>
                <li>{% trans "Total score: " %} {{ total_score }}</li>
            </ul>
        </div>
        <div class="col-sm-6"><div id="score_id"></div></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var chart = c3.generate({
                bindto: '#score_id',
                size: {
                    height: 100,
                    //width: 480
                },
                data: {
                    columns: [
                        {% for score_name, score_value in scores %}
                            ['{% trans score_name %}', {{ score_value|unlocalize }}],
                        {% endfor %}
                    ],
                    groups: [
                        [{% for score_name, score_value in scores %}'{% trans score_name %}',{% endfor %}]
                    ],
                    type: 'bar',
                    labels: true
                },
                grid: {
                    y: {
                        lines: [{value: 0}]
                    }
                },
                axis: {
                    rotated: true,
                    x : { show: false, },
                    y : { show: false, },
                },
                legend: {  position: 'right' },
                tooltip: { format: { title: function (x, index) { return "{% trans 'Optimisation score' %}"; } } },
            });
        });
    </script>

<table class="table table-striped table-hover table-pydici-extra-condensed" id="pdc_optim_table">
    <thead>
    <tr>
        <th>{% trans "Mission" %}</th>
        <th>{% trans "Consultant" %}</th>
        {% for month in staffing_dates %}
            <th style="text-align: left">{{ month.1 }}</th>
        {% endfor %}
    </tr></thead>
    <tbody>
        {% for row in results %}
            <tr>
                {% for item in row %}
                    {% if forloop.counter > 2 %}
                        <td class="{{ item.0 }}">{{ item.1 }}</td>
                    {% else %}
                        <td>{{ item }}</td>

                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-striped table-hover table-pydici-extra-condensed" id="pdc_optim_mission_table">
    <thead>
        <tr>
            <th>{% trans "Mission" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Current remaining" %}</th>
            <th>{% trans "Target remaining with current forecast" %}</th>
            <th>{% trans "Target remaining with proposed forecast" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in missions_remaining_results %}
        <tr>
            {% for item in row %}
                {% if forloop.counter > 1 %}
                    <td style="text-align: center">{{ item }} k€</td>
                {% else %}
                    <td>{{ item }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock %}