{# html fragment displayed for pdc detail staffing #}
{% load i18n %}
{% load l10n %}
<button class="btn close float-end"><i class="bi bi-x-square"></i></button>
{% if staffings %}
    <table class="table table-striped table-sm">
    <thead>
        <tr><th>{% trans "Mission" %}</th><th>{% trans "Charge" %}</th></tr>
    </thead>
    <tbody>
    {% for staffing in staffings %}
        <tr>
            <td>{{ staffing.mission }}</td><td>{{ staffing.charge }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{% trans "total" %}</th><td>{{ total }}</td>
        </tr>
        <tr>
            <th>{% trans "available" %}</th><td>{{ available }}</td>
        </tr>
    </tfoot>
    </table>

    <a role="button" class="btn btn-primary button-link"
       href="{% url 'staffing:optimise_pdc' %}?{% for staffing in staffings %}{% if staffing.mission.nature == 'PROD' %}missions={{ staffing.mission.id|unlocalize }}&{% endif %}{% endfor %}">
        <i class="bi bi-gear"></i> {% trans "Optimize workload for those missions" %}</a>

{% else %}
{% trans "No staffing" %}
{% endif %}