{% extends "core/pydici.html" %}

{% load i18n %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
{% endblock %}


{% block title %}{% trans "Workload schedule" %}{% endblock %}

{% block content %}

<div class="my-3 d-flex flex-row">
<h1 class="mx-3 align-self-center my-0">{% trans "Workload shedule review" %}</h1>
    <nav class="mx-3">
    <ul class="pagination my-0">
        <li class="page-item pydici-tooltip" title="{% trans 'Previous months' %}">
            <a class ="page-link" href="{% url 'staffing:pdcreview' year=previous_slice_date|date:'Y' month=previous_slice_date|date:'m' %}/?groupby={{groupby}}&projection={{projection}}"><i class="bi bi-arrow-left-circle"></i></a>
        </li>
        <li class="page-item pydici-tooltip" title="{% trans 'Next months' %}">
            <a class="page-link " href="{% url 'staffing:pdcreview' year=next_slice_date|date:'Y' month=next_slice_date|date:'m' %}/?groupby={{groupby}}&projection={{projection}}"><i class="bi bi-arrow-right-circle"></i></a>
        </li>
    </ul>
    </nav>
</div>


<!-- buttons bar -->
<div class="row">
    <div class="col-lg-12">
        <!-- Projection button -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ projection_label }}
          </button>
          <ul class="dropdown-menu">
              {% for projection_key, projection_data in projections.items %}
                <li><a class="dropdown-item" href="{% url 'staffing:pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{groupby}}&projection={{projection_key}}&{{scope_current_filter}}" title="{{projection_data|last}}">{{ projection_data|first }}</a></li>
              {% endfor %}
          </ul>
        </div>
        <!-- Group by button -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ groupby_label }}
          </button>
          <ul class="dropdown-menu">
              {% for group_key, group_label in groups.items %}
                <li><a class="dropdown-item" href="{% url 'staffing:pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{group_key}}&projection={{projection}}&{{scope_current_filter}}">{{ group_label }}</a></li>
              {% endfor %}
          </ul>
        </div>
        <!-- Scope  button -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ scope }}
          </button>
          <ul class="dropdown-menu">
              {% for scope_type, scope_filter, scope_label in scopes %}
                {% ifchanged scope_type %}
                    {% if not forloop.first %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                {% endifchanged %}
                <li><a class="dropdown-item" href="{% url 'staffing:pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{group_key}}&projection={{projection}}&{{scope_filter}}">{{ scope_label }}</a></li>
              {% endfor %}
          </ul>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
    <div class="table-responsive">

    <table class="table table-striped table-hover table-bordered table-pydici-extra-condensed" id="pdc_table">

    <tr>
        <th></th>
    	{% for month in months %}
    	    <th colspan="4" class="text-center" style="border-left:1px solid #C3C3C3;">{{ month|date:"F y" }}</th>
    	{% endfor %}
    	<th style="border-left:1px solid #C3C3C3;"></th>
    </tr>
        <th></th>
        {% for month in months %}
            <th style="border-left:1px solid #C3C3C3;">{% trans "prod" %}<span title="{{ month|date:'Ym' }}"></span></th>
            <th>{% trans "unprod" %}<span title="{{ month|date:'Ym' }}"></span></th>
            <th>{% trans "hol." %}<span title="{{ month|date:'Ym' }}"></span></th>
            <th>{% trans "avai." %}<span title="{{ month|date:'Ym' }}"></span></th>
        {% endfor %}
            <th style="border-left:1px solid #C3C3C3;" class="hidden-xs hidden-sm">{% trans "Clients" %}</th>
    </tr>
    <tr>
        <th>{% trans "Rates"%} (%)</th>
        {% for month_rates in rates %}
            <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:"</th><th>" }}</th>
        {% endfor %}
        <th></th>
    </tr>
    {% for consultant, charges in staffing %}
        {% if groupby == "manager" %}
    	    {% ifchanged consultant.staffing_manager %}
    	        <tr><th colspan="18">{% blocktrans with consultant.staffing_manager as manager %}{{manager}} staff{% endblocktrans %}</th></tr>
    	    {% endifchanged %}
    	{% endif %}
        {% if groupby == "level" %}
            {% ifchanged consultant.profil %}
                <tr><th>{{consultant.profil}}</th></tr>
            {% endifchanged %}
        {% endif %}
    
        <tr>
            <td>
                {% with tab="#tab-staffing" %}{% include "people/__consultant_name.html" %}{% endwith %}
            </td>
            {% for charge in charges %}
                <td class='pdc-tooltip' data-bs-toggle="popover" style="cursor: help; border-left:1px solid #C3C3C3;">{{ charge|join:"</td><td style=' cursor: help' class='charge pdc-tooltip' data-bs-toggle='popover'>" }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <th>{% trans "Totals" %}</th>
        {% for month_total in total %}
            <th style="cursor: help; border-left:2px solid #C3C3C3;">{{ month_total|join:"</th><th>" }}</th>
        {% endfor %}
        <th></th>
    </tr>
    <tr>
        <th>{% trans "Rates" %} (%)</th>
        {% for month_rates in rates %}
            <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:"</th><th>" }}</th>
        {% endfor %}
        <th></th>
    </tr>
    </table>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>{% trans "Production rates and daily rates review" %}</h1>
        
        <div id="graph_timesheet_rates_bar_content"></div>
        <script type="text/javascript">
        $('#graph_timesheet_rates_bar_content').load('{% url 'staffing:graph_timesheet_rates_bar' %}/{{team_current_url_filter}}?{{scope_current_filter}}')
        </script>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="graph_profile_rates_content"></div>
        <script type="text/javascript">
        $('#graph_profile_rates_content').load('{% url 'staffing:graph_profile_rates' %}/{{team_current_url_filter}}?{{scope_current_filter}}')
        </script>
    </div>
</div>

<script type="text/JavaScript">
 <!--
 $(".charge").map(function(j, cell) {
     if (((j+1) % 3) == 0) {
         var available_days = parseFloat(cell.innerHTML);

         // available >= 5
	     if(available_days >= 5) {
	         cell.style.backgroundColor = "#43E707";
             return;
	     }
         // 2 <= available < 5
         if(available_days >= 2) {
	         cell.style.backgroundColor = "#CCE7B2";
             return;
	     }
         // 0 <= available < 2
         if(available_days >= 0) {
             return;
	     }
         // -2 <= available < 0
         if(available_days >= -2) {
	         cell.style.backgroundColor = "#E7E36D";
             return;
	     }

         // available < -2
         cell.style.backgroundColor = "#E76F6F";
     }
 })


$(document).ready(function(){

    $(".pdc-tooltip").popover(
        {
          container: "body",
          html: true,
          sanitize: false,
          content: function(e) {
              var staffing_date = $(e).closest('table').find('span').eq($(e).index()-1).attr('title');
              var consultant = $(e).closest('tr').find('span').attr('title');
              if (staffing_date.length == 6) {
                  var url = '{% url 'staffing:pdc_detail' '123456' '19700101' %}'.replace("123456", consultant).replace("19700101", staffing_date);
                  return $.ajax({
                      url: url,
                      dataType: 'html',
                      async: false
                      }).responseText;
              } else {
                  // Invalid staffing_date. It means we are outside pdc array (like client column)
                  return '';
              }
          },
          trigger: "click",
          template: '<div class="popover" style="max-width:800px;" role="tooltip"><div class="popover-arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        }
    );

    /* avoid popover to open more than on at the same time */
    $('.pdc-tooltip').on("click", function(){
        $('.pdc-tooltip').not(this).popover('hide'); //all but this
    });
    /* bind close button */
    $(document).on("click", ".popover .close" , function(){
        $(this).parents(".popover").popover('hide');
    });

    $('#buttons-projection label').tooltip({
        "container": "body"
    });
});
//-->
</script>

{% endblock %}
