{% extends "core/pydici.html" %}

{% load i18n %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
    {% include "core/_c3.html" %}
{% endblock %}


{% block title %}{% trans "Workload schedule" %}{% endblock %}

{% block content %}

	<h1>
    <ul class="pager" style="text-align:left">
    	<li class="pydici-tooltip" title="{% trans 'Previous months' %}"><a href="{% url 'staffing:pdcreview' year=previous_slice_date|date:'Y' month=previous_slice_date|date:'m' %}/?groupby={{groupby}};projection={{projection}}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    	{% trans "Workload shedule review" %}
    	<li class="pydici-tooltip" title="{% trans 'Next months' %}" ><a href="{% url 'staffing:pdcreview' year=next_slice_date|date:'Y' month=next_slice_date|date:'m' %}/?groupby={{groupby}};projection={{projection}}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul>
	</h1>


<!-- buttons bar -->
<div class="row">
    <div class="col-lg-12">
        <!-- Projection button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ projection_label }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              {% for projection_key, projection_data in projections.items %}
                <li><a href="{% url 'staffing:pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{groupby}};projection={{projection_key}};{{scope_current_filter}}" title="{{projection_data|last}}">{{ projection_data|first }}</a></li>
              {% endfor %}
          </ul>
        </div>
        <!-- Group by button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ groupby_label }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              {% for group_key, group_label in groups.items %}
                <li><a href="{% url 'staffing:pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{group_key}};projection={{projection}};{{scope_current_filter}}">{{ group_label }}</a></li>
              {% endfor %}
          </ul>
        </div>
        <!-- Scope  button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ scope }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              {% for scope_type, scope_filter, scope_label in scopes %}
                {% ifchanged scope_type %}
                    {% if not forloop.first %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endifchanged %}
                <li><a href="{% url 'staffing:pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{group_key}};projection={{projection}};{{scope_filter}}">{{ scope_label }}</a></li>
              {% endfor %}
          </ul>
        </div>
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-md-12">
    <div class="table-responsive">

    <table class="table table-striped table-hover table-pydici-extra-condensed" id="pdc_table">

    <tr>
        <th></th>
    	{% for month in months %}
    	    <th colspan="4" style="border-left:1px solid #C3C3C3;"><center>{{ month|date:"F y" }}</center></th>
    	{% endfor %}
    	<th style="border-left:1px solid #C3C3C3;"></th>
    </tr>
        <th></th>
        {% for month in months %}
            <th style="border-left:1px solid #C3C3C3;">{% trans "prod" %}<span title="{{ month|date:'Ym' }}"></span></th>
            <th>{% trans "unprod" %}<span title="{{ month|date:'Ym' }}"></span></th>
            <th>{% trans "hol." %}<span title="{{ month|date:'Ym' }}"></span></th>
            <th>{% trans "avai." %}<span title="{{ month|date:'Ym' }}"></span></th>
        {% endfor %}
            <th style="border-left:1px solid #C3C3C3;" class="hidden-xs hidden-sm">{% trans "Clients" %}</th>
    </tr>
    <tr>
        <th>{% trans "Rates"%} (%)</th>
        {% for month_rates in rates %}
            <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:"</th><th>" }}</th>
        {% endfor %}
    </tr>
    {% for consultant, charges in staffing %}
        {% ifequal groupby "manager" %}
    	    {% ifchanged consultant.staffing_manager %}
    	        <tr><th>{% blocktrans with consultant.staffing_manager as manager %}{{manager}} staff{% endblocktrans %}</th></tr>
    	    {% endifchanged %}
    	{% endifequal %}
        {% ifequal groupby "level" %}
            {% ifchanged consultant.profil %}
                <tr><th>{{consultant.profil}}</th></tr>
            {% endifchanged %}
        {% endifequal %}
    
        <tr>
            <td>
                {% with tab="#tab-staffing" %}{% include "people/__consultant_name.html" %}{% endwith %}
            </td>
            {% autoescape off %}
            {% for charge in charges %}
                <td class='pdc-tooltip' style="cursor: help; border-left:1px solid #C3C3C3;">{{ charge|join:"</td><td style='cursor: help' class='charge pdc-tooltip'>" }}</td>
            {% endfor %}
            {% endautoescape %}
        </tr>
    {% endfor %}
    <tr>
        <th>{% trans "Totals" %}</th>
        {% for month_total in total %}
            <th style="cursor: help; border-left:2px solid #C3C3C3;">{{ month_total|join:"</th><th>" }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>{% trans "Rates" %} (%)</th>
        {% for month_rates in rates %}
            <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:"</th><th>" }}</th>
        {% endfor %}
    </tr>
    </table>
    </div>
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-lg-12">
        <h1>{% trans "Production rates and daily rates review" %}</h1>
        
        <div id="graph_timesheet_rates_bar_content"></div>
        <script type="text/javascript">
        $('#graph_timesheet_rates_bar_content').load('{% url 'staffing:graph_timesheet_rates_bar' %}/{{scope_current_url_filter}}')
        </script>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="graph_profile_rates_content"></div>
        <script type="text/javascript">
        $('#graph_profile_rates_content').load('{% url 'staffing:graph_profile_rates' %}/{{scope_current_url_filter}}')
        </script>
    </div>
</div>

<SCRIPT type="text/JavaScript">
 <!--
 $(".charge").map(function(j, cell) {
     if (((j+1) % 3) == 0) {
         var available_days = parseFloat(cell.innerHTML);

         // available >= 5
	     if(available_days >= 5) {
	         cell.style.backgroundColor = "#43E707";
             return;
	     }
         // 2 <= available < 5
         if(available_days >= 2) {
	         cell.style.backgroundColor = "#CCE7B2";
             return;
	     }
         // 0 <= available < 2
         if(available_days >= 0) {
             return;
	     }
         // -2 <= available < 0
         if(available_days >= -2) {
	         cell.style.backgroundColor = "#E7E36D";
             return;
	     }

         // available < -2
         cell.style.backgroundColor = "#E76F6F";
     }
 })


$(document).ready(function(){

    $(".pdc-tooltip").popover(
        {
          container: "body",
          html: true,
          content: function() {
              var staffing_date = $(this).closest('table').find('span').eq($(this).index()-1).attr('title');
              var consultant = $(this).closest('tr').find('span').attr('title');
              if (staffing_date.length == 6) {
                  var url = '{% url 'staffing:pdc_detail' '123456' '19700101' %}'.replace("123456", consultant).replace("19700101", staffing_date);
                  return $.ajax({
                      url: url,
                      dataType: 'html',
                      async: false
                      }).responseText;
              } else {
                  // Invalid staffing_date. It means we are outside pdc array (like client column)
                  return '';
              }
          },
           trigger: "click",
           template: '<div class="popover" style="max-width:800px;" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
        }
    );

    /* avoid popover to open more than on at the same time */
    $('.pdc-tooltip').on("click", function(){
        $('.pdc-tooltip').not(this).popover('hide'); //all but this
    });

    $('#buttons-projection label').tooltip({
        "container": "body"
    });
});
//-->
</SCRIPT>

{% endblock %}
