{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{{ MEDIA_URL }}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Workload schedule" %}{% endblock %}

{% block content %}

{% if request.session.mobile %}
<div data-role="page" data-theme="c">
    <div data-role="header">
        <a href="{% url 'mobile_index' %}" data-transition="flip">{% trans "Home" %}</a>
        <h1>{% trans "Workload schedule" %}</h1>
        <div data-role="navbar">
            <ul>
               <li><a href="{% url 'pdcreview' year=previous_slice_date|date:'Y' month=previous_slice_date|date:'m' %}/?groupby={{groupby}};projection={{projection}}" data-direction="reverse">{% trans 'Previous months' %}</a></li>
               <li><a href="{% url 'pdcreview' year=next_slice_date|date:'Y' month=next_slice_date|date:'m' %}/?groupby={{groupby}};projection={{projection}}" >{% trans 'Next months' %}</a></li>
            </ul>
        </div><!-- /navbar -->
    </div>
    <div data-role="content">
    <table>
{% else %}
<div id="content-main">
	<h1>
	<a href="{% url 'pdcreview' year=previous_slice_date|date:'Y' month=previous_slice_date|date:'m' %}/?groupby={{groupby}};{% if projected %}projected{% endif %}" title="{% trans 'Previous months' %}"><img src="{{ MEDIA_URL }}pydici/fg.png" border=0/></a>
	{% trans "Workload shedule review" %}
	<a href="{% url 'pdcreview' year=next_slice_date|date:'Y' month=next_slice_date|date:'m' %}/?groupby={{groupby}};{% if projected %}projected{% endif %}" title="{% trans 'Next months' %}"><img src="{{ MEDIA_URL }}pydici/fd.png" border=0/></a>
	</h1>

<br/>
<div class="pydici-select-radio">
<strong>{% trans "Projections: " %}</strong>
<input type="radio" onclick="window.location='{% url 'pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{groupby}}'" {% ifequal projection "none" %}checked{% endifequal %}/>{% trans "Only won leads" %}
<input type="radio" onclick="window.location='{% url 'pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{groupby}};projection=balanced'" {% ifequal projection "balanced" %}checked{% endifequal %}/>{% trans "With balanced staffing projection" %}
<input type="radio" onclick="window.location='{% url 'pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby={{groupby}};projection=full'" {% ifequal projection "full" %}checked{% endifequal %}/>{% trans "With full staffing projection" %}
<br/><br/>
<strong>{% trans "Group by: " %}</strong>
<input type="radio" onclick="window.location='{% url 'pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby=manager;projection={{projection}}'" {% ifequal groupby "manager" %}checked{% endifequal %}/>{% trans "Manager" %}
<input type="radio" onclick="window.location='{% url 'pdcreview' year=start_date|date:'Y' month=start_date|date:'m' %}/?groupby=position;projection={{projection}}'" {% ifequal groupby "position" %}checked{% endifequal %}/>{% trans "Level" %}
</div>
<br>
<br>

<table style="white-space: nowrap;">
{% endif %}

<tr>
    <th></th>
	{% for month in months %}
	    <th colspan="4" style="border-left:1px solid #C3C3C3;"><center>{{ month|date:"F y" }}</center></th>
	{% endfor %}
	<th style="border-left:1px solid #C3C3C3;"></th>
</tr>
    <th></th>
    {% for month in months %}
        <th style="border-left:1px solid #C3C3C3;">{% trans "prod" %}</th>
        <th>{% trans "unprod" %}</th>
        <th>{% trans "hol." %}</th>
        <th>{% trans "avai." %}</th>
    {% endfor %}
    {% if not request.session.mobile %}
        <th style="border-left:1px solid #C3C3C3;">{% trans "Clients" %}</th>
    {% endif %}
</tr>
<tr>
    <th>{% trans "Rates"%} (%)</th>
    {% for month_rates in rates %}
        <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:" %</th><th>" }} %</th>
    {% endfor %}
</tr>
{% for consultant, charges in staffing %}
    {% ifequal groupby "manager" %}
	    {% ifchanged consultant.manager %}
	        <tr><th>{% blocktrans with consultant.manager as manager %}{{manager}} staff{% endblocktrans %}</th></tr>
	    {% endifchanged %}
	{% endifequal %}
    {% ifequal groupby "position" %}
        {% ifchanged consultant.profil %}
            <tr><th>{{consultant.profil}}</th></tr>
        {% endifchanged %}
    {% endifequal %}

    <tr {%cycle 'class="row1"' 'class="row2"' %}>
        <td><a href="{% url 'people.views.consultant_home' consultant.id %}#tab-staffing">{{ consultant }}</a></td>
        {% autoescape off %}
        {% for charge in charges %}
            <td style="border-left:1px solid #C3C3C3;">{{ charge|join:"</td><td class='charge'>" }}</td>
        {% endfor %}
        {% endautoescape %}
    </tr>
{% endfor %}
<tr>
    <th>{% trans "Totals" %}</th>
    {% for month_total in total %}
        <th style="border-left:2px solid #C3C3C3;">{{ month_total|join:"</th><th>" }}</th>
    {% endfor %}
</tr>
<tr>
    <th>{% trans "Rates" %} (%)</th>
    {% for month_rates in rates %}
        <th style="border-left:2px solid #C3C3C3;">{{ month_rates|join:" %</th><th>" }} %</th>
    {% endfor %}
</tr>
</table>
<br/><br/>

{% if not request.session.mobile %}
    <h1>{% trans "Production rates and daily rates review" %}</h1>
    
    <div id="graph_timesheet_rates_bar_jqp_content"></div>
    <script type="text/javascript">
    $('#graph_timesheet_rates_bar_jqp_content').load('{% url 'staffing.views.graph_timesheet_rates_bar_jqp' %}')
    </script>
    <br/>
    <div id="graph_profile_rates_bar_jqp_content"></div>
    <script type="text/javascript">
    $('#graph_profile_rates_bar_jqp_content').load('{% url 'staffing.views.graph_profile_rates_jqp' %}')
    </script>

	<br/>
{% endif %}

</div>

<SCRIPT type="text/JavaScript">
<!-- 
var cells=document.getElementsByTagName('td');
var j=0;
for(i in cells)
{
    if(/charge/.test(cells[i].className))
    {
        j++;
        if (j%3==0)
        {
	        if(parseInt(cells[i].innerHTML)>5)
	        {
	            cells[i].style.backgroundColor='#ABFF91';
	        }
	        if(parseInt(cells[i].innerHTML)<0)
	        {
	            cells[i].style.backgroundColor='#FF8284';
	        }
        }
    }
}
//-->
</SCRIPT>

{% endblock %}