{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block title %}
        {% trans "Production rates and daily rates report" %}
{% endblock %}

{% block content %}
        {% if step == "month" %}
            <h2>{% trans "Production rates and daily rates per month" %}</h2>
        {% else %}
            <h2>{% trans "Production rates and daily rates per year" %}</h2>
        {% endif %}

        <div id="type-selector" class="btn-group" role="group">
            <button class="btn btn-primary" onclick="table_per_consultant();">{% trans "Table per consultant" %}</button>
            <button class="btn btn-primary" onclick="daily_rate();">{% trans "Daily rate" %}</button>
            <button class="btn btn-primary" onclick="production_rate();">{% trans "Production rate" %}</button>
        </div>

        <div id="pivotable-output" style="margin-top: 10px;"></div>

        {% with output as "pivotable-output" %}
            {% include "core/_pivotable_body.html" %}
        {% endwith %}

        <script type="text/javascript">

         // Active state switcher
         $(document).ready(function() {
             $('#type-selector button').on("click", function() {
                 $(this).addClass('active').siblings().removeClass('active');
             });
         });

         // Share data for all pivot tables
         var data = {{ data|safe }};

         // Preset definition
         function table_per_consultant() {
             var cols = ["{% trans 'type' %}", "{% trans 'period' %}"];
             var rows = ["{% trans 'subsidiary' %}", "{% trans 'consultant' %}"];
             drawPivot(data, rows, cols, "Table", '{% trans "Average" %}', ['{% trans "amount" %}'],  {"hideRowTotal": true, "hideGrandTotal": true, "hideColTotal": true});
         }

         function daily_rate() {
             var cols = ["{% trans 'period' %}"];
             var rows = ["{% trans 'subsidiary' %}"];
             var options = {};
             options['inclusions'] = { {% trans "type" %}: ['{% trans "daily rate" %}'] };
             drawPivot(data, rows, cols, "Line Chart", '{% trans "Average" %}', ['{% trans "amount" %}'],  options);
         }

         function production_rate() {
             var cols = ["{% trans 'period' %}"];
             var rows = ["{% trans 'subsidiary' %}"];
             var options = {};
             options['inclusions'] = { {% trans "type" %}: ['{% trans "production rate" %}'] };
             drawPivot(data, rows, cols, "Line Chart", '{% trans "Average" %}', ['{% trans "amount" %}'],  options);
         }

         // default
         table_per_consultant();
        </script>

{% endblock %}
