{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_billboard.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block title %}{% trans "Turnover pivot table" %}{% endblock %}

{% block content %}
        <h2>{% trans "Turnover pivot table" %}</h2>
        <p>{% trans "Based on timesheet activity" %}</p>

        <div class="row">
            <div id="date-selector" class="btn-group col-lg-8 col-12" role="group">
                {% for year in years %}
                    <a class="btn btn-primary {% if year == selected_year %}active{% endif %}" href="{% url 'staffing:turnover_pivotable_year' year %}?{{scope_current_filter}}">{{ year }}</a>
                {% endfor %}
                    <a class="btn btn-primary {% if 'all' == selected_year %}active{% endif %}" href="{% url 'staffing:turnover_pivotable_all' %}?{{scope_current_filter}}">{% trans "All" %}</a>
            </div>
        </div>
        <div class="row mt-2">
            <div id="type-selector" class="btn-group col-lg-8 col-12" role="group">
                <button class="btn btn-primary active" onclick="turnover_per_month_graph();">{% trans "Turnover per month (graphique)" %}</button>
                <button class="btn btn-primary" onclick="turnover_per_month_table();">{% trans "Turnover per month (tableau)" %}</button>
                <button class="btn btn-primary" onclick="turnover_per_broker();">{% trans "Turnover per broker" %}</button>
                <button class="btn btn-primary" onclick="turnover_per_client();">{% trans "Turnover per client company" %}</button>
                <button class="btn btn-primary" onclick="turnover_top_client();">{% trans "Turnover for top client company" %}</button>
                <button class="btn btn-primary" onclick="turnover_per_billing_mode();">{% trans "Turnover per billing mode" %}</button>
                <button class="btn btn-primary" onclick="turnover_per_mktg_product();">{% trans "Turnover per marketing product" %}</button>
            </div>
        </div>

        <div id="pivotable-output" class="mt-2"></div>

        {% with output as "pivotable-output" %}
            {% include "core/_pivotable_body.html" %}
        {% endwith %}

        <script type="text/javascript">

            // Active state switcher
            $(document).ready(function() {
                $('#type-selector button').on("click", function() {
                    $(this).addClass('active').siblings().removeClass('active');
                 });
            });

            // Share data for all pivot tables
            var data = {{ data|safe }};

            // Preset definition
            function turnover_per_month_graph() {
                var rows = ["{% trans 'subsidiary' %}"];
                var cols = ["{% trans 'month' %}"];;
                drawPivot(data, rows, cols, "Stacked Bar Chart", '{% trans "Integer Sum" %}', ["{% trans 'own turnover (€)' %}"]);
            }

            function turnover_per_month_table() {
                var rows = ["{% trans 'subsidiary' %}"];
                var cols = ["{% trans 'month' %}"];;
                drawPivot(data, rows, cols, "Table", '{% trans "Integer Sum" %}', ["{% trans 'own turnover (€)' %}"]);
            }

            function turnover_per_broker() {
                var rows = ["{% trans 'broker' %}", "{% trans 'broker' %}"];
                var cols = ["{% trans 'subsidiary' %}"];
                var options = {};
                options["rowOrder"] = "value_z_to_a";
                drawPivot(data, rows, cols, "Table", '{% trans "Integer Sum" %}', ["{% trans 'own turnover (€)' %}"], options);
            }

            function turnover_per_client() {
                var rows = ["{% trans 'subsidiary' %}"];
                var cols = ["{% trans 'client company' %}"];
                var options = {};
                options["colOrder"] = "value_z_to_a";
                drawPivot(data, rows, cols, "Stacked Bar Chart", '{% trans "Integer Sum" %}', ["{% trans 'own turnover (€)' %}"], options);
            }

            function turnover_top_client() {
                var rows = ["{% trans 'top client company' %}"];
                var cols = ["{% trans 'month' %}"];
                var options = {};
                drawPivot(data, rows, cols, "Area Chart", '{% trans "Integer Sum" %}', ["{% trans 'turnover (€)' %}"], options);
            }

            function turnover_per_billing_mode() {
                var rows = ["{% trans 'billing mode' %}"];
                var cols = ["{% trans 'subsidiary' %}"];
                drawPivot(data, rows, cols, "Stacked Bar Chart", '{% trans "Integer Sum" %}', ["{% trans 'own turnover (€)' %}"]);
            }

            function turnover_per_mktg_product() {
                var rows = ["{% trans 'Marketing product' %}"];
                var cols = ["{% trans 'month' %}"];
                var options = {};
                drawPivot(data, rows, cols, "Area Chart", '{% trans "Integer Sum" %}', ["{% trans 'turnover (€)' %}"], options);
            }

            // default
            turnover_per_month_graph();

        </script>
{% endblock %}