{% extends "core/pydici.html" %}
{% load i18n %}
{% load pydici_filters %}

{% block extrajs %}
    {% include "core/_c3.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}

{% block title %}{% trans "Turnover pivot table" %}{% endblock %}

{% block content %}
        <h2>{% trans "Turnover pivot table" %}</h2>
        <div id="date-selector" class="btn-group" role="group">
            {% for year in years %}
                <a class="btn btn-default {% ifequal year selected_year %}active{% endifequal %}" href="{% url 'staffing:turnover_pivotable_year' year %}">{{ year }}</a>
            {% endfor %}
                <a class="btn btn-default {% ifequal 'all' selected_year %}active{% endifequal %}" href="{% url 'staffing:turnover_pivotable_all' %}">{% trans "All" %}</a>
        </div>

        <div id="type-selector" class="btn-group" role="group">
            <button class="btn btn-default active" onclick="turnover_per_month_graph();">{% trans "Turnover per month (graphique)" %}</button>
            <button class="btn btn-default" onclick="turnover_per_month_table();">{% trans "Turnover per month (tableau)" %}</button>
            <button class="btn btn-default" onclick="turnover_per_broker();">{% trans "Turnover per broker" %}</button>
            <button class="btn btn-default" onclick="turnover_per_client();">{% trans "Turnover per client company" %}</button>
        </div>

        <div id="pivotable-output" style="margin: 10px;"></div>

        {% with output as "pivotable-output" %}
            {% include "core/_pivotable_body.html" %}
        {% endwith %}

        <script type="text/javascript">

            // Active state switcher
            $(document).ready(function() {
                $('#type-selector button').on("click", function() {
                    $(this).addClass('active').siblings().removeClass('active');
                 });
            });

            // Share data for all pivot tables
            var data = {{ data|safe }};

            // Preset definition
            function turnover_per_month_graph() {
                var rows = ["{% trans 'subsidiary' %}"];
                var cols = ["{% trans 'month' %}"];;
                drawPivot(data, rows, cols, "Stacked Bar Chart", '{% trans "Integer Sum" %}', ["{% trans 'turnover (€)' %}"]);
            }

            function turnover_per_month_table() {
                var rows = ["{% trans 'subsidiary' %}"];
                var cols = ["{% trans 'month' %}"];;
                drawPivot(data, rows, cols, "Table", '{% trans "Integer Sum" %}', ["{% trans 'turnover (€)' %}"]);
            }

            function turnover_per_broker() {
                var rows = ["{% trans 'broker' %}", "{% trans 'broker' %}"];
                var cols = ["{% trans 'subsidiary' %}"];
                drawPivot(data, rows, cols, "Table", '{% trans "Integer Sum" %}', ["{% trans 'turnover (€)' %}"]);
            }

            function turnover_per_client() {
                var rows = ["{% trans 'subsidiary' %}"];
                var cols = ["{% trans 'client company' %}"];;
                drawPivot(data, rows, cols, "Stacked Bar Chart", '{% trans "Integer Sum" %}', ["{% trans 'turnover (€)' %}"]);
            }

            // default
            turnover_per_month_graph();

        </script>

{% endblock %}