{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<h1>Désolé, la page {{ request_path }} n'existe pas.<h1>
<h2>Soit celle-ci a été supprimée, soit elle n'a jamais existé.</h2>
<p>Si vous pensez qu'il s'agit d'une anomalie de l'application, merci
<a href="mailto:sebastien@digitalfox.org">d'envoyer
un mail à Sébastien R. </a> en indiquant les conditions qui ont provoquées cette erreur.

</div>
{% endblock %}