{% extends "core/pydici.html" %}
{% load i18n %}

{% block stylesheet %}{{ MEDIA_URL }}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% blocktrans %}
<h1>Sorry, page {{ request_path }} does not exist.<h1>
<h2>It could have been deleted or may have never existed.</h2>
<p>If you think that this could be a mistake, please, contact an administrator
and explain the condition that lead to that error.</p>
{% endblocktrans %}
</div>
{% endblock %}