{# Fragment of page to be included to display client companies list and pie graph #}
{# companies must be {{ companies }} #}
{# One must load jqplot js script in its header #}

{% load i18n %}

<h1>{% trans "All companies list" %}</h1>
<ul class="row">
{% for company in companies %}
    {% with first_letter=company.name|slice:"1" %}
    {% ifchanged first_letter %}
        </ul>
        <h4>{{ first_letter }}</h4>
        <ul class="row">
    {% endifchanged %}
    {% endwith %}
    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="{% url 'crm:company_detail' company.id %}">{{ company }}</a>
    </li>
{% endfor %}
</ul>