{# template fragment that display client company rates and margin #}
{# designed to be loaded in ajax as a tab #}
{# context : client #}

{% load i18n %}

<h2>{% trans "Billed turnover: "%} {{ company.sales|floatformat:-1 }} k€</h2>
<br/>
<h2>{% trans "Average rates by profile (€)" %}</h2>
        <table class="table table-hover table-striped table-condensed">
            <tr>
                <th>{% trans "Client" %}</th>
                <th>{% trans "Contact" %}</th>
                {% for profil in profiles %}
                    <th>{{ profil }}</th>
                {% endfor %}
            </tr>
            {% for client in clients %}
                <tr>
                    <td>{{ client.organisation.name }}</td>
                     <td>{% if client.contact %}{{ client.contact }}{% endif %}</td>
                     {% for profil, rate in client.getFinancialConditions %}
                            <td>{{ rate|default_if_none:'-' }}</td>
                     {% endfor %}
                </tr>
            {% endfor %}
        </table>

<h2>{% trans "Margin over rate objective and fixed price mission margin" %}</h2>
        <table class="table table-hover table-striped table-condensed">
            <tr>
                <th></th>
                <th></th>
                <th colspan=2>{% trans "Consultant margin over objectives" %}</th>
                <th colspan=2>{% trans "Subcontractor margin" %}</th>
                <th>{% trans "Fixed price margin" %}</th>
            </tr>
            <tr>
                <th>{% trans "Client" %}</th>
                <th>{% trans "Contact" %}</th>
                <th>{% trans "€" %}</th>
                <th>{% trans "&#37; of sales" %}</th>
                <th>{% trans "€" %}</th>
                <th>{% trans "&#37; of sales" %}</th>
                <th>{% trans "€" %}</th>
            </tr>
            {% for client in clients %}
                <tr>
                    <td>{{ client.organisation.name }}</td>
                     <td>{% if client.contact %}{{ client.contact }}{% endif %}</td>
                    <td>{{ client.objectiveMargin.0.0|floatformat:0 }}</td>
                    <td>{{ client.objectiveMargin.0.1|floatformat:-2 }} %</td>
                    <td>{{ client.objectiveMargin.1.0|floatformat:0 }}</td>
                    <td>{{ client.objectiveMargin.1.1|floatformat:-2 }} %</td>
                    <td>{{ client.fixedPriceMissionMargin|floatformat:0 }}</td>
                </tr>
            {% endfor %}

        </table>