{# template fragment that display client company rates and margin #}
{# designed to be loaded in ajax as a tab #}
{# context : client #}

{% load i18n %}
{% load pydici_tags %}

{% call_for_current_subsidiary company "sales" as company_sales %}
<h2 class="my-2">{% trans "Billed turnover: "%} {{ company_sales|floatformat:-1 }} k€</h2>

<h2 class="mt-4">{% trans "Average rates by profile (€)" %}</h2>
        <table class="table table-hover table-striped table-sm">
            <tr>
                <th>{% trans "Client" %}</th>
                <th>{% trans "Contact" %}</th>
                <th>{% trans "Daily rate rank" %}</th>
                <th>{% trans "Daily rate" %}</th>
                {% for profil in profiles %}
                    <th>{{ profil }}</th>
                {% endfor %}
            </tr>
            {% for client in clients %}
                <tr>
                    <td>{{ client.organisation.name }}</td>
                     <td>{% if client.contact %}{{ client.contact }}{% endif %}</td>
                    {% call_for_current_subsidiary client 'daily_rate_ranking' as rate_ranking %}
                    <td>{{ rate_ranking.0|default_if_none:"-" }}</td>
                    <td>{{ rate_ranking.1|floatformat:0 }}</td>
                    {% call_for_current_subsidiary client 'getFinancialConditions' as fc %}
                     {% for profil, rate in fc %}
                            <td>{{ rate|floatformat:0 }}</td>
                     {% endfor %}
                </tr>
            {% endfor %}
        </table>

<h2 class="mt-4">{% trans "Margin over rate objective and fixed price mission margin" %}</h2>
        <table class="table table-hover table-striped table-sm">
            <tr>
                <th></th>
                <th></th>
                <th colspan=2>{% trans "Consultant margin over objectives" %}</th>
                <th colspan=2>{% trans "Subcontractor margin" %}</th>
                <th>{% trans "Fixed price margin" %}</th>
            </tr>
            <tr>
                <th>{% trans "Client" %}</th>
                <th>{% trans "Contact" %}</th>
                <th>{% trans "€" %}</th>
                <th>{% trans "&#37; of sales" %}</th>
                <th>{% trans "€" %}</th>
                <th>{% trans "&#37; of sales" %}</th>
                <th>{% trans "€" %}</th>
            </tr>
            {% for client in clients %}
                {% call_for_current_subsidiary client 'objectiveMargin' as om %}
                {% call_for_current_subsidiary client 'fixedPriceMissionMargin' as fixed_price_mission_margin %}
                <tr>
                    <td>{{ client.organisation.name }}</td>
                     <td>{% if client.contact %}{{ client.contact }}{% endif %}</td>
                    <td>{{ om.0.0|floatformat:0 }}</td>
                    <td>{{ om.0.1|floatformat:-2 }} %</td>
                    <td>{{ om.1.0|floatformat:0 }}</td>
                    <td>{{ om.1.1|floatformat:-2 }} %</td>
                    <td>{{ fixed_price_mission_margin|floatformat:0 }}</td>
                </tr>
            {% endfor %}

        </table>

<h2 class="mt-4">{% trans "Rates per consultant" %}</h2>
    <div id="type-selector" class="btn-group" role="group">
            <button class="btn btn-primary" onclick="table_per_consultant();">{% trans "Table per consultant" %}</button>
            <button class="btn btn-primary active" onclick="graph_per_consultant();">{% trans "Daily rate graph" %}</button>
        </div>

        <div class="row my-2">
            <div id="rate-pivotable-output"></div>
        </div>

        {% with output="rate-pivotable-output" %}
            {% include "core/_pivotable_body.html" %}
        {% endwith %}

        <script type="text/javascript">

         // Active state switcher
         $(document).ready(function() {
             $('#type-selector button').on("click", function() {
                 $(this).addClass('active').siblings().removeClass('active');
             });
         });

         // Share data for all pivot tables
         var data = {{ rates|safe }};

         // Preset definition
         function table_per_consultant() {
             var cols = ["{% trans 'type' %}", "{% trans 'period' %}"];
             var rows = ["{% trans 'subsidiary' %}", "{% trans 'consultant' %}"];
             drawPivot(data, rows, cols, "Table", '{% trans "Average" %}', ['{% trans "amount" %}'],  {"hideRowTotal": true, "hideGrandTotal": true, "hideColTotal": true});
         }

         function graph_per_consultant() {
             var cols = ["{% trans 'period' %}"];
             var rows = ["{% trans 'subsidiary' %}", "{% trans 'consultant' %}"];
             var options = {};
             options['inclusions'] = { {% trans "type" %}: ['{% trans "daily rate" %}'] };
             drawPivot(data, rows, cols, "Line Chart", '{% trans "Average" %}', ['{% trans "amount" %}'],  options);
         }

         // default
         graph_per_consultant();
        </script>