{# This template fragments can be included to display contact list #}
{# Context : contacts as a list a contact #}

{% load i18n %}

<table class="pydici-tables2 table table-hover table-striped" id="{{ table_id }}">
    <thead>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Company" %}</th>
        <th>{% trans "Function" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Phone" %}</th>
        <th>{% trans "Mobile phone" %}</th>
        <th>{% trans "Fax" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        {% include "crm/_contact_item.html" %}
    {% endfor %}
    </tbody>
</table>
