{# This template fragments can be included to display contact list #}
{# Context : contacts as a list a contact #}

{% load i18n %}

<div class="imodule">
<table>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Company" %}</th>
        <th>{% trans "Function" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Phone" %}</th>
        <th>{% trans "Mobile phone" %}</th>
        <th>{% trans "Fax" %}</th>
    </tr>
    {% for contact in contacts %}
        {% include "crm/_contact_item.html" %}
    {% endfor %}
</table>
</div>