{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

<div class="modal-dialog modal-xl">
<div class="modal-content">
    <div class="modal-header">
    <h1 class="modal-title">{% trans "New business broker" %}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
    </div>
    <div class="modal-body">
        <form method="post" id="pydici-ajax-form-businessbroker" action="{% url 'crm:businessbroker_popup' %}" novalidate>
            {% crispy businessbrokerForm businessbrokerForm.inline_helper %}
            {% crispy brokerCompanyForm brokerCompanyForm.inline_helper %}
            {% crispy brokerContactForm brokerContactForm.inline_helper %}
            <button type="button" name="submit" class="btn btn-primary"
                hx-post="{% url 'crm:businessbroker_popup' %}" hx-target="#businessbrokerModal"
                data-bs-dismiss="modal">{% trans "Save" %}</button>
        </form>
    </div>
</div>
</div>

{# Out of band update for the business broker select #}
<div id="id_business_broker" hx-swap-oob="innerHTML">
    <option value="{{ businessbroker.id | unlocalize }}">{{ businessbroker }}</option>
</div>

{% if businessbrokerForm.errors or brokerCompanyForm.errors %}
    {# in case of error display modal #}
    <script type="text/javascript">
        var businessbrokerModalEl = document.getElementById('businessbrokerModal');
        var businessbrokerModal = new bootstrap.Modal(businessbrokerModalEl);
        businessbrokerModalEl.addEventListener('shown.bs.modal', event => {
        {% if brokerCompanyForm.errors %}
            $("#brokerCompanyForm").show();
            $("#broker_company_input_group").hide();
            $("#brokerContactForm").hide();
        {% elif brokerContactForm.errors %}
            $("#brokerContactForm").show();
            $("#broker_contact_input_group").hide();
        {% else %}
            $("#brokerCompanyForm").hide();
            $("#brokerContactForm").hide();
        {% endif %}
        });
        businessbrokerModal.show();
    </script>
{% else %}
    <script type="text/javascript">
        // Hide company and contact form by default
        $(document).ready(function() {
            $("#brokerCompanyForm").hide();
            $("#brokerContactForm").hide();
        });
    </script>
{% endif %}

{% with "businessbrokerModal" as modal_id %}
    {% include "core/_select2_bs_modal.html" %}
{% endwith %}
