{% extends "core/pydici.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Add or modify a Client Organisation" %}{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'crm:company' client_organisation.company.id %}" class='pydici-tooltip'  title="{% trans 'click to edit...' %}">{{ client_organisation.company }}</a></li>
    <li class="breadcrumb-item active">{{ client_organisation }}</li>
  </ol>
</nav>

{% crispy form form.helper %}

{% endblock %}