{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "All companies list" %}{% endblock %}

{% block content %}

<div id="content-main">

<h1>{% trans "All companies list" %}</h1>
<ul style='float: left; width: 64em;'>
{% for company in companies %}
    <li style='float: left; width: 16em;'>
        <a href='{% url pydici.crm.views.company_detail company.id %}'>{{ company }}</a>
    </li>
{% endfor %}
</ul>
<div style="clear:both;"></div>
<br/>
<div style="float:left;" id="graph_company_sales_jqp"></div>
<div style="float:left;" id="graph_company_lastyear_sales_jqp"></div>
<script type="text/javascript">
$('#graph_company_sales_jqp').load('{% url graph_company_sales %}')
$('#graph_company_lastyear_sales_jqp').load('{% url graph_company_lastyear_sales %}')
</script>

</div>
{% endblock %}