{% load i18n %}
{% load crispy_forms_tags %}


<form method="post" id="pydici-ajax-form-client" action="{% url 'crm:client_organisation_company_popup' %}" novalidate>
    {% crispy clientForm clientForm.inline_helper %}
    {% crispy contactForm contactForm.inline_helper %}
    {% crispy organisationForm organisationForm.inline_helper %}
    {% crispy companyForm companyForm.inline_helper %}

    <input type="submit" name="submit" value="{% trans 'Save' %}" class="btn btn-default" id="submit-id-submit">

</form>


{% include "core/_select2.html" %}

{% with "pydici-ajax-form-client" as formid %}
{% with "clientModal" as modal_id %}
{% with "id_client" as target_id %}
    {% include "core/_ajax_popup_post.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<script type="text/javascript">
{% if organisationForm.errors %}
    $("#organisationForm").show();
    $("#organisation_input_group").hide();
{% endif %}
{% if companyForm.errors %}
    $("#companyForm").show();
    $("#company_input_group").hide();
{% endif %}
</script>