{% extends "admin/base_site.html" %}

{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">

<h1>{% trans "All companies list" %}</h1>
<ul style='float: left; width: 64em;'>
{% for company in object_list %}
    <li style='float: left; width: 16em;'>
        <a href='{% url pydici.crm.views.company_detail company.id %}'>{{ company }}</a>
    </li>
    
{% endfor %}
</ul>
</div>
{% endblock %}