{% extends "core/pydici.html" %}

{% load i18n %}

{% block extrajs %}
{% include "core/_jqplot.html" %}
{% endblock %}


{% block title %}{{ company }}{% endblock %}

{% block content %}

<h1><a href="{% url 'crm.views.company' company.id %}" class='pydici-tooltip' title="{% trans 'click to edit...' %}">{{ company }}</a> ({{ company.code }})</h1>
{% if company.web %}{{ company.web|urlize }}<br/><br/>{% endif %}


{% with "company-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="company-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-home"><span class="glyphicon glyphicon-home"> {% trans "Leads" %}</a></li>
        <li><a data-toggle="tab" href="#tab-consultants"><span class="glyphicon glyphicon-user"> {% trans "Consultants" %}</a></li>
        <li><a data-toggle="tab" href="#tab-contacts"><span class="glyphicon glyphicon-envelope"> {% trans "Client contacts" %}</a></li>
        <li><a data-toggle="tab" href="#tab-rates"><span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Rates" %}</a></li>
        <li><a data-toggle="tab" href="#tab-billing"><span class="glyphicon glyphicon-euro"></span> {% trans "Billing" %}</a></li>
        <li><a data-toggle="tab" href="#tab-all-companies"><span class="glyphicon glyphicon-list"></span> {% trans "All companies list" %}</a></li>
    </ul>
</div>

<div class="tab-content">
    <div id="tab-home" class="tab-pane active fade in">
        <div id="graph_company_business_activity_jqp_content"></div>
        <script type="text/javascript">
        $(document).ready(function() {
            // Bind show event to create graph only when tab is shown
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if (e.target.hash === "#tab-home") {
                    if (!(e.target.jqplot_ok)) { // Only plot graph once
                        $('#graph_company_business_activity_jqp_content').load('{% url 'graph_company_business_activity' company.id %}');
                        e.target.jqplot_ok = true;
                    }
                }
              })
        });
        </script>

        <h2>{% trans "Sales with this client: "%} {{ company.sales|floatformat:-1 }} k€</h2>

        <h2>{% trans "Current active missions" %}</h2>
        <div class="row">
        <ul class="list-group">
        {% for clientorganisation in company.clientorganisation_set.all %}
            {% for client in clientorganisation.client_set.all %}
                {% with client.getActiveMissions as activeMissions %}
                    {% if activeMissions %}
                        <div class="col-sm-12 col-md-6 col-lg-4" style="margin-top:20px">
                        <li class="list-group-item disabled"><a href="{% url 'client_change' client.id %}" class='pydici-tooltip' title="{% trans 'click to edit...' %}">{{ client }}</a> {% include "crm/_client_picto.html" %}</li>

                            {% for mission in activeMissions %}
                                <li class="list-group-item"><a href="{% url 'staffing.views.mission_home' mission.id %}">{{ mission.short_name }}</a></li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
        </ul>
        </div>
        <h2>{% trans "Leads" %}</h2>
        <div class="row">
        <ul class="list-group">
        {% regroup leads by client as client_list %}
        {% for client in client_list %}
            <div class="col-sm-12 col-md-6 col-lg-4" style="margin-top:20px">
                {% for lead in client.list %}
                    {% if forloop.counter0 == 0 or forloop.counter0 == 5 or forloop.counter0 == 10 or forloop.counter0 == 15 or forloop.counter0 == 20 or forloop.counter0 == 25 or forloop.counter0 == 30 or forloop.counter0 == 35 %}
                        {% if forloop.counter0 > 0 %}
                            </div><div class="col-sm-12 col-md-6 col-lg-4" style="margin-top:20px">
                        {% endif %}
                        <li class="list-group-item disabled"><a href="{% url 'client_change' client.grouper.id %}" class='pydici-tooltip' title="{% trans 'click to edit...' %}">{{ client.grouper }}</a>
                        {% with client.grouper as client %}{% include "crm/_client_picto.html" %}{% endwith %}

                        {% if forloop.counter0 > 0 %}
                            ...
                        {% endif %}
                        </li>
                    {% endif %}
                    <li class="list-group-item"><a href="{% url 'leads.views.detail' lead.id %}">{{ lead }} ({{ lead.deal_id }})</a> - {{ lead.start_date|date:"F Y" }} ({{ lead.get_state_display }})</li>
                {% endfor %}
            </div>
        {% endfor %}
        </ul>
        </div>
    </div>
    
    <div id="tab-consultants" class="tab-pane fade">
    {% if consultants %}
        <h2>{% trans "Business owner for this company:" %}</h2>
            <ul>
                <li>{% if company.businessOwner %}<a href="{% url 'people.views.consultant_home' company.businessOwner.id %}">{{ company.businessOwner.full_name }}</a>
                    {% else %} <a href="{% url 'crm.views.company' company.id %}">{% trans "To be defined" %}</a>
                    {% endif %}</li>
            </ul>
        <h2>{% trans "Consultants that work for this company:" %}</h2>
            <ul>
            {% for consultant in consultants %}
                <li><a href="{% url 'people.views.consultant_home' consultant.id %}">{{ consultant.full_name }}</a></li>
            {% endfor %}
            </ul>
    {% endif %}
    </div>

    <div id="tab-contacts" class="tab-pane fade">
        <br/>
        <h2>{% trans "Business contacts" %}</h2>
        {% with business_contacts as contacts %}
        {% with "business_contacts_table" as table_id %}
             {% include "crm/_contact_list.html" %}
             {% include "core/_datatables.html" %}
        {% endwith %}
        {% endwith %}
        <br/><br/>
        <h2>{% trans "Mission contacts" %}</h2>
        {% with mission_contacts as contacts %}
        {% with "mission_contacts_table" as table_id %}
             {% include "crm/_contact_list.html" %}
             {% include "core/_datatables.html" %}
        {% endwith %}
        {% endwith %}
        
        <br/><br/>
        <h2>{% trans "Administrative contacts" %}</h2>
        
        <table class="pydici-tables2" id="admin_contacts_table">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Company" %}</th>
                <th>{% trans "Function" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "Mobile phone" %}</th>
                <th>{% trans "Fax" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for admincontact in administrative_contacts %}
                <tr>
                {% if admincontact.contact %}
                   <td><a rel=external href="{% url 'contact_update' admincontact.contact.id %}?return_to={{ request.get_full_path }}">{{ admincontact.contact.name }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                   <td>{{ admincontact.company }}</td>
                   <td>{{ admincontact.function }}</td>
                   <td>{{ admincontact.email|urlize }}</td>
                   <td>{{ admincontact.phone }}</td>
                   <td>{{ admincontact.contact.mobile_phone }}</td>
                   <td>{{ admincontact.fax }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% with "admin_contacts_table" as table_id %}
             {% include "core/_datatables.html" %}
        {% endwith %}
        <br/><a class="btn btn-default" href="{% url 'administrative_contact_add' %}?company={{ company.id|safe }}&return_to={{ request.get_full_path }}">{% trans "New administrative contact" %}</a></i>
    </div>

    <div id="tab-rates" class="tab-pane fade">
        <h2>{% trans "Used rates for this company" %}</h2>
        <ul>
        {% for client in clients %}
        <li>{{ client.organisation.name }} {% if client.contact %}({{ client.contact }}){% endif %}<ul>
            {% for profil, rate in client.getFinancialConditions %}
                <li>{{ profil }} : {{ rate }} €</li>
            {% empty %}
            {% trans "No rate defined" %}
            {% endfor %}
            </ul></li>
        {% endfor %}
        </ul>
    </div>

    <div id="tab-billing" class="tab-pane fade">
        <ul>
        {% for lead in leads %}
            {% ifequal lead.state "WON" %}
                <h2><a href="{% url 'leads.views.detail' lead.id %}">{{ lead }} ({{ lead.deal_id }})</a></h2>
                    {% include "billing/_lead_billing.html" %}
                    <br/>
            {% endifequal %}
        {% endfor %}
        </ul>
    </div>

    <div id="tab-all-companies" class="tab-pane fade">
        {% include "crm/_clientcompany_list.html" %}
    </div>

</div> <!-- End of tabs div -->

{% endblock %}