{% extends "core/pydici.html" %}

{% load i18n %}
{% load l10n %}

{% block extrajs %}
    {% include "core/_jqplot.html" %}
    {% include "core/_c3.html" %}
    {% include "core/_pivotable_header.html" %}
{% endblock %}


{% block title %}{{ company }}{% endblock %}

{% block content %}

<h1><a href="{% url 'crm:company' company.id %}" class='pydici-tooltip' title="{% trans 'click to edit...' %}">{{ company }}</a> ({{ company.code }})</h1>
{% if company.web %}{{ company.web|urlize }}<br/><br/>{% endif %}


{% with "company-tabs" as tabs %}
    {% include "core/_init_tabs.html" %}
{% endwith %}

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="company-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-dashboard"><span class="glyphicon glyphicon-home"></span> {% trans "Dashboard" %}</a></li>
        <li><a data-toggle="tab" href="#tab-structure"><span class="glyphicon glyphicon-equalizer"></span> {% trans "Structure" %}</a></li>
        <li><a data-toggle="tab" href="#tab-leads"><span class="glyphicon glyphicon-list"></span> {% trans "Leads" %}</a></li>
        <li><a data-toggle="tab" href="#tab-consultants"><span class="glyphicon glyphicon-user"></span> {% trans "Consultants" %}</a></li>
        <li><a data-toggle="tab" href="#tab-contacts"><span class="glyphicon glyphicon-envelope"></span> {% trans "Client contacts" %}</a></li>
        <li><a data-toggle="tab" href="#tab-rates-margin" data-tab-url="{% url 'crm:company_rates_margin' company.id %}"><span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Rates and margin" %}</a></li>
        <li><a data-toggle="tab" href="#tab-billing" data-tab-url="{% url 'crm:company_billing' company.id %}"><span class="glyphicon glyphicon-euro"></span> {% trans "Billing" %}</a></li>
        <li><a data-toggle="tab" href="#tab-reporting" data-tab-url="{% url 'crm:company_pivotable' company.id %}"><span class="glyphicon glyphicon-stats"></span> {% trans "Reporting" %}</a></li>
        <li><a data-toggle="tab" href="#tab-all-companies"><span class="glyphicon glyphicon-folder-open"></span> {% trans "All companies list" %}</a></li>
    </ul>
</div>

<div class="tab-content">
    <div id="tab-dashboard" class="tab-pane active fade in">
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-list gi-4x"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ lead_count }}</div>
                                <div>{% trans "leads" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="#tab-leads">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "View Details" %}</span>
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-user gi-4x"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ consultants.count }}</div>
                                <div>{% trans "consultants involved" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="#tab-consultants">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "View Details" %}</span>
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-envelope gi-4x"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ contacts_count }}</div>
                                <div>{% trans "contacts" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="#tab-contacts">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "View Details" %}</span>
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-euro gi-4x"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" title="{% trans 'billed turnover'%}">{{ sales }} k€</div>
                                <div>{{ sales_last_year }} k€ {% trans "during last 12 months" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="#tab-billing">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "View Details" %}</span>
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- end of dashboard panels -->

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div id="leads_stat"></div>
                <script type="text/javascript">
                $(document).ready(function() {
                    // Display donnut of lead statistics
                        var chart_leads_stat = c3.generate({
                            bindto: '#leads_stat',
                            data: {
                                columns: {{ leads_stat | safe }},
                                type : 'donut',
                            },
                            tooltip: {
                                format: {
                                    value: function (value, ratio, id, index) { return value; }
                                    }
                                },
                            donut: {
                                title: "{% trans 'Leads' context 'short' %}",
                                label: {
                                    format: function (value) { return value; },
                                    threshold: 0.001,
                                    },
                                },
                        });
                });
                </script>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div id="leads_won_rate"></div>
                <p>&nbsp;</p>
                <h3><div class="text-center">{% trans "Overall won lead rate: " %}{{ overall_won_rate|floatformat:-1 }}&nbsp;%</div></h3>
                <script type="text/javascript">
                    $(document).ready(function() {
                        // Display gauge of lead won rate
                            var chart_leads_won_rate = c3.generate({
                                bindto: '#leads_won_rate',
                                data: {
                                    columns: [["{% trans 'Won rate' context 'short' %}", {{ won_rate|unlocalize }}]],
                                    type : 'gauge',
                                },
                                gauge: {
                                    units: "%",
                                    label: {
                                        format: function (value) { return value; },
                                        threshold: 0.001,
                                        },
                                    },
                            });
                    });
                    </script>
            </div>
            {% if bills_stat_count %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div id="bills_stat"></div>
                <script type="text/javascript">
                $(document).ready(function() {
                    // Display donnut of bills statistics
                        var chart_leads_stat = c3.generate({
                            bindto: '#bills_stat',
                            data: {
                                columns: {{ bills_stat | safe }},
                                type : 'donut',
                            },
                            tooltip: {
                                format: {
                                    value: function (value, ratio, id, index) { return value; }
                                    }
                                },
                            donut: {
                                title: "{% trans 'Recent bills' context 'short' %}",
                                label: {
                                    format: function (value) { return value; },
                                    threshold: 0.001,
                                    },
                                },
                        });
                });
                </script>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div id="supplier_stat"></div>
                <script type="text/javascript">
                $(document).ready(function() {
                    // Display donnut of supplier billing proportion
                        var chart_supplier_stat = c3.generate({
                            bindto: '#supplier_stat',
                            data: {
                                columns: [['{% trans "Direct billing and supplier margin" %}', {{ direct_sales|unlocalize }}],
                                          ['{% trans "Billed by suppliers" %}', {{ supplier_billing|unlocalize }}]],
                                type : 'donut',
                            },
                            tooltip: {
                                format: {
                                    value: function (value, ratio, id, index) { return value; }
                                    }
                                },
                            donut: {
                                title: "{% trans 'Suppliers proportion' context 'short' %}",
                                label: {
                                    format: function (value) { return value + " k€"; },
                                    threshold: 0.001,
                                    },
                                },
                        });
                });
                </script>
            </div>
            {% endif %}
        </div> <!-- end of second dashabord row -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="graph_company_business_activity_content"></div>
                <script type="text/javascript">
                $(document).ready(function() {
                    $('#graph_company_business_activity_content').load('{% url 'crm:graph_company_business_activity' company.id %}');
                });
                </script>
            </div>
        </div>
    </div> <!-- end of dashboard tab -->
    <div id="tab-structure" class="tab-pane fade in">
        <h2>{% trans "Company structure" %}</h2>
        <div class="row">
            <ul class="list-group">
            {% for clientorganisation in company.clientorganisation_set.all %}
                <div class="col-sm-12 col-md-6 col-lg-4" style="margin-top:20px">
                <li class="list-group-item disabled"><a href="{% url 'crm:client_organisation_change' clientorganisation.id %}" class='pydici-tooltip' title="{% trans 'click to edit...' %}">{{ clientorganisation }}</a> {% include "crm/_client_picto.html" %}</li>
                {% for client in clientorganisation.client_set.all %}
                    <li class="list-group-item"><a href="{% url 'crm:client_change' client.id %}" class='pydici-tooltip' title="{% trans 'click to edit...' %}">{{ client.contact|default_if_none:_("undefined") }}</a> {% include "crm/_client_picto.html" %}</li>
                {% endfor %}
                </div>
            {% endfor %}
            </ul>
        </div>

    </div>



    <div id="tab-leads" class="tab-pane fade in">
        <h2>{% trans "Current active missions" %}</h2>
        <table id="mission_table" class="table table-striped table-hover table-condensed table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{% trans "name" %}</th>
				<th>{% trans "subsidiary" %}</th>
				<th>{% trans "responsible" %}</th>
				<th>{% trans "nature" %}</th>
                <th>{% trans "Mission id" %}</th>
				<th>{% trans "amount (k€)" %}</th>
                <th>{% trans "Forecast in future" %}</th>
                <th>{% trans "Up to date forecast" %}</th>
                <th>{% trans "Archiving" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>

        {% with "mission_table" as table_id %}
            {% with mission_data_url as data_url %}
                {% include "core/_datatables.html" %}
            {% endwith %}
        {% endwith %}




        <h2>{% trans "Leads" %}</h2>
        <table id="lead_table" class="table table-striped table-hover table-condensed table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{% trans "client" %}</th>
                <th>{% trans "name" %}</th>
                <th>{% trans "deal id" %}</th>
                <th>{% trans "subsidiary" %}</th>
                <th>{% trans "responsible" %}</th>
                <th>{% trans "amount (k€)" %}</th>
                <th>{% trans "status" %}</th>
                <th>{% trans "creation date" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>

        {% with "lead_table" as table_id %}
            {% with lead_data_url as data_url %}
                {% include "core/_datatables.html" %}
            {% endwith %}
        {% endwith %}

    </div>
    
    <div id="tab-consultants" class="tab-pane fade">
    {% if consultants %}
        <h2>{% trans "Business owner for this company:" %}</h2>
            <ul>
                <li>{% if company.businessOwner %}{% with consultant=company.businessOwner %}{% include "people/__consultant_name.html" %}{% endwith %}
                    {% else %} <a href="{% url 'crm:company' company.id %}">{% trans "To be defined" %}</a>
                    {% endif %}</li>
            </ul>
        <h2>{% trans "Consultants that work for this company:" %}</h2>

            {% regroup consultants by company as subsidiary_list %}
            {% for subsidiary in subsidiary_list %}
                <h4>{{ subsidiary.grouper }}</h4>
                <ul>
                {% for consultant in subsidiary.list %}
                    <li>{% include "people/__consultant_name.html" %}{% if consultant.subcontractor %}({% trans "subcontractor" %}){% endif %}</li>
                {% endfor %}
                </ul>
            {% endfor %}

    {% endif %}
    </div>

    <div id="tab-contacts" class="tab-pane fade">
        <br/>
        <h2>{% trans "Business contacts" %}</h2>
        {% with business_contacts as contacts %}
        {% with "business_contacts_table" as table_id %}
             {% include "crm/_contact_list.html" %}
             {% include "core/_datatables-dj-tables.html" %}
        {% endwith %}
        {% endwith %}
        <br/><br/>
        <h2>{% trans "Mission contacts" %}</h2>
        {% with mission_contacts as contacts %}
        {% with "mission_contacts_table" as table_id %}
             {% include "crm/_contact_list.html" %}
             {% include "core/_datatables-dj-tables.html" %}
        {% endwith %}
        {% endwith %}
        
        <br/><br/>
        <h2>{% trans "Administrative contacts" %}</h2>
        
        <table class="table table-hover table-striped table-condensed table-bordered" id="admin_contacts_table" width="100%">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Company" %}</th>
                <th>{% trans "Function" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "Mobile phone" %}</th>
                <th>{% trans "Fax" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for admincontact in administrative_contacts %}
                <tr>
                    <td>
                    {% if admincontact.contact %}
                        {% if pydici_feature.contacts_write %}
                            <a rel=external href="{% url 'crm:contact_update' admincontact.contact.id %}?return_to={{ request.get_full_path }}">
                            {{ admincontact.contact.name }}
                            </a>
                        {% else %}
                            {{ admincontact.contact.name }}
                        {% endif %}
                    {% endif %}
                    </td>
                   <td>{{ admincontact.company }}</td>
                   <td>{{ admincontact.function }}</td>
                   <td>{{ admincontact.email|urlize }}</td>
                   <td>{{ admincontact.phone }}</td>
                   <td>{{ admincontact.contact.mobile_phone }}</td>
                   <td>{{ admincontact.fax }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% with "admin_contacts_table" as table_id %}
             {% include "core/_datatables-dj-tables.html" %}
        {% endwith %}
        {% if pydici_feature.contacts_write %}
        <br/><a class="btn btn-default" href="{% url 'crm:administrative_contact_add' %}?company={{ company.id|safe }}&return_to={{ request.get_full_path }}">{% trans "New administrative contact" %}</a></i>
        {% endif %}
    </div>

    <div id="tab-rates-margin" class="tab-pane fade"></div>

    <div id="tab-billing" class="tab-pane fade"></div>

    <div id="tab-reporting" class="tab-pane fade"></div>

    <div id="tab-all-companies" class="tab-pane fade">
        {% include "crm/_clientcompany_list.html" %}
    </div>

</div> <!-- End of tabs div -->

{% endblock %}
