{% extends "core/pydici.html" %}

{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Contact detail" %} {{ contact }}{% endblock %}

{% block extrajs %}

<script src="{{ MEDIA_URL }}js/mermaid-11.14.min.js"></script>

{% endblock %}

{% block content %}

<div class="row mt-2">
    <div class="col-md-4">
        <table class="table table-hover table-striped">
        <tr><th><i class="bi bi-person"></i> {% trans "name" %}</th><td>{{ contact.name }}</td></tr>
        <tr><th><i class="bi bi-telephone"></i> {% trans "phone" %}</th><td>{{ contact.phone }}</td></tr>
        <tr><th><i class="bi bi-phone"></i> {% trans "mobile phone" %}</th><td>{{ contact.mobile_phone }}</td></tr>
        <tr><th><i class="bi bi-envelope"></i> {% trans "email" %}</th><td>{{ contact.email|urlize }}</td></tr>
        <tr><th><i class="bi bi-briefcase"></i> {% trans "function" %}</th><td>{{ contact.function }}</td></tr>
        <tr><th><i class="bi bi-house"></i> {% trans "companies" %}</th><td>{{ contact.companies_html}}</td></tr>
        </table>
    </div>
    <div class="col-md-8">
        <h4>{% trans "Commercial activities for this contact" %}</h4>
        {% with data_url=contact_activities_data_url %}
            {% include "leads/_activities_table.html" %}
        {% endwith %}
        <a href="{% url 'leads:activity' %}?contact={{ contact.id | unlocalize }}" class="btn btn-primary"><i class="bi bi-plus"></i> {% trans "New activity for this contact" %}</a>
    </div>
</div>

{% if pydici_feature.contacts_write %}
    <a role="button" class="btn btn-primary" href="{% url 'crm:contact_update' contact.id %}">{% trans "edit" %}</a>
    <a role="button" class="btn btn-danger" style="color:#FFFFFF" href="{% url 'crm:contact_delete' contact.id %}">{% trans "delete" %}</a>
<br/><br/>
{% endif %}


<pre class="mermaid">
graph LR
{{ contact.relationData|safe }}
</pre>


{% endblock %}
