{% extends "core/pydici.html" %}

{% load i18n %}

{% block title %}{% trans "Contact detail" %} {{ contact }}{% endblock %}

{% block extrajs %}

<script src="{{ MEDIA_URL }}js/d3.v3.min.js"></script>
<script src="{{ MEDIA_URL }}js/dagre-d3.min.js"></script>


{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <table class="table table-hover table-striped">
        <tr><th><span class="glyphicon glyphicon-user"></span> {% trans "name" %}</th><td>{{ contact.name }}</td></tr>
        <tr><th><span class="glyphicon glyphicon-earphone"></span> {% trans "phone" %}</th><td>{{ contact.phone }}</td></tr>
        <tr><th><span class="glyphicon glyphicon-phone"></span> {% trans "mobile phone" %}</th><td>{{ contact.mobile_phone }}</td></tr>
        <tr><th><span class="glyphicon glyphicon-print"></span> {% trans "fax" %}</th><td>{{ contact.fax }}</td></tr>
        <tr><th><span class="glyphicon glyphicon-envelope"></span> {% trans "email" %}</th><td>{{ contact.email|urlize }}</td></tr>
        <tr><th><span class="glyphicon glyphicon-briefcase"></span> {% trans "function" %}</th><td>{{ contact.function }}</td></tr>
        <tr><th><span class="glyphicon glyphicon-home"></span> {% trans "companies" %}</th><td>{{ contact.companies_html}}</td></tr>
        </table>
    </div>
    <div class="col-md-6">
        <!-- placeholder for photo -->
    </div>
</div>

{% if pydici_feature.contacts_write %}
    <a role="button" class="btn btn-default" href="{% url 'crm:contact_update' contact.id %}">{% trans "edit" %}</a>
    <a role="button" class="btn btn-danger" style="color:#FFFFFF" href="{% url 'crm:contact_delete' contact.id %}">{% trans "delete" %}</a>
<br/><br/>
{% endif %}


<style>
svg {
    overflow: hidden;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

</style>
            <svg width="100%" height="500px">
                <g />
            </svg>


<script type="text/javascript">
<!--
$(document).ready(function() {
  
    {{ contact.relationData|safe }}
    
    var g = dagreD3.json.decode(nodes, edges);
    var layout = dagreD3.layout()
                    .nodeSep(20)
                    .rankDir("LR");
    var renderer = new dagreD3.Renderer();
    renderer.zoom(false);
    renderer.layout(layout).run(g, d3.select("svg g"));

    $('.graph-tooltip').tooltip({
        "container": "body"
    });

});
-->
</script>


{% endblock %}
