{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

<div class="modal-dialog modal-xl">
<div class="modal-content">
    <div class="modal-header">
    <h1 class="modal-title">{% trans "New contact" %}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
    </div>
    <div class="modal-body">
        <form method="post" id="pydici-ajax-form-contact" action="{% url 'crm:contact_popup' %}" novalidate>
            {% crispy contactForm contactForm.inline_helper %}
            <button type="button" name="submit" class="btn btn-primary"
                hx-post="{% url 'crm:contact_popup' %}" hx-target="#contactModal"
                data-bs-dismiss="modal">{% trans "Save" %}</button>
        </form>
    </div>
</div>
</div>

{# Out of band update for the contact select #}
<div id="id_contact" hx-swap-oob="innerHTML">
    <option value="{{ contact.id | unlocalize }}">{{ contact }}</option>
</div>

{% if contactForm.errors %}
    {# in case of error display modal #}
    <script>
      var contactModalEl = document.getElementById('contactModal');
      var contactModal = new bootstrap.Modal(contactModalEl);
      contactModal.show();
    </script>
{% endif %}

{% with "contactModal" as modal_id %}
    {% include "core/_select2_bs_modal.html" %}
{% endwith %}
