{# Fragment that display company business activity to be included with a jquery load #}
{# One must include in its extrajs block core/_jqplot.html to load according js/css #}
{% load i18n %}


<div id="company_business_activity_jqp" style="height: 400px;"></div>

<script type="text/javascript">
$(document).ready(function() {
$.jqplot.config.enablePlugins = true;
var plot_company_business_activity_jqp = $.jqplot('company_business_activity_jqp',  {{ graph_data|safe }}, {
    animate : false,
    stackSeries: true,
    captureRightClick: true,
    seriesColors: {{ series_colors|safe }},
    seriesDefaults:{
      renderer:$.jqplot.BarRenderer,
      pointLabels: {show: false},
          rendererOptions: {
          barMargin: 20,
          barWidth: 15,
      },
    },
    series:[
         {
            label: "{% trans 'Billing' %}",
             renderer: $.jqplot.LineRenderer,
             rendererOptions: { smooth: true },
             highlightColors : 'blue', // useless, only here to avoid a warning
             fill: true,
             fillAlpha: 0.4,
             fillAndStroke : true,
             pointLabels: {show: true},
             markerOptions : { size : 5},
             rendererOptions: {
                lineWidth: 2,
             },
            disableStack : true,
        },
         {
              label: "{% trans 'Lost leads' %}",
              yaxis: 'y2axis',
              disableStack : true,
         },
         {
             label: "{% trans 'Won leads' %}",
             yaxis: 'y2axis',
         },
         {
             label: "{% trans 'Current leads' %}",
             yaxis: 'y2axis',
         }
        ],
    axes: {
      xaxis: {
          renderer: $.jqplot.DateAxisRenderer,
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
          tickRenderer: $.jqplot.CanvasAxisTickRenderer,
          tickOptions:{
              formatString:'%b %y',
              angle: -40 
          },
          min: '{{ min_date }}',
          tickInterval: '1 month',
      },
      yaxis: {
          syncTicks : true,
          label: "{% trans 'k€' %}",
          min : 0,
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
          tickRenderer: $.jqplot.CanvasAxisTickRenderer,
          tickOptions: { formatString: '%dk€' },
      },
      y2axis: {
          min : 0,
          pad : 1.2,
          tickInterval: 1,
          syncTicks : true,
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
          tickRenderer: $.jqplot.CanvasAxisTickRenderer,
      }
    },
    legend: {
        show:true,
         location: 'e',
         placement: 'outsideGrid',
    },
    highlighter: {
        tooltipAxes: 'y',
        showLabel: true,
        sizeAdjust: 7.5,
    },
});

{% with "plot_company_business_activity_jqp" as plot %}
{% include "core/_jqplot_resize.html" %}
{% endwith %}


}); // End of ready()
</script>