{# This template fragment is the common part between lead and user actions #}
{# It is not intented to be included directly #}
{# Context/Argument: actions (list of actionstates) #}

{% load i18n %}
{% load l10n %}

<ul class="more-items icon-list checkmark">
{% for action in actions %}
    <div id="action_{{ action.id|unlocalize }}">
        <li><a href="#" data-toggle="modal" data-target="#action_tooltip_{{ action.id|unlocalize }}">{{ action.short_name }}</a></li>
    </div>
    <div id="action_tooltip_{{ action.id|unlocalize }}" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"><strong>{{ action.action }}</strong></h4>
                    </div>
                    <div class="modal-body">
                        {% if action.action.description %}<p><em>{{ action.action.description|urlize }}</em></p><br/>{% endif %}
                        {% block action_target %}{% if action.target %}
                            <p><strong>{% trans "Scope: " %}</strong>
                            {% if action.target.get_absolute_url %}
                                <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                            {% else %}
                                {{ action.target }}
                            {% endif %}
                            </p><br/>
                        {% endif %}{% endblock %}
                        {% block action_user %}<p><strong>{% trans "User: " %}</strong>{{ action.user }}</p><br/>{% endblock %}
                        {% ifequal request.user action.user %}
                        <div>
                            <button type="button" class="btn btn-default"
                              onClick="$.get('{% url 'actionset:update_action_state' action.id|unlocalize 'DONE' %}',
                                              process_update_action_state);">
                              {% trans "Mark as done" %}</button>
                           
                           <button type="button" class="btn btn-default" 
                              onClick="$.get('{% url 'actionset:update_action_state' action.id|unlocalize 'NA' %}',
                                              process_update_action_state);">
                              {% trans "N/A" %}</button>
                           
                           <button type="button" class="btn btn-default" 
                              onClick="call_deleguate_action('{% url 'actionset:update_action_state' action.id|unlocalize 'DELEGUATE' %}', '{{ action.id|unlocalize }}');">
                              {% trans "Delegate to: " %}</button>
                           {% for field in action.delegateForm %}<div class="force_child_span_inline">{{ field }}</div>{% endfor %}
                           
                         </div>
                         {% endifequal %}
                    </div>
                </div>
            </div>
      </div>
{% empty %}
    {% trans "No pending action" %}
{% endfor %}

</ul>

<script type="text/JavaScript">
<!--
// Function call URL for deleguate
function call_deleguate_action(url, action_id) {
    var username = "";
    var selected = $("#deleguate_user_"+ action_id).children()
    if (selected.length == 1) {
        username = selected[0].text;
    }
    $.get(url + '?username=' + username, process_update_action_state);
};

// Function that process ajax callback
function process_update_action_state(data) {
    if (data.error==true) {
        alert("{% trans 'You are not allowed to do that' %}");
    }
    else {
        $("#action_" + data.id).hide("slow");
        $("#action_tooltip_" + data.id).modal('hide');
        $("#action_" + data.id).remove();
        limit_action_list(); // Update to 5 first actions
    }
};
// Script to limit action list to 5 first
function limit_action_list() {
  $("ul.more-items").each(function() {
    $("li:lt(5)", this).show("slow");
    $("li:gt(4)", this).hide();
    $("#more-items-flag").remove() // Remove "..." entry to avoid duplicates
    $("li:eq(5)", this).after("<li id='more-items-flag'>...</li>");
  });
};

$(document).ready(function(){

    // Call it once. Then it is called after each action update
    limit_action_list();
    
    // Fix focus issue of select2 inside a bootstrap modal
    //$.fn.modal.Constructor.prototype.enforceFocus = function() {};

    // Call select2
    $('.django-select2').djangoSelect2({ "theme": "bootstrap",  "width": "100px"});

});
-->
</script>
