{# This template fragment can be included to display user action #}
{# Context/Argument: consultant #}

{% load i18n %}

<ul>
{% for action in consultant.actions %}
    <div id="action_{{action.id}}">
		<li><a href="#action_tooltip_{{action.id}}" class="tooltiplink">{{ action.action }}</a></li>
		<div id="action_tooltip_{{action.id}}" class="tooltip">
		<h4>{{ action.action }}</h4>
		{% if action.action.description %}<p><em>{{ action.action.description }}</em></p><br/>{% endif %}
		{% if action.target %}<p><strong>{% trans "Scope: " %}</strong>{{ action.target }}</p><br/>{% endif %}		    
		<p><a href="javascript:;" 
		      onClick="$.get('{% url pydici.actionset.views.update_action_state action.id 'DONE' %}')
		                    .success(process_update_action_state);">
		      {% trans "Done" %}</a>
		   &nbsp;-&nbsp;
		   <a href="javascript:;" 
              onClick="$.get('{% url pydici.actionset.views.update_action_state action.id 'NA' %}')
                            .success(process_update_action_state);">
              {% trans "N/A" %}</a>
           &nbsp;-&nbsp;
	       {% trans "Delegate" %}
	     </p>		
		</div>
	</div>
{% empty %}
    {% trans "No pending action" %}
{% endfor %}

</ul>

<script type="text/JavaScript">
<!--     
    $("a.tooltiplink").simpletooltip({margin : 100,
                                      click : true,
                                      showEffect: "fadeIn", hideEffect: "fadeOut" });
    // Functions that process ajax callback
    function process_update_action_state(data) {
        if (data.error==true) {
            alert('error');
        }
        else {            
            $("#action_" + data.id).hide("slow");
            $("#action_tooltip_" + data.id).hide("fast");
        }
    };
-->
</script>