{% extends "core/pydici.html" %}

{% load i18n %}
{% load l10n %}
{% load pydici_filters %}

{% block title %}{% trans "Action sets" %}{% endblock %}

{% block content %}

{% for actionset in actionsets %}
    <h1>{% if can_change %}<a href="{% url 'admin:actionset_actionset_change' actionset.id %}">{{ actionset }}</a>{% else %}{{ actionset }}{% endif %}</h1>
    {% if not actionset.active %}<p><strong>{% trans "This actionset is inactive" %}</strong></p>{% endif %}
    <p><em>{{ actionset.description }}</em></p>
    <ul>
    {% for action in actionset.action_set.all %}
        <li><strong>{% if can_change %}<a href="{% url 'admin:actionset_action_change' action.id|unlocalize %}">{{ action.name }}</a>{% else %}{{ action.name }}{% endif %}</strong> : <em>{{ action.description|urlize }}</em></li>
    {% endfor %}
    </ul>
    <br/><hr/><br/>
{% endfor %}

<br/>
{% if perms.actionset.change_actionstate %}
<a href="{% url 'admin:actionset_actionstate_changelist' %}">{% trans "Pending action tracking" %}</a>
{% endif %}

{% endblock %}